Repository blockprotocol/blockprotocol, changes with the labels that .github/labeler.yml gives for each.
All labels: area: dependencies, area: hub, area: infra, area: packages, area: site, area: spec, package: block-template, package: blockprotocol, package: create-block-app, package: mock-block-dock, site: docs

.github/labeler.yml:

"area: dependencies":
  - "**/patches/*"
  - "**/patches/.*"
  - "**/patches/**/*"
  - "**/patches/**/.*"
  - "**/yarn.lock"

"area: hub":
  - "hub/*"
  - "hub/.*"
  - "hub/**/*"
  - "hub/**/.*"

"area: infra":
  - ".github/*"
  - ".github/.*"
  - ".github/**/*"
  - ".github/**/.*"
  - ".husky/*"
  - ".husky/.*"
  - "scripts/*"
  - "scripts/.*"
  - "scripts/**/*"
  - "scripts/**/.*"
  - "*"
  - ".*"

"area: packages":
  - "packages/*"
  - "packages/.*"
  - "packages/**/*"
  - "packages/**/.*"

"area: site":
  - "site/*"
  - "site/.*"
  - "site/**/*"
  - "site/**/.*"

"area: spec":
  - "site/src/_pages/spec/*"
  - "site/src/_pages/spec/.*"
  - "site/src/_pages/spec/**/*"
  - "site/src/_pages/spec/**/.*"

"package: block-template":
  - "packages/block-template/*"
  - "packages/block-template/.*"
  - "packages/block-template/**/*"
  - "packages/block-template/**/.*"

"package: blockprotocol":
  - "packages/blockprotocol/*"
  - "packages/blockprotocol/.*"
  - "packages/blockprotocol/**/*"
  - "packages/blockprotocol/**/.*"

"package: create-block-app":
  - "packages/create-block-app/*"
  - "packages/create-block-app/.*"
  - "packages/create-block-app/**/*"
  - "packages/create-block-app/**/.*"

"package: mock-block-dock":
  - "packages/mock-block-dock/*"
  - "packages/mock-block-dock/.*"
  - "packages/mock-block-dock/**/*"
  - "packages/mock-block-dock/**/.*"

"site: docs":
  - "site/src/_pages/docs/*"
  - "site/src/_pages/docs/.*"
  - "site/src/_pages/docs/**/*"
  - "site/src/_pages/docs/**/.*"

feat: read repository from hub as a fallback
  hub/@shinypb/emoji-trading-cards.json
  site/src/_pages/docs/2_publishing-blocks.mdx
  site/src/lib/blocks.ts
Labels: area: hub, area: site, site: docs

chore: update docs to change workspace copy
  site/src/_pages/docs/2_publishing-blocks.mdx
Labels: area: site, site: docs

fix: remove console statements
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/[blockSlug].page.tsx
Labels: area: site

refactor: simplify blocks parsing code
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/[blockSlug].page.tsx
Labels: area: site

Add shortname index on user collection (#207)
  site/scripts/create-db-indexes.ts
Labels: area: site

Deduplicate deps
  site/package.json
  yarn.lock
Labels: area: dependencies, area: infra, area: site

Restore typings
  site/package.json
  yarn.lock
Labels: area: dependencies, area: infra, area: site

fix: improve type safety of MUI shadows
  site/src/theme/shadows.ts
Labels: area: site

fix: remove unneeded workspace
  hub/@shinypb/emoji-trading-cards.json
Labels: area: hub
