Repository blockprotocol/blockprotocol, changes with the labels that .github/labeler.yml gives for each.
All labels: area: dependencies, area: hub, area: infra, area: packages, area: site, area: spec, package: block-scripts, package: block-template-custom-element, package: block-template-html, package: block-template-react, package: blockprotocol, package: Þ core, package: create-block-app, package: Þ graph, package: mock-block-dock, site: docs

.github/labeler.yml:

"area: dependencies":
  - "**/patches/*"
  - "**/patches/.*"
  - "**/patches/**/*"
  - "**/patches/**/.*"
  - "**/yarn.lock"

"area: hub":
  - "hub/*"
  - "hub/.*"
  - "hub/**/*"
  - "hub/**/.*"

"area: infra":
  - ".github/*"
  - ".github/.*"
  - ".github/**/*"
  - ".github/**/.*"
  - ".husky/*"
  - ".husky/.*"
  - "scripts/*"
  - "scripts/.*"
  - "scripts/**/*"
  - "scripts/**/.*"
  - "*"
  - ".*"

"area: packages":
  - "packages/*"
  - "packages/.*"
  - "packages/**/*"
  - "packages/**/.*"

"area: site":
  - "site/*"
  - "site/.*"
  - "site/**/*"
  - "site/**/.*"

"area: spec":
  - "site/src/_pages/spec/*"
  - "site/src/_pages/spec/.*"
  - "site/src/_pages/spec/**/*"
  - "site/src/_pages/spec/**/.*"

"package: block-scripts":
  - "packages/block-scripts/*"
  - "packages/block-scripts/.*"
  - "packages/block-scripts/**/*"
  - "packages/block-scripts/**/.*"

"package: block-template-custom-element":
  - "packages/block-template-custom-element/*"
  - "packages/block-template-custom-element/.*"
  - "packages/block-template-custom-element/**/*"
  - "packages/block-template-custom-element/**/.*"

"package: block-template-html":
  - "packages/block-template-html/*"
  - "packages/block-template-html/.*"
  - "packages/block-template-html/**/*"
  - "packages/block-template-html/**/.*"

"package: block-template-react":
  - "packages/block-template-react/*"
  - "packages/block-template-react/.*"
  - "packages/block-template-react/**/*"
  - "packages/block-template-react/**/.*"

"package: blockprotocol":
  - "packages/blockprotocol/*"
  - "packages/blockprotocol/.*"
  - "packages/blockprotocol/**/*"
  - "packages/blockprotocol/**/.*"

"package: Þ core":
  - "packages/@blockprotocol/core/*"
  - "packages/@blockprotocol/core/.*"
  - "packages/@blockprotocol/core/**/*"
  - "packages/@blockprotocol/core/**/.*"

"package: create-block-app":
  - "packages/create-block-app/*"
  - "packages/create-block-app/.*"
  - "packages/create-block-app/**/*"
  - "packages/create-block-app/**/.*"

"package: Þ graph":
  - "packages/@blockprotocol/graph/*"
  - "packages/@blockprotocol/graph/.*"
  - "packages/@blockprotocol/graph/**/*"
  - "packages/@blockprotocol/graph/**/.*"

"package: mock-block-dock":
  - "packages/mock-block-dock/*"
  - "packages/mock-block-dock/.*"
  - "packages/mock-block-dock/**/*"
  - "packages/mock-block-dock/**/.*"

"site: docs":
  - "site/src/_pages/docs/*"
  - "site/src/_pages/docs/.*"
  - "site/src/_pages/docs/**/*"
  - "site/src/_pages/docs/**/.*"

Do not require changeset markdowns in private packages (#590)
  patches/@changesets+git+1.4.1.patch
Labels: area: dependencies

add line wrapping to mobile breadcrumbs (#591)
  site/src/components/navbar/mobile-breadcrumbs.tsx
Labels: area: site

Fix
  .changeset/silver-ravens-yell.md
  packages/blockprotocol/cli.js
  packages/blockprotocol/cli/commands.js
  packages/blockprotocol/cli/commands/publish.js
  packages/blockprotocol/cli/commands/publish/does-user-agree.js
  packages/blockprotocol/cli/commands/publish/find-api-key.js
  packages/blockprotocol/cli/commands/publish/find-block-folder.js
  packages/blockprotocol/cli/commands/publish/post-form.js
  packages/blockprotocol/package.json
  yarn.lock
Labels: area: dependencies, area: infra, area: packages, package: blockprotocol

add changesets
  .changeset/add-missing-graph-type.md
  .changeset/improve-mbd-clarity.md
Labels: none

Tweak
  packages/blockprotocol/cli/commands/publish/post-form.js
Labels: area: packages, package: blockprotocol

lint fixes
  packages/mock-block-dock/src/debug-view/header.tsx
  packages/mock-block-dock/src/use-send-graph-value.ts
Labels: area: packages, package: mock-block-dock

Enable TSC in `blockprotocol` package (#584)
  .changeset/silver-ravens-yell.md
  packages/blockprotocol/cli.js
  packages/blockprotocol/cli/commands.js
  packages/blockprotocol/cli/commands/publish.js
  packages/blockprotocol/cli/commands/publish/does-user-agree.js
  packages/blockprotocol/cli/commands/publish/find-api-key.js
  packages/blockprotocol/cli/commands/publish/find-block-folder.js
  packages/blockprotocol/cli/commands/publish/post-form.js
  packages/blockprotocol/package.json
  packages/blockprotocol/tsconfig.json
  yarn.lock
Labels: area: dependencies, area: infra, area: packages, package: blockprotocol

fix DOM nesting and missing value issue
  packages/mock-block-dock/src/debug-view/dev-tools.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/tab-panel.tsx
Labels: area: packages, package: mock-block-dock

catch potential crash in asset plugin
  .changeset/catch-block-scripts-crash.md
  packages/block-scripts/shared/block-assets-plugin.js
Labels: area: packages, package: block-scripts

Fix some issues
  package.json
  packages/@blockprotocol/type-system-node/tsconfig.json
  packages/@blockprotocol/type-system-web/tsconfig.json
  packages/@local/tsconfig/dom.json
  packages/mock-block-dock/package.json
  site/package.json
  yarn.lock
Labels: area: dependencies, area: infra, area: packages, area: site, package: mock-block-dock

fix quotes
  packages/block-scripts/shared/block-assets-plugin.js
  packages/block-template-react/src/dev.tsx
Labels: area: packages, package: block-scripts, package: block-template-react

Update dev.tsx
  packages/block-template-react/src/dev.tsx
Labels: area: packages, package: block-template-react

Bump
  package.json
  yarn.lock
Labels: area: dependencies, area: infra

Remove resolutions
  package.json
  yarn.lock
Labels: area: dependencies, area: infra

fix: RFC link type URIs
  rfcs/text/0352-graph-type-system.md
Labels: none

wip
  packages/block-template-react/src/app.tsx
Labels: area: packages, package: block-template-react

Improve typings
  packages/blockprotocol/cli/commands/publish/post-form.js
  packages/blockprotocol/tsconfig.json
Labels: area: packages, package: blockprotocol

Add skipLibCheck to site
  site/tsconfig.json
Labels: area: site

Update tab-panel.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/tab-panel.tsx
Labels: area: packages, package: mock-block-dock

Catch potential crash in asset plugin (#596)
  .changeset/catch-block-scripts-crash.md
  packages/block-scripts/shared/block-assets-plugin.js
Labels: area: packages, package: block-scripts

Replace dom+jsx with dom in `@blockprotocol/*` packages
  packages/@blockprotocol/core/tsconfig.json
  packages/@blockprotocol/graph/tsconfig.json
  packages/@blockprotocol/hook/tsconfig.json
Labels: area: packages, package: Þ core, package: Þ graph

fix: RFC link type URIs (#597)
  rfcs/text/0352-graph-type-system.md
Labels: none

Use `--skipLibCheck` in `build`
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/hook/package.json
  packages/mock-block-dock/package.json
Labels: area: packages, package: Þ core, package: Þ graph, package: mock-block-dock
