Repository blockprotocol/blockprotocol, changes with the labels that .github/labeler.yml gives for each.
All labels: area: apps, area: apps > site, area: blocks, area: dependencies, area: infra, area: libs, area: tests, area: user success, area: user success > docs, area: user success > rfcs, area: user success > spec, area: libs > @Þ/core, area: libs > @Þ/design-system, area: libs > @Þ/graph, area: libs > @Þ/hook, area: libs > @Þ/type-system, area: libs > @local/*, area: libs > block-scripts, area: libs > block-template-custom-element, area: libs > block-template-html, area: libs > block-template-react, area: libs > blockprotocol, area: libs > create-block-app, area: libs > mock-block-dock, area: libs > wordpress-plugin, type: frontend, type: writing

debug block sandbox redirect loop (#1329)
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/return-types-as-json.ts
Labels: area: apps, area: apps > site

remove debug logs
  apps/site/src/middleware.page.ts
Labels: area: apps, area: apps > site

fix versioned url validator
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/return-types-as-json.ts
Labels: area: apps, area: apps > site

Remove debug logs, fix type RegExp check (#1330)
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/return-types-as-json.ts
Labels: area: apps, area: apps > site

don't import wasm into middleware
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/return-types-as-json.ts
Labels: area: apps, area: apps > site

remove unused import
  apps/site/src/middleware.page.ts
Labels: area: apps, area: apps > site

Fix site middleware (#1331)
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/return-types-as-json.ts
Labels: area: apps, area: apps > site

update type kind matching logic for new regexp
  apps/site/src/middleware.page/return-types-as-json.ts
Labels: area: apps, area: apps > site

update type kind matching logic for new regexp (#1332)
  apps/site/src/middleware.page/return-types-as-json.ts
Labels: area: apps, area: apps > site

GEN-101: Set `poweredByHeader` to `false
  apps/site/next.config.js
Labels: area: apps, area: apps > site

GEN-101: Set `poweredByHeader` to `false (#1333)
  apps/site/next.config.js
Labels: area: apps, area: apps > site

Rename `repr` module to `raw`
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/wasm.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/wasm.rs
  libs/@blockprotocol/type-system/crate/src/ontology/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/wasm.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/all_of/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/all_of/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/array/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/array/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/one_of/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/one_of/raw.rs
  libs/@blockprotocol/type-system/crate/src/utils.rs
Labels: area: apps, area: libs

Rename `repr` module to `raw` (#1335)
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/wasm.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/wasm.rs
  libs/@blockprotocol/type-system/crate/src/ontology/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/wasm.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/all_of/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/all_of/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/array/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/array/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/one_of/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/one_of/raw.rs
  libs/@blockprotocol/type-system/crate/src/utils.rs
Labels: area: apps, area: libs

Update type-system crates and toolchain
  libs/@blockprotocol/type-system/crate/Cargo.toml
  libs/@blockprotocol/type-system/crate/rust-toolchain.toml
  libs/@blockprotocol/type-system/crate/src/lib.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/url/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/url/wasm.rs
Labels: area: apps, area: libs

Install correct Rust version in Vercel
  apps/site/vercel-install.sh
Labels: area: apps, area: apps > site

Add note to `rust-toolchain.toml` to update Vercel as well
  libs/@blockprotocol/type-system/crate/rust-toolchain.toml
Labels: area: apps, area: libs

Bump `wasm-pack`
  libs/@blockprotocol/type-system/crate/.justfile
Labels: area: apps, area: libs

BP-58: Update type-system crates and toolchain (#1336)
  apps/site/vercel-install.sh
  libs/@blockprotocol/type-system/crate/.justfile
  libs/@blockprotocol/type-system/crate/Cargo.toml
  libs/@blockprotocol/type-system/crate/rust-toolchain.toml
  libs/@blockprotocol/type-system/crate/src/lib.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/url/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/url/wasm.rs
Labels: area: apps, area: apps > site, area: libs

update sentry config
  apps/site/sentry.edge.config.ts
Labels: area: apps, area: apps > site

Fix broken jumplinks
  apps/site/src/_pages/legal/terms/00_index.mdx
Labels: area: apps, area: apps > site, type: writing

Fix broken jumplinks (#1346)
  apps/site/src/_pages/legal/terms/00_index.mdx
Labels: area: apps, area: apps > site, type: writing

refactor: force non-temporal methods to return non-temporal subgraph when receiving a temporal subgraph
  libs/@blockprotocol/graph/src/non-temporal/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/edge/link-entity.ts
Labels: area: apps, area: libs, area: libs > @Þ/graph

ft: add `rewriteTypeId` parameter to codegen
  libs/@blockprotocol/graph/src/codegen/initialize/traverse-and-collate-schemas.ts
  libs/@blockprotocol/graph/src/codegen/parameters.ts
Labels: area: apps, area: libs, area: libs > @Þ/graph

fix: gracefully handle empty intersections when traversing edges
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/edge/link-entity.ts
Labels: area: apps, area: libs, area: libs > @Þ/graph

ft: add changeset
  .changeset/hungry-pears-cough.md
Labels: area: apps

fix: convert changeset to patch
  .changeset/hungry-pears-cough.md
Labels: area: apps

refactor: rename `rewriteTypeId` to `getFetchUrlFromTypeId` and add comment
  .changeset/hungry-pears-cough.md
  libs/@blockprotocol/graph/src/codegen/initialize/traverse-and-collate-schemas.ts
  libs/@blockprotocol/graph/src/codegen/parameters.ts
Labels: area: apps, area: libs, area: libs > @Þ/graph

temporarily convert changesets to canary releases
  .changeset/hungry-pears-cough.md
  .changeset/soft-years-help.md
  apps/site/package.json
  blocks/feature-showcase/CHANGELOG.md
  blocks/feature-showcase/package.json
  libs/@blockprotocol/graph/CHANGELOG.md
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/hook/CHANGELOG.md
  libs/@blockprotocol/hook/package.json
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: area: apps, area: apps > site, area: blocks, area: libs, area: libs > @Þ/graph, area: libs > @Þ/hook, area: libs > block-scripts, area: libs > block-template-custom-element, area: libs > block-template-html, area: libs > block-template-react, area: libs > mock-block-dock

Revert "temporarily convert changesets to canary releases"
  .changeset/hungry-pears-cough.md
  .changeset/soft-years-help.md
  apps/site/package.json
  blocks/feature-showcase/CHANGELOG.md
  blocks/feature-showcase/package.json
  libs/@blockprotocol/graph/CHANGELOG.md
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/hook/CHANGELOG.md
  libs/@blockprotocol/hook/package.json
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: area: apps, area: apps > site, area: blocks, area: libs, area: libs > @Þ/graph, area: libs > @Þ/hook, area: libs > block-scripts, area: libs > block-template-custom-element, area: libs > block-template-html, area: libs > block-template-react, area: libs > mock-block-dock

chore: copy change
  libs/@blockprotocol/graph/src/codegen/parameters.ts
Labels: area: apps, area: libs, area: libs > @Þ/graph

H-1345: Refactor non-temporal BP methods to always have non-temporal returns (#1349)
  .changeset/hungry-pears-cough.md
  libs/@blockprotocol/graph/src/codegen/initialize/traverse-and-collate-schemas.ts
  libs/@blockprotocol/graph/src/codegen/parameters.ts
  libs/@blockprotocol/graph/src/non-temporal/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/edge/link-entity.ts
Labels: area: apps, area: libs, area: libs > @Þ/graph

Implement (de)serialize directly on ontology types
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/all_of/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/mod.rs
Labels: area: apps, area: libs

Remove unneeded bounds on `type-system` crate
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/mod.rs
Labels: area: apps, area: libs

Make enum-tuple a enum-struct
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/mod.rs
Labels: area: apps, area: libs

BP-70, BP-59: Implement (de)serialize directly on ontology types (#1350)
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/all_of/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/mod.rs
Labels: area: apps, area: libs

fix non-temporal stdlib functions
  libs/@blockprotocol/graph/src/non-temporal/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/edge/link-entity.ts
Labels: area: apps, area: libs, area: libs > @Þ/graph

fix non-temporal stdlib functions (#1351)
  libs/@blockprotocol/graph/src/non-temporal/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/edge/link-entity.ts
Labels: area: apps, area: libs, area: libs > @Þ/graph

.github/labeler.yml:

"area: apps":
  - "apps/**"
  - "!apps/site/src/_pages/**"

"area: apps > site":
  - "apps/site/**"

"area: blocks":
  - "blocks/**"

"area: dependencies":
  - "**/patches/**"
  - "**/yarn.lock"

"area: infra":
  - ".changeset/config.json"
  - ".config/**"
  - ".github/**"
  - ".husky/**"
  - "infra/**"
  - "*"

"area: libs":
  - "libs/**"

"area: tests":
  - "**/*.test.ts"
  - "**/tests/**"

"area: user success":
  - "apps/site/src/_pages/docs/**"
  - "apps/site/src/_pages/spec/**"
  - "apps/site/src/_pages/roadmap/**"
  - "rfcs"

"area: user success > docs":
  - "apps/site/src/_pages/docs/**"

"area: user success > rfcs":
  - "rfcs/**"

"area: user success > spec":
  - "apps/site/src/_pages/spec/**"

"area: libs > @Þ/core":
  - "libs/@blockprotocol/core/**"

"area: libs > @Þ/design-system":
  - "libs/@blockprotocol/design-system/**"

"area: libs > @Þ/graph":
  - "libs/@blockprotocol/graph/**"

"area: libs > @Þ/hook":
  - "libs/@blockprotocol/hook/**"

"area: libs > @Þ/type-system":
  - "libs/@blockprotocol/type-system-node/**"
  - "libs/@blockprotocol/type-system-web/**"

"area: libs > @local/*":
  - "libs/@local/**"

"area: libs > block-scripts":
  - "libs/block-scripts/**"

"area: libs > block-template-custom-element":
  - "libs/block-template-custom-element/**"

"area: libs > block-template-html":
  - "libs/block-template-html/**"

"area: libs > block-template-react":
  - "libs/block-template-react/**"

"area: libs > blockprotocol":
  - "libs/blockprotocol/**"

"area: libs > create-block-app":
  - "libs/create-block-app/**"

"area: libs > mock-block-dock":
  - "libs/mock-block-dock/**"

"area: libs > wordpress-plugin":
  - "libs/wordpress-plugin/**"

"type: frontend":
  - "libs/@blockprotocol/design-system/**"

"type: writing":
  - "apps/site/src/_pages/**"
