Repository blockprotocol/blockprotocol, changes with the labels that .github/labeler.yml gives for each.
All labels: area: dependencies, area: hub, area: infra, area: packages, area: site, area: spec, package: block-scripts, package: block-template-custom-element, package: block-template-html, package: block-template-react, package: blockprotocol, package: Þ core, package: create-block-app, package: Þ graph, package: mock-block-dock, site: docs

Cleanup
  site/package.json
  site/src/lib/api/blocks/r2.ts
  yarn.lock
Labels: area: dependencies, area: infra, area: site

Run Changesets as linter (#579)
  .github/workflows/ci.yml
  package.json
Labels: area: infra

Revert "Introduce blockprotocol CLI (#575)"
  .changeset/add-bprc-to-templates
  .changeset/make-blockprotocol-a-cli.md
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  packages/@local/eslint-config/index.js
  packages/block-template-custom-element/.gitignore.dist
  packages/block-template-html/.gitignore.dist
  packages/block-template-react/.gitignore.dist
  packages/blockprotocol/README.md
  packages/blockprotocol/cli.js
  packages/blockprotocol/cli/commands.js
  packages/blockprotocol/cli/commands/help.js
  packages/blockprotocol/cli/commands/publish.js
  packages/blockprotocol/cli/commands/publish/does-user-agree.js
  packages/blockprotocol/cli/commands/publish/find-api-key.js
  packages/blockprotocol/cli/commands/publish/find-block-folder.js
  packages/blockprotocol/cli/commands/publish/post-form.js
  packages/blockprotocol/cli/commands/publish/shared/find-project-root.js
  packages/blockprotocol/cli/print-spacer.js
  packages/blockprotocol/core.d.ts
  packages/blockprotocol/core.js
  packages/blockprotocol/package.json
  packages/blockprotocol/react.d.ts
  packages/blockprotocol/react.js
  packages/blockprotocol/tsconfig.json
  site/README.md
  site/src/middleware.page.ts
  yarn.lock
Labels: area: dependencies, area: infra, area: packages, area: site, package: block-template-custom-element, package: block-template-html, package: block-template-react, package: blockprotocol

Revert "Introduce blockprotocol CLI (#575)" (#580)
  .changeset/add-bprc-to-templates
  .changeset/make-blockprotocol-a-cli.md
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  packages/@local/eslint-config/index.js
  packages/block-template-custom-element/.gitignore.dist
  packages/block-template-html/.gitignore.dist
  packages/block-template-react/.gitignore.dist
  packages/blockprotocol/README.md
  packages/blockprotocol/cli.js
  packages/blockprotocol/cli/commands.js
  packages/blockprotocol/cli/commands/help.js
  packages/blockprotocol/cli/commands/publish.js
  packages/blockprotocol/cli/commands/publish/does-user-agree.js
  packages/blockprotocol/cli/commands/publish/find-api-key.js
  packages/blockprotocol/cli/commands/publish/find-block-folder.js
  packages/blockprotocol/cli/commands/publish/post-form.js
  packages/blockprotocol/cli/commands/publish/shared/find-project-root.js
  packages/blockprotocol/cli/print-spacer.js
  packages/blockprotocol/core.d.ts
  packages/blockprotocol/core.js
  packages/blockprotocol/package.json
  packages/blockprotocol/react.d.ts
  packages/blockprotocol/react.js
  packages/blockprotocol/tsconfig.json
  site/README.md
  site/src/middleware.page.ts
  yarn.lock
Labels: area: dependencies, area: infra, area: packages, area: site, package: block-template-custom-element, package: block-template-html, package: block-template-react, package: blockprotocol

Rename add-bprc-to-templates to add-bprc-to-templates.md
  .changeset/add-bprc-to-templates.md
Labels: none

Introduce blockprotocol CLI (#581)
  .changeset/add-bprc-to-templates.md
  .changeset/make-blockprotocol-a-cli.md
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  packages/@local/eslint-config/index.js
  packages/block-template-custom-element/.gitignore.dist
  packages/block-template-html/.gitignore.dist
  packages/block-template-react/.gitignore.dist
  packages/blockprotocol/README.md
  packages/blockprotocol/cli.js
  packages/blockprotocol/cli/commands.js
  packages/blockprotocol/cli/commands/help.js
  packages/blockprotocol/cli/commands/publish.js
  packages/blockprotocol/cli/commands/publish/does-user-agree.js
  packages/blockprotocol/cli/commands/publish/find-api-key.js
  packages/blockprotocol/cli/commands/publish/find-block-folder.js
  packages/blockprotocol/cli/commands/publish/post-form.js
  packages/blockprotocol/cli/commands/publish/shared/find-project-root.js
  packages/blockprotocol/cli/print-spacer.js
  packages/blockprotocol/core.d.ts
  packages/blockprotocol/core.js
  packages/blockprotocol/package.json
  packages/blockprotocol/react.d.ts
  packages/blockprotocol/react.js
  packages/blockprotocol/tsconfig.json
  site/README.md
  site/src/middleware.page.ts
  yarn.lock
Labels: area: dependencies, area: infra, area: packages, area: site, package: block-template-custom-element, package: block-template-html, package: block-template-react, package: blockprotocol

update modal background gradient
  site/src/components/modal/login-modal.tsx
  site/src/components/pages/hub/block-tabs-modal.tsx
  site/src/components/search-nav-button.tsx
  site/src/theme/components/index.ts
  site/src/theme/components/utils/mui-modal-theme-options.ts
Labels: area: site

Expose registerCallbacks to end users. Fix related bug in mock-block-dock (#576)
  .changeset/expose-register-callbacks.md
  packages/@blockprotocol/core/src/service-handler.ts
  packages/@blockprotocol/graph/src/graph-block-handler.ts
  packages/@blockprotocol/graph/src/graph-embedder-handler.ts
  packages/mock-block-dock/src/mock-block-dock.tsx
Labels: area: packages, package: Þ core, package: Þ graph, package: mock-block-dock

Patch @changesets/get-dependents-graph
  patches/@changesets+get-dependents-graph+1.3.3.patch
Labels: area: dependencies

Patch @changesets/get-dependents-graph (#583)
  patches/@changesets+get-dependents-graph+1.3.3.patch
Labels: area: dependencies

Enable TSC in blockprotocol
  packages/blockprotocol/package.json
  packages/blockprotocol/tsconfig.json
Labels: area: packages, package: blockprotocol

Remove `skipLibCheck` from `tsconfig`
  packages/@local/tsconfig/node.json
Labels: area: packages

Do not run `changeset` in CI for Version Packages
  .github/workflows/ci.yml
Labels: area: infra

Bump changesets
  package.json
  yarn.lock
Labels: area: dependencies, area: infra

Do not run `changeset` linter in Version Packages PRs (#586)
  .github/workflows/ci.yml
  package.json
  yarn.lock
Labels: area: dependencies, area: infra

Version Packages (#578)
  .changeset/add-bprc-to-templates.md
  .changeset/expose-register-callbacks.md
  .changeset/make-blockprotocol-a-cli.md
  .changeset/tsconfig-update.md
  .changeset/tsconig-rebuild.md
  packages/@blockprotocol/core/CHANGELOG.md
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/graph/CHANGELOG.md
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/hook/CHANGELOG.md
  packages/@blockprotocol/hook/package.json
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-html/CHANGELOG.md
  packages/block-template-html/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/blockprotocol/CHANGELOG.md
  packages/blockprotocol/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
  site/package.json
Labels: area: packages, area: site, package: block-template-custom-element, package: block-template-html, package: block-template-react, package: blockprotocol, package: Þ core, package: Þ graph, package: mock-block-dock

fix mui scroll-lock header jump issue
  site/src/components/modal/login-modal.tsx
  site/src/components/modal/modal.tsx
  site/src/components/navbar.tsx
  site/src/components/popover.tsx
  site/src/util/mui-utils.tsx
Labels: area: site

remove popover override, we don't need it anymore
  packages/@local/eslint-config/index.js
  site/src/components/navbar/account-dropdown.tsx
  site/src/components/popover.tsx
Labels: area: packages, area: site

hide overflow-x on body, add changeset
  .changeset/rude-kiwis-tell.md
  site/src/theme/components/utils/mui-css-baseline-theme-options.ts
Labels: area: site

create a patch release for /graph
  .changeset/calm-lies-ring.md
  packages/@blockprotocol/graph/src/types.ts
Labels: area: packages, package: Þ graph

create a patch release for mbd
  .changeset/purple-ads-lick.md
  packages/mock-block-dock/src/data/entity-types.ts
Labels: area: packages, package: mock-block-dock

Fix linting
  site/README.md
  site/src/lib/api/blocks/from-tarball.ts
  site/src/lib/api/blocks/npm.ts
  site/src/lib/api/blocks/s3.ts
Labels: area: site

update changeset descriptions
  .changeset/calm-lies-ring.md
  .changeset/purple-ads-lick.md
Labels: none

add changeset for `packages/@local/eslint-config`
  .changeset/stale-apricots-watch.md
Labels: none

Revert "add changeset for `packages/@local/eslint-config`"
  .changeset/stale-apricots-watch.md
Labels: none

Fix folder permissions
  .github/workflows/ci.yml
Labels: area: infra

Try removing `isRunningOnVercel`
  site/src/lib/api/blocks/from-tarball.ts
  site/src/lib/api/blocks/npm.ts
  site/src/lib/api/blocks/shared.ts
Labels: area: site

Add empty changeset
  .changeset/eight-sloths-work.md
Labels: none

Uncomment npm tests
  site/tests/integration/block-publish-npm.test.ts
Labels: area: site

Fix env var name
  site/src/lib/api/blocks/s3.ts
Labels: area: site

Do not require changeset markdowns in private packages
  patches/@changesets+git+1.4.1.patch
Labels: area: dependencies

Skip tests based on NEXT_PUBLIC_NPM_PUBLISHING
  .github/workflows/ci.yml
  site/tests/integration/block-publish-npm.test.ts
Labels: area: infra, area: site

Update packages/@blockprotocol/graph/src/types.ts
  packages/@blockprotocol/graph/src/types.ts
Labels: area: packages, package: Þ graph

add line wrapping to mobile breadcrumbs
  site/src/components/navbar/mobile-breadcrumbs.tsx
Labels: area: site

make docs link open in new tab
  packages/mock-block-dock/src/debug-view/header.tsx
Labels: area: packages, package: mock-block-dock

only send graph messages to block if value has changed
  packages/mock-block-dock/src/mock-block-dock.tsx
  packages/mock-block-dock/src/use-send-graph-value.ts
Labels: area: packages, package: mock-block-dock

add missing block message to type
  packages/@blockprotocol/graph/src/types.ts
Labels: area: packages, package: Þ graph

add box around block content in debug mode. make debug panel resizeable handle target bigger
  packages/mock-block-dock/src/debug-view/dev-tools.tsx
  packages/mock-block-dock/src/mock-block-dock.tsx
Labels: area: packages, package: mock-block-dock

make entire log row clickable
  packages/mock-block-dock/src/debug-view/dev-tools.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/logs-view.tsx
Labels: area: packages, package: mock-block-dock

make log view into table with header
  packages/mock-block-dock/src/debug-view/dev-tools/logs-view.tsx
Labels: area: packages, package: mock-block-dock

.github/labeler.yml:

"area: dependencies":
  - "**/patches/*"
  - "**/patches/.*"
  - "**/patches/**/*"
  - "**/patches/**/.*"
  - "**/yarn.lock"

"area: hub":
  - "hub/*"
  - "hub/.*"
  - "hub/**/*"
  - "hub/**/.*"

"area: infra":
  - ".github/*"
  - ".github/.*"
  - ".github/**/*"
  - ".github/**/.*"
  - ".husky/*"
  - ".husky/.*"
  - "scripts/*"
  - "scripts/.*"
  - "scripts/**/*"
  - "scripts/**/.*"
  - "*"
  - ".*"

"area: packages":
  - "packages/*"
  - "packages/.*"
  - "packages/**/*"
  - "packages/**/.*"

"area: site":
  - "site/*"
  - "site/.*"
  - "site/**/*"
  - "site/**/.*"

"area: spec":
  - "site/src/_pages/spec/*"
  - "site/src/_pages/spec/.*"
  - "site/src/_pages/spec/**/*"
  - "site/src/_pages/spec/**/.*"

"package: block-scripts":
  - "packages/block-scripts/*"
  - "packages/block-scripts/.*"
  - "packages/block-scripts/**/*"
  - "packages/block-scripts/**/.*"

"package: block-template-custom-element":
  - "packages/block-template-custom-element/*"
  - "packages/block-template-custom-element/.*"
  - "packages/block-template-custom-element/**/*"
  - "packages/block-template-custom-element/**/.*"

"package: block-template-html":
  - "packages/block-template-html/*"
  - "packages/block-template-html/.*"
  - "packages/block-template-html/**/*"
  - "packages/block-template-html/**/.*"

"package: block-template-react":
  - "packages/block-template-react/*"
  - "packages/block-template-react/.*"
  - "packages/block-template-react/**/*"
  - "packages/block-template-react/**/.*"

"package: blockprotocol":
  - "packages/blockprotocol/*"
  - "packages/blockprotocol/.*"
  - "packages/blockprotocol/**/*"
  - "packages/blockprotocol/**/.*"

"package: Þ core":
  - "packages/@blockprotocol/core/*"
  - "packages/@blockprotocol/core/.*"
  - "packages/@blockprotocol/core/**/*"
  - "packages/@blockprotocol/core/**/.*"

"package: create-block-app":
  - "packages/create-block-app/*"
  - "packages/create-block-app/.*"
  - "packages/create-block-app/**/*"
  - "packages/create-block-app/**/.*"

"package: Þ graph":
  - "packages/@blockprotocol/graph/*"
  - "packages/@blockprotocol/graph/.*"
  - "packages/@blockprotocol/graph/**/*"
  - "packages/@blockprotocol/graph/**/.*"

"package: mock-block-dock":
  - "packages/mock-block-dock/*"
  - "packages/mock-block-dock/.*"
  - "packages/mock-block-dock/**/*"
  - "packages/mock-block-dock/**/.*"

"site: docs":
  - "site/src/_pages/docs/*"
  - "site/src/_pages/docs/.*"
  - "site/src/_pages/docs/**/*"
  - "site/src/_pages/docs/**/.*"
