Repository blockprotocol/blockprotocol, changes with the labels that .github/labeler.yml gives for each.
All labels: area: apps, area: apps > site, area: blocks, area: dependencies, area: infra, area: libs, area: tests, area: user success, area: user success > docs, area: user success > rfcs, area: user success > spec, area: libs > @Þ/core, area: libs > @Þ/design-system, area: libs > @Þ/graph, area: libs > @Þ/hook, area: libs > @Þ/type-system, area: libs > @local/*, area: libs > block-scripts, area: libs > block-template-custom-element, area: libs > block-template-html, area: libs > block-template-react, area: libs > blockprotocol, area: libs > create-block-app, area: libs > mock-block-dock, area: libs > wordpress-plugin, type: frontend, type: writing

make data types and Link type URLs work
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/hardcoded-types.ts
  apps/site/src/middleware.page/return-types-as-json.ts
  apps/site/src/util/type-system-util.ts
Labels: area: apps, area: apps > site

make data types and Link type URLs work (#1317)
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/hardcoded-types.ts
  apps/site/src/middleware.page/return-types-as-json.ts
  apps/site/src/util/type-system-util.ts
Labels: area: apps, area: apps > site

Update issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue-report.md
  .github/ISSUE_TEMPLATE/suggest-an-integration.md
Labels: area: apps, area: infra

Update renovate.json
  .github/renovate.json
Labels: area: apps, area: infra

Add a 'Fix' CI action to the Þ repo's GH Actions
  .github/workflows/deploy-fix.yml
Labels: area: apps, area: infra

Change config to use BP
  .github/workflows/deploy-fix.yml
Labels: area: apps, area: infra

Introduce prettier issue
  .github/workflows/deploy-fix.yml
Labels: area: apps, area: infra

Fix linting
  .github/workflows/deploy-fix.yml
Labels: area: apps, area: infra

BP-50: Add a 'Fix' CI action to the Þ repo's GH Actions (#1320)
  .github/workflows/deploy-fix.yml
Labels: area: apps, area: infra

Add dep dashboard title
  .github/renovate.json
Labels: area: apps, area: infra

Update .github/renovate.json
  .github/renovate.json
Labels: area: apps, area: infra

Update .github/renovate.json
  .github/renovate.json
Labels: area: apps, area: infra

Explicitly set vuln summaries to their default
  .github/renovate.json
Labels: area: apps, area: infra

Update .github/renovate.json
  .github/renovate.json
Labels: area: apps, area: infra

lint fixes
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue-report.md
Labels: area: apps, area: infra

mo fixes
  .github/ISSUE_TEMPLATE/issue-report.md
Labels: area: apps, area: infra

BP-54: Pin GitHub Action SHAs (#1319)
  .github/renovate.json
Labels: area: apps, area: infra

`yarn fix:prettier`
  .github/dependency-review-config.yml
  .github/workflows/dependency-review.yml
Labels: area: apps, area: infra

`yarn fix:prettier`
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue-report.md
  .github/ISSUE_TEMPLATE/suggest-an-integration.md
Labels: area: apps, area: infra

Update algolia-upload-index.yml
  .github/workflows/algolia-upload-index.yml
Labels: area: apps, area: infra

Update canary-release.yml
  .github/workflows/canary-release.yml
Labels: area: apps, area: infra

Update ci.yml
  .github/workflows/ci.yml
Labels: area: apps, area: infra

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: area: apps, area: infra

Update warm-up-vercel.yml
  .github/workflows/warm-up-vercel.yml
Labels: area: apps, area: infra

Update semgrep.yml
  .github/workflows/semgrep.yml
Labels: area: apps, area: infra

Update release.yml
  .github/workflows/release.yml
Labels: area: apps, area: infra

Update labeler.yml
  .github/workflows/labeler.yml
Labels: area: apps, area: infra

Update e2e-tests.yml
  .github/workflows/e2e-tests.yml
Labels: area: apps, area: infra

Update deploy-fix.yml
  .github/workflows/deploy-fix.yml
Labels: area: apps, area: infra

Bring release.yml into line with https://github.com/blockprotocol/blockprotocol/pull/1322
  .github/workflows/release.yml
Labels: area: apps, area: infra

Update action.yml
  .github/actions/warm-up-repo/action.yml
Labels: area: apps, area: infra

Update semgrep.yml
  .github/workflows/semgrep.yml
Labels: area: apps, area: infra

Update codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: area: apps, area: infra

H-624: Add GitHub issue templates (#1318)
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue-report.md
  .github/ISSUE_TEMPLATE/suggest-an-integration.md
Labels: area: apps, area: infra

Update .github/workflows/dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: area: apps, area: infra

Update .github/workflows/dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: area: apps, area: infra

BP-55: Bulk-upgrade GitHub actions to `x.x.x` versions (#1324)
  .github/actions/warm-up-repo/action.yml
  .github/workflows/algolia-upload-index.yml
  .github/workflows/canary-release.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-fix.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/semgrep.yml
  .github/workflows/warm-up-vercel.yml
Labels: area: apps, area: infra

GEN-69: Test configuration of GitHub Dependency Review (#1316)
  .github/dependency-review-config.yml
  .github/workflows/dependency-review.yml
Labels: area: apps, area: infra

yarn deduplicate
  yarn.lock
Labels: area: apps, area: dependencies, area: infra

debug block sandbox redirect loop
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/return-types-as-json.ts
Labels: area: apps, area: apps > site

.github/labeler.yml:

"area: apps":
  - "apps/**"
  - "!apps/site/src/_pages/**"

"area: apps > site":
  - "apps/site/**"

"area: blocks":
  - "blocks/**"

"area: dependencies":
  - "**/patches/**"
  - "**/yarn.lock"

"area: infra":
  - ".changeset/config.json"
  - ".config/**"
  - ".github/**"
  - ".husky/**"
  - "infra/**"
  - "*"

"area: libs":
  - "libs/**"

"area: tests":
  - "**/*.test.ts"
  - "**/tests/**"

"area: user success":
  - "apps/site/src/_pages/docs/**"
  - "apps/site/src/_pages/spec/**"
  - "apps/site/src/_pages/roadmap/**"
  - "rfcs"

"area: user success > docs":
  - "apps/site/src/_pages/docs/**"

"area: user success > rfcs":
  - "rfcs/**"

"area: user success > spec":
  - "apps/site/src/_pages/spec/**"

"area: libs > @Þ/core":
  - "libs/@blockprotocol/core/**"

"area: libs > @Þ/design-system":
  - "libs/@blockprotocol/design-system/**"

"area: libs > @Þ/graph":
  - "libs/@blockprotocol/graph/**"

"area: libs > @Þ/hook":
  - "libs/@blockprotocol/hook/**"

"area: libs > @Þ/type-system":
  - "libs/@blockprotocol/type-system-node/**"
  - "libs/@blockprotocol/type-system-web/**"

"area: libs > @local/*":
  - "libs/@local/**"

"area: libs > block-scripts":
  - "libs/block-scripts/**"

"area: libs > block-template-custom-element":
  - "libs/block-template-custom-element/**"

"area: libs > block-template-html":
  - "libs/block-template-html/**"

"area: libs > block-template-react":
  - "libs/block-template-react/**"

"area: libs > blockprotocol":
  - "libs/blockprotocol/**"

"area: libs > create-block-app":
  - "libs/create-block-app/**"

"area: libs > mock-block-dock":
  - "libs/mock-block-dock/**"

"area: libs > wordpress-plugin":
  - "libs/wordpress-plugin/**"

"type: frontend":
  - "libs/@blockprotocol/design-system/**"

"type: writing":
  - "apps/site/src/_pages/**"
