Repository blockprotocol/blockprotocol, pull requests merged in 2022-10, with the labels that each got.

#647 Add entityId requirement to @blockprotocol/hook
  .changeset/tricky-wolves-unite.md
  packages/@blockprotocol/hook/README.md
  packages/@blockprotocol/hook/src/react.ts
  packages/@blockprotocol/hook/src/types.ts
Labels: area: packages, package: @Þ/hook

#645 Fix E2E-only test
  .github/workflows/ci.yml
  packages/@local/package-chores/scripts/smoke-test-create-block-app.ts
  site/tests/e2e/api.test.ts
Labels: area: site, area: packages, area: infra, package: @local/*

#565 Remove hard dependency on R2 storage
  .github/workflows/ci.yml
  infra/cloudflare-r2-wrangler/README.md
  infra/cloudflare-r2-wrangler/blockprotocol-preview/wrangler.toml
  infra/cloudflare-r2-wrangler/blockprotocol/wrangler.toml
  infra/cloudflare-r2-wrangler/index.js
  package.json
  site/README.md
  site/docker-compose.dev.yml
  site/package.json
  site/playwright.config.ts
  site/scripts/reset-s3-bucket.ts
  site/scripts/seed-db.ts
  site/src/lib/api/blocks/from-tarball.ts
  site/src/lib/api/blocks/npm.ts
  site/src/lib/api/blocks/s3.ts
  site/src/lib/api/blocks/shared.ts
  site/src/lib/s3-file-uploads.ts
  site/src/lib/s3.ts
  site/src/pages/api/upload-user-avatar.api.ts
  site/tests/integration/block-publish-npm.test.ts
  site/tests/integration/dashboard.test.ts
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#650 Inline mock-block-dock styles
  .changeset/young-boats-type.md
  packages/mock-block-dock/.babelrc.json
  packages/mock-block-dock/dev/webpack.config.js
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/assets.d.ts
  packages/mock-block-dock/src/assets/debug-view-styles.module.css
  packages/mock-block-dock/src/assets/inter-light.ttf
  packages/mock-block-dock/src/assets/inter-medium.ttf
  packages/mock-block-dock/src/assets/inter-regular.ttf
  packages/mock-block-dock/src/assets/inter-semibold.ttf
  packages/mock-block-dock/src/assets/jet-brains-mono-regular.woff2
  packages/mock-block-dock/src/debug-view/dev-tools.tsx
  packages/mock-block-dock/src/debug-view/icons.tsx
  packages/mock-block-dock/src/mock-block-dock-ui.tsx
  packages/mock-block-dock/src/react.d.ts
Labels: area: packages, package: mock-block-dock

#649 Simplify globs in labeler.yml
  .github/labeler.yml
Labels: area: infra

#651 Simplify globs in package.json scripts
  package.json
  packages/block-scripts/scripts/dev.js
  packages/block-template-custom-element/package.json
  packages/block-template-html/package.json
  packages/block-template-react/package.json
Labels: area: packages, area: infra, package: block-template-react, package: block-template-html, package: block-template-custom-element, package: block-scripts

#646 Fix hydration issue on /hub page
  site/src/components/block-card.tsx
  site/src/components/last-updated.tsx
  site/src/components/pages/user/overview-card.tsx
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
Labels: area: site

#653 Update ESLint dependencies, reorder imports
  crates/type-system/scripts/build-wasm.ts
  package.json
  packages/@local/eslint-config/index.js
  packages/@local/eslint-config/package.json
  packages/@local/package-chores/scripts/publish-to-local-registry.ts
  packages/@local/package-chores/scripts/shared/list-publishable-packages.ts
  packages/@local/package-chores/scripts/smoke-test-create-block-app.ts
  packages/block-scripts/bin.js
  packages/block-scripts/scripts/build.js
  packages/block-scripts/scripts/serve.js
  packages/block-scripts/shared/block-assets-plugin.js
  packages/block-scripts/shared/generate-dist-block-metadata.js
  packages/block-scripts/shared/generate-dist-block-schema.js
  packages/block-scripts/shared/generate-dist-example-graph.js
  packages/block-scripts/shared/generate-dist-readme.js
  packages/block-scripts/shared/list-available-script-names.js
  packages/block-scripts/shared/webpack-config.js
  packages/blockprotocol/cli/commands/publish.js
  packages/blockprotocol/cli/commands/publish/find-api-key.js
  packages/blockprotocol/cli/commands/publish/find-block-folder.js
  packages/blockprotocol/cli/commands/publish/shared/find-project-root.js
  site/scripts/build.ts
  site/scripts/copy-blocks-from-ci-cache.ts
  site/scripts/copy-blocks-to-ci-cache.ts
  site/scripts/generate-blocks-data.ts
  site/scripts/generate-sitemap.ts
  site/scripts/prepare-blocks.ts
  site/scripts/sync-algolia-index.ts
  site/src/components/base-link.tsx
  site/src/lib/api/blocks/from-tarball.ts
  site/src/lib/api/blocks/get.ts
  site/src/lib/api/blocks/npm.ts
  site/src/lib/api/blocks/s3.ts
  site/src/lib/api/dummy-emails.ts
  site/src/lib/api/model/api-key.model.ts
  site/src/lib/blocks.ts
  site/src/lib/s3-file-uploads.ts
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  site/src/pages/_document.page.tsx
  site/src/pages/workshop/index.page.tsx
  site/src/util/mdx-utils.tsx
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: blockprotocol, package: @local/*, area: crates, package: block-scripts

#654 Fix ISTANBUL_TEMP_DIR
  apps/site/playwright.config.ts
Labels: app: site, area: apps

#551 Call ESLint from workspaces instead of monorepo root
  .eslintignore
  .eslintrc.json
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .markdownlintignore
  .prettierignore
  apps/site/.eslintrc.cjs
  apps/site/package.json
  crates/type-system/.eslintrc.cjs
  crates/type-system/package.json
  package.json
  packages/@blockprotocol/core/.eslintrc.cjs
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/graph/.eslintrc.cjs
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/hook/.eslintrc.cjs
  packages/@blockprotocol/hook/package.json
  packages/@blockprotocol/type-system-node/.eslintrc.cjs
  packages/@blockprotocol/type-system-node/package.json
  packages/@blockprotocol/type-system-web/.eslintrc.cjs
  packages/@blockprotocol/type-system-web/package.json
  packages/@local/eslint-config/.eslintrc.cjs
  packages/@local/eslint-config/generate-ignore-patterns.cjs
  packages/@local/eslint-config/generate-workspace-config.cjs
  packages/@local/eslint-config/index.js
  packages/@local/eslint-config/package.json
  packages/@local/eslint-config/tsconfig.json
  packages/@local/package-chores/package.json
  packages/@local/package-chores/scripts/publish-to-local-registry.ts
  packages/@local/package-chores/scripts/publish-to-npmjscom.ts
  packages/@local/package-chores/scripts/remove-eslint-from-templates.ts
  packages/@local/package-chores/scripts/shared/monorepo-root.ts
  packages/@local/package-chores/scripts/shared/publishable-packages.ts
  packages/block-scripts/.eslintrc.cjs
  packages/block-scripts/package.json
  packages/block-template-custom-element/.eslintrc.cjs
  packages/block-template-custom-element/package.json
  packages/block-template-html/.eslintrc.cjs
  packages/block-template-html/package.json
  packages/block-template-html/src/app.js
  packages/block-template-react/.eslintrc.cjs
  packages/block-template-react/package.json
  packages/blockprotocol/.eslintrc.cjs
  packages/blockprotocol/package.json
  packages/create-block-app/.eslintrc.cjs
  packages/create-block-app/package.json
  packages/mock-block-dock/.eslintrc.cjs
  packages/mock-block-dock/package.json
  turbo.json
Labels: area: site, area: packages, area: infra, package: blockprotocol, package: create-block-app, package: mock-block-dock, package: @local/*, package: @Þ/core, package: @Þ/graph, package: block-template-react, package: block-template-html, package: block-template-custom-element, area: crates, package: @Þ/hook, package: @Þ/type-system, package: block-scripts, app: site, area: apps

#655 Configure ESLint `curly` rule
  apps/site/src/components/inline-link.tsx
  apps/site/src/components/pages/home/final-cta.tsx
  apps/site/src/components/pages/hub/json-editor.tsx
  apps/site/src/components/screens/send-login-code-screen.tsx
  apps/site/src/components/screens/signup-screen.tsx
  apps/site/src/pages/login.page.tsx
  apps/site/src/pages/signup.page.tsx
  packages/@local/eslint-config/index.js
  packages/mock-block-dock/src/debug-view/dev-tools.tsx
Labels: area: packages, package: mock-block-dock, package: @local/*, app: site, area: apps

#636 Version Packages
  .changeset/khaki-zebras-beam.md
  .changeset/modern-roses-think.md
  .changeset/new-cheetahs-yell.md
  .changeset/tricky-wolves-unite.md
  .changeset/young-boats-type.md
  apps/site/package.json
  packages/@blockprotocol/hook/CHANGELOG.md
  packages/@blockprotocol/hook/package.json
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
Labels: area: site, area: packages, package: mock-block-dock, package: block-template-react, package: block-template-custom-element, package: @Þ/hook, app: site, area: apps

#658 Fix publish script
  .github/workflows/publish-npm-packages.yml
  .github/workflows/release.yml
  packages/@local/package-chores/scripts/publish-to-npmjscom.ts
Labels: area: packages, area: infra, package: @local/*

#670 Revert "Update playwright to ^1.27.1"
  apps/site/package.json
  patches/playwright-core+1.26.1.patch
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#675 Improvements to FAQ
  apps/site/src/_pages/docs/4_faq.mdx
Labels: app: site, area: apps, area: docs

#674 Improve Renovate config
  .github/renovate.json
Labels: area: infra

#678 Improve error propagation in API client
  apps/site/src/lib/api-client.ts
Labels: app: site, area: apps

#679 Fix `/` triggering search within input fields
  apps/site/src/components/search-nav-button.tsx
  apps/site/tests/integration/search-modal.test.ts
  apps/site/tests/universal/page-header.test.ts
Labels: app: site, area: apps

#681 Use `prepublishOnly` script in block templates
  .github/workflows/ci.yml
  .github/workflows/release.yml
  packages/@local/package-chores/scripts/cleanup-before-publishing.ts
  packages/@local/package-chores/scripts/publish-to-npmjscom.ts
  packages/@local/package-chores/scripts/remove-eslint-from-templates.ts
  packages/@local/package-chores/scripts/shared/errors.ts
  packages/@local/package-chores/scripts/smoke-test-create-block-app.ts
  packages/block-template-custom-element/package.json
  packages/block-template-html/package.json
  packages/block-template-react/package.json
Labels: area: packages, area: infra, package: @local/*, package: block-template-react, package: block-template-html, package: block-template-custom-element

#682 Configure Sentry Replay
  apps/site/package.json
  apps/site/sentry.client.config.ts
  apps/site/sentry.server.config.ts
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#656 Implement text hook service in mock-block-dock
  .changeset/hook-in-mock-block-dock.md
  packages/@blockprotocol/hook/src/hook-service.json
  packages/@blockprotocol/hook/src/types.ts
  packages/mock-block-dock/dev/dev-app.tsx
  packages/mock-block-dock/dev/test-react-block.tsx
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/hook-portals.tsx
  packages/mock-block-dock/src/hook-portals/text.tsx
  packages/mock-block-dock/src/hook-portals/text/leaf.tsx
  packages/mock-block-dock/src/hook-portals/text/mark-button.tsx
  packages/mock-block-dock/src/hook-portals/text/shared.ts
  packages/mock-block-dock/src/hook-portals/text/toolbar.tsx
  packages/mock-block-dock/src/mock-block-dock.tsx
  packages/mock-block-dock/src/util.ts
  yarn.lock
Labels: area: dependencies, area: packages, area: infra, package: mock-block-dock, package: @Þ/hook

#676 Add 'Hook Service' spec and FAQ alongside small fixes in hook package
  .changeset/mean-birds-float.md
  apps/site/package.json
  apps/site/src/_pages/docs/3_spec/00_index.mdx
  apps/site/src/_pages/docs/3_spec/01_core.mdx
  apps/site/src/_pages/docs/3_spec/02_graph-service.mdx
  apps/site/src/_pages/docs/3_spec/03_hook-service.mdx
  apps/site/src/_pages/docs/3_spec/99_rfcs_and_roadmap.mdx
  apps/site/src/_pages/docs/4_faq.mdx
  apps/site/src/components/mdx/hook-service-message-list.tsx
  apps/site/src/components/mdx/mdx-components.tsx
  apps/site/src/components/service-message-list.tsx
  apps/site/src/util/mdx-utils.tsx
  packages/@blockprotocol/hook/src/hook-service-json.ts
  packages/@blockprotocol/hook/src/react.ts
Labels: app: site, area: packages, package: @Þ/hook, area: apps, area: docs

#669 Version Packages
  .changeset/hook-in-mock-block-dock.md
  .changeset/mean-birds-float.md
  .changeset/proud-islands-press.md
  apps/site/package.json
  packages/@blockprotocol/hook/CHANGELOG.md
  packages/@blockprotocol/hook/package.json
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
Labels: app: site, area: packages, package: mock-block-dock, package: block-template-react, package: block-template-custom-element, package: @Þ/hook, area: apps

#695 Fix handling json paths in mock-block-dock set
  .changeset/dirty-cooks-exercise.md
  packages/mock-block-dock/dev/test-react-block.tsx
  packages/mock-block-dock/src/util.ts
Labels: area: packages, package: mock-block-dock

#694 Update `@sentry/nextjs` to `7.16.0`
  apps/site/next.config.js
  apps/site/package.json
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#699 Fix bug in dock text comparison
  .changeset/chilly-parents-kneel.md
  packages/mock-block-dock/src/hook-portals/text.tsx
  packages/mock-block-dock/src/hook-portals/text/toolbar.tsx
Labels: area: packages, package: mock-block-dock

#701 Version Packages
  .changeset/chilly-parents-kneel.md
  apps/site/package.json
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
Labels: app: site, area: packages, package: mock-block-dock, package: block-template-react, package: block-template-custom-element, area: apps

#704 Configure `CODECOV_TOKEN`
  .github/workflows/ci.yml
Labels: area: infra

#708 Switch Playwright tests to ESM
  apps/site/tests/integration/accountpage.test.ts
  apps/site/tests/integration/api-keys.test.ts
  apps/site/tests/integration/block-publish-npm.test.ts
  apps/site/tests/integration/blockpage.test.ts
  apps/site/tests/integration/dashboard.test.ts
  apps/site/tests/integration/docs.test.ts
  apps/site/tests/integration/hubpage.test.ts
  apps/site/tests/integration/login-flow.test.ts
  apps/site/tests/integration/schema-creation.test.ts
  apps/site/tests/integration/schemapage.test.ts
  apps/site/tests/integration/sign-up-flow.ts
  apps/site/tests/package.json
  apps/site/tests/shared/fixtures.ts
  apps/site/tests/shared/nav.ts
  apps/site/tests/universal/page-header.test.ts
  packages/@blockprotocol/graph/.eslintrc.cjs
  packages/@blockprotocol/hook/.eslintrc.cjs
  packages/@local/eslint-config/generate-workspace-config.cjs
  packages/@local/eslint-config/package.json
  packages/block-template-react/src/app.tsx
  packages/mock-block-dock/dev/dev-app.tsx
  packages/mock-block-dock/dev/test-react-block.tsx
  yarn.lock
Labels: area: dependencies, app: site, area: packages, area: infra, package: mock-block-dock, package: @local/*, package: @Þ/graph, package: block-template-react, package: @Þ/hook, area: apps

#703 Update dependencies (mostly dev ones)
  apps/site/package.json
  apps/site/scripts/build.ts
  apps/site/scripts/dev.ts
  apps/site/scripts/prepare-blocks.ts
  apps/site/scripts/start.ts
  apps/site/src/lib/api/blocks/npm.ts
  apps/site/tests/shared/fixtures.ts
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/type-system-node/package.json
  packages/@local/eslint-config/package.json
  packages/@local/package-chores/package.json
  packages/@local/package-chores/scripts/cleanup-before-publishing.ts
  packages/@local/package-chores/scripts/publish-to-local-registry.ts
  packages/@local/package-chores/scripts/smoke-test-create-block-app.ts
  packages/block-scripts/package.json
  packages/block-template-custom-element/package.json
  packages/block-template-react/package.json
  packages/blockprotocol/package.json
  packages/create-block-app/package.json
  packages/mock-block-dock/package.json
  yarn.lock
Labels: area: dependencies, app: site, area: packages, area: infra, package: blockprotocol, package: create-block-app, package: mock-block-dock, package: @local/*, package: @Þ/graph, package: block-template-react, package: block-template-custom-element, package: @Þ/type-system, package: block-scripts, area: apps

#711 Widen scope of Renovate
  .github/renovate.json
Labels: area: infra

#698 Improve `@sentry/replay` setup
  apps/site/package.json
  apps/site/sentry.client.config.ts
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#712 Reduce Playwright test flakiness
  apps/site/playwright.config.ts
  apps/site/tests/integration/api-keys.test.ts
Labels: app: site, area: apps

#718 Reduce Playwright flakiness by resetting Next ISR cache
  apps/site/next.config.js
  apps/site/tests/integration/accountpage.test.ts
  apps/site/tests/integration/api-keys.test.ts
  apps/site/tests/integration/block-publish-npm.test.ts
  apps/site/tests/integration/dashboard.test.ts
  apps/site/tests/integration/login-flow.test.ts
  apps/site/tests/integration/schema-creation.test.ts
  apps/site/tests/integration/schemapage.test.ts
  apps/site/tests/integration/sign-up-flow.ts
  apps/site/tests/shared/fixtures.ts
Labels: app: site, area: apps

#713 Update publishing docs and add pull request template
  .github/pull_request_template.md
  apps/site/src/_pages/docs/0_index.mdx
  apps/site/src/_pages/docs/1_developing-blocks.mdx
  apps/site/src/_pages/docs/2_embedding-blocks.mdx
  apps/site/src/_pages/docs/3_spec/00_index.mdx
  apps/site/src/_pages/docs/3_spec/99_rfcs_and_roadmap.mdx
  apps/site/src/_pages/docs/4_faq.mdx
Labels: app: site, area: infra, area: apps, area: docs

#715 Reduce timeout if workflows using `actions/upload-artifact@v3`
  .github/actions/warm-up-repo/action.yml
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/site-deployment.yml
Labels: area: infra

#707 Hook service: useHook and mock-block-dock improvements
  .changeset/large-crews-jam.md
  .changeset/popular-plums-smash.md
  packages/@blockprotocol/hook/src/react.ts
  packages/mock-block-dock/src/hook-portals/text.tsx
  packages/mock-block-dock/src/hook-portals/text/leaf.tsx
  packages/mock-block-dock/src/hook-portals/text/mark-button.tsx
  packages/mock-block-dock/src/hook-portals/text/toolbar.tsx
Labels: area: packages, package: mock-block-dock, package: @Þ/hook

#716 Use entity type references in `links` object rather than link type references
  crates/type-system/src/ontology/data_type/mod.rs
  crates/type-system/src/ontology/entity_type/links/error.rs
  crates/type-system/src/ontology/entity_type/links/mod.rs
  crates/type-system/src/ontology/entity_type/links/repr.rs
  crates/type-system/src/ontology/entity_type/mod.rs
  crates/type-system/src/ontology/mod.rs
  crates/type-system/src/ontology/property_type/mod.rs
  crates/type-system/src/ontology/shared/array/error.rs
  crates/type-system/tests/data/entity_type/book.json
  crates/type-system/tests/data/entity_type/building.json
  crates/type-system/tests/data/entity_type/page.json
  crates/type-system/tests/data/entity_type/person.json
  crates/type-system/tests/data/entity_type/playlist.json
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index.js
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-node/test/entity-type.test.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index.js
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm.d.ts
Labels: area: packages, area: crates, package: @Þ/type-system

#717 Remove Link Types from the Type System
  crates/type-system/src/ontology/entity_type/wasm.rs
  crates/type-system/src/ontology/link_type/error.rs
  crates/type-system/src/ontology/link_type/mod.rs
  crates/type-system/src/ontology/link_type/repr.rs
  crates/type-system/src/ontology/link_type/wasm.rs
  crates/type-system/src/ontology/mod.rs
  crates/type-system/tests/data/lib.rs
  crates/type-system/tests/data/link_type/mod.rs
  crates/type-system/tests/data/link_type/owns.json
  crates/type-system/tests/data/link_type/submitted_by.json
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index.js
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-node/test/link-type.test.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index.js
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm.d.ts
Labels: area: packages, area: crates, package: @Þ/type-system

#720 Show updates to `devDependencies` in `block-template-*` CHANGELOGs
  patches/@changesets+apply-release-plan+6.1.1.patch
Labels: area: dependencies

#702 Version Packages
  .changeset/large-crews-jam.md
  .changeset/popular-plums-smash.md
  .changeset/wild-drinks-thank.md
  apps/site/package.json
  packages/@blockprotocol/hook/CHANGELOG.md
  packages/@blockprotocol/hook/package.json
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
Labels: app: site, area: packages, package: mock-block-dock, package: block-template-react, package: block-template-custom-element, package: @Þ/hook, area: apps

#719 Allow empty destination constraints on Links on Entity Types
  .changeset/warm-toys-hammer.md
  crates/type-system/Cargo.toml
  crates/type-system/rust-toolchain.toml
  crates/type-system/src/ontology/entity_type/links/mod.rs
  crates/type-system/src/ontology/entity_type/links/repr.rs
  crates/type-system/src/ontology/entity_type/links/wasm.rs
  crates/type-system/src/ontology/entity_type/mod.rs
  crates/type-system/src/ontology/mod.rs
  crates/type-system/src/ontology/shared/array/repr.rs
  crates/type-system/src/ontology/shared/one_of/repr.rs
  crates/type-system/src/utils.rs
  crates/type-system/tests/data/entity_type/person.json
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index.js
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/test/entity-type.test.ts
  packages/@blockprotocol/type-system-node/test/property-type.test.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index.js
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
Labels: area: packages, area: crates, package: @Þ/type-system

#721 Remove pluralTitle from Type System
  crates/type-system/src/ontology/entity_type/mod.rs
  crates/type-system/src/ontology/entity_type/repr.rs
  crates/type-system/src/ontology/property_type/mod.rs
  crates/type-system/src/ontology/property_type/repr.rs
  crates/type-system/tests/data/entity_type/address.json
  crates/type-system/tests/data/entity_type/block.json
  crates/type-system/tests/data/entity_type/book.json
  crates/type-system/tests/data/entity_type/building.json
  crates/type-system/tests/data/entity_type/organization.json
  crates/type-system/tests/data/entity_type/page.json
  crates/type-system/tests/data/entity_type/person.json
  crates/type-system/tests/data/entity_type/playlist.json
  crates/type-system/tests/data/entity_type/song.json
  crates/type-system/tests/data/property_type/age.json
  crates/type-system/tests/data/property_type/contact_information.json
  crates/type-system/tests/data/property_type/contrived_property.json
  crates/type-system/tests/data/property_type/favorite_quote.json
  crates/type-system/tests/data/property_type/interests.json
  crates/type-system/tests/data/property_type/name.json
  crates/type-system/tests/data/property_type/numbers.json
  crates/type-system/tests/data/property_type/text.json
  crates/type-system/tests/data/property_type/user_id_v1.json
  crates/type-system/tests/data/property_type/user_id_v2.json
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/test/entity-type.test.ts
  packages/@blockprotocol/type-system-node/test/property-type.test.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
Labels: area: packages, area: crates, package: @Þ/type-system

#722 Make ordered a required property on link array constraints
  crates/type-system/src/ontology/entity_type/links/repr.rs
  crates/type-system/tests/data/entity_type/book.json
  crates/type-system/tests/data/entity_type/building.json
  crates/type-system/tests/data/entity_type/page.json
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/test/entity-type.test.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
Labels: area: packages, area: crates, package: @Þ/type-system

#724 Improve TS Types of the Type System Package
  crates/type-system/src/ontology/data_type/repr.rs
  crates/type-system/src/ontology/entity_type/links/repr.rs
  crates/type-system/src/ontology/entity_type/repr.rs
  crates/type-system/src/ontology/property_type/repr.rs
  crates/type-system/src/ontology/shared/all_of/repr.rs
  crates/type-system/src/ontology/shared/object/repr.rs
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
Labels: area: packages, area: crates, package: @Þ/type-system

#726 mock-block-dock: fix stale hook callback and dom warnings
  .changeset/warm-ghosts-remain.md
  packages/mock-block-dock/src/debug-view/dev-tools.tsx
  packages/mock-block-dock/src/mock-block-dock-ui.tsx
  packages/mock-block-dock/src/mock-block-dock.tsx
  packages/mock-block-dock/src/react.d.ts
  patches/react-json-view+1.21.3.patch
Labels: area: dependencies, area: packages, package: mock-block-dock

#723 Version Packages
  .changeset/fuzzy-readers-jog.md
  .changeset/warm-ghosts-remain.md
  .changeset/warm-toys-hammer.md
  apps/site/package.json
  packages/@blockprotocol/type-system-node/CHANGELOG.md
  packages/@blockprotocol/type-system-node/package.json
  packages/@blockprotocol/type-system-web/CHANGELOG.md
  packages/@blockprotocol/type-system-web/package.json
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
Labels: app: site, area: packages, package: mock-block-dock, package: block-template-react, package: block-template-custom-element, package: @Þ/type-system, area: apps

#697 Restore text blocks to hub
  apps/site/src/lib/blocks.ts
  hub/@alfie/github-pr-overview.json
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/shuffle.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@thehabbos007/calculation.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
Labels: app: site, area: hub, area: apps

#731 Patch Changesets CLI
  patches/@changesets+cli+2.25.0.patch
Labels: area: dependencies
