Repository blockprotocol/blockprotocol, pull requests merged in 2022-11, with the labels that each got.

#744 Add derives to Type System URI structs
  crates/type-system/src/ontology/uri/mod.rs
Labels: area: crates

#733 Update block metadata
  hub/@alfie/github-pr-overview.json
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/shuffle.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@thehabbos007/calculation.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
Labels: area: hub

#755 Add retries to /api/me
  apps/site/package.json
  apps/site/src/components/hooks/use-shortname-text-field.ts
  apps/site/src/lib/api-client.ts
  apps/site/src/pages/_app.page.tsx
  apps/site/tests/integration/login-flow.test.ts
  packages/@local/package-chores/package.json
  yarn.lock
Labels: area: dependencies, app: site, area: packages, area: infra, package: @local/*, area: apps

#692 Update Next to v13
  apps/site/package.json
  apps/site/src/components/base-link.tsx
  apps/site/src/components/footer-banner.tsx
  apps/site/src/components/pages/home/composable-interfaces.tsx
  apps/site/src/components/pages/home/confined-blocks.tsx
  apps/site/src/components/pages/home/header.tsx
  apps/site/src/components/pages/home/interoperable-blocks.tsx
  packages/mock-block-dock/package.json
  yarn.lock
Labels: area: dependencies, app: site, area: packages, area: infra, package: mock-block-dock, area: apps

#754 Update Sentry client and Replay
  apps/site/package.json
  apps/site/sentry.client.config.ts
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#761 Add Semgrep GitHub Action
  .github/workflows/semgrep.yml
Labels: area: infra

#763 Fix typo and misc copy update
  README.md
Labels: area: infra

#764 Update Renovate config
  .github/renovate.json
Labels: area: infra

#762 Update block commit hash
  hub/@alfie/github-pr-overview.json
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/shuffle.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@thehabbos007/calculation.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
Labels: area: hub

#769 Stop DB in Site integration tests CI
  .github/workflows/ci.yml
Labels: area: infra

#770 Add `nprogress`
  apps/site/package.json
  apps/site/src/pages/_app.page.tsx
  apps/site/src/styles/nprogress.css
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#771 Upload Semgrep SARIF files to GitHub
  .github/workflows/semgrep.yml
Labels: area: infra

#780 Improve Playwright tests glob
  apps/site/playwright.config.ts
  apps/site/tests/integration/sign-up-flow.test.ts
Labels: app: site, area: apps

#781 Fix block caching in CI
  apps/site/tests/shared/fixtures.ts
Labels: app: site, area: apps

#779 Check console messages in Playwright
  apps/site/.eslintrc.cjs
  apps/site/playwright.config.ts
  apps/site/tests/e2e/api.test.ts
  apps/site/tests/integration/accountpage.test.ts
  apps/site/tests/integration/api-keys.test.ts
  apps/site/tests/integration/block-publish-npm.test.ts
  apps/site/tests/integration/blockpage.test.ts
  apps/site/tests/integration/dashboard.test.ts
  apps/site/tests/integration/docs.test.ts
  apps/site/tests/integration/homepage.test.ts
  apps/site/tests/integration/hubpage.test.ts
  apps/site/tests/integration/login-flow.test.ts
  apps/site/tests/integration/page-footer.test.ts
  apps/site/tests/integration/schema-creation.test.ts
  apps/site/tests/integration/schemapage.test.ts
  apps/site/tests/integration/search-modal.test.ts
  apps/site/tests/integration/sign-up-flow.test.ts
  apps/site/tests/shared/blocks.ts
  apps/site/tests/shared/nav.ts
  apps/site/tests/shared/schemas.ts
  apps/site/tests/shared/wrapped-playwright.ts
  apps/site/tests/universal/blockpage.test.ts
  apps/site/tests/universal/page-header.test.ts
Labels: app: site, area: apps

#789 Require approval from Dependency Dashboard
  .github/renovate.json
Labels: area: infra

#792 Address several LGTM issues
  apps/site/src/components/pages/user/overview-card.tsx
  apps/site/src/pages/_document.page.tsx
  packages/@local/package-chores/scripts/shared/publishable-packages.ts
  packages/mock-block-dock/src/debug-view/dev-tools/logs-view.tsx
Labels: app: site, area: packages, package: mock-block-dock, package: @local/*, area: apps

#793 Resolve remaining LGTM issues
  apps/site/src/components/pages/home/final-cta.tsx
  apps/site/src/pages/login.page.tsx
  apps/site/src/pages/signup.page.tsx
Labels: app: site, area: apps

#794 Cleanup `blockprotocol` and `block-scripts`
  .changeset/neat-gorillas-juggle.md
  packages/block-scripts/.eslintrc.cjs
  packages/blockprotocol/.eslintrc.cjs
  packages/blockprotocol/cli.js
  packages/blockprotocol/cli/commands/publish.js
  packages/blockprotocol/cli/commands/publish/find-api-key.js
  packages/blockprotocol/cli/commands/publish/find-block-folder.js
  packages/blockprotocol/cli/commands/publish/post-form.js
  packages/blockprotocol/cli/print-error-message.js
  packages/blockprotocol/cli/shared/print-spacer.js
Labels: area: packages, package: blockprotocol, package: block-scripts

#796 Update Sentry
  .github/renovate.json
  apps/site/package.json
  apps/site/sentry.client.config.ts
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#799 Reconfigure Renovate (cover all dependencies)
  .github/renovate.json
Labels: area: infra
