Repository blockprotocol/blockprotocol, pull requests merged in 2022-08, with the labels that each got.

#472 Fix responsiveness of mobile doc pages
  site/src/components/mdx/mdx-components.tsx
Labels: area: site

#421 Make @blockprotocol/graph an esm package
  .eslintrc.cjs
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/graph/src/custom-element.ts
  packages/@blockprotocol/graph/src/graph-block-handler.ts
  packages/@blockprotocol/graph/src/graph-embedder-handler.ts
  packages/@blockprotocol/graph/src/graph-service-json.ts
  packages/@blockprotocol/graph/src/index.ts
  packages/@blockprotocol/graph/src/react.ts
  packages/@blockprotocol/graph/tsconfig.json
  packages/block-scripts/package.json
  packages/block-template/templates/custom-element/package.json
  packages/block-template/templates/custom-element/src/app.ts
  packages/block-template/templates/html/src/app.js
  packages/block-template/templates/react/package.json
  packages/block-template/templates/react/src/app.tsx
  packages/mock-block-dock/dev/test-custom-element-block.ts
  packages/mock-block-dock/dev/test-html-block/block.js
  packages/mock-block-dock/dev/test-react-block.tsx
  packages/mock-block-dock/package.json
  packages/react-block-loader/package.json
  site/package.json
  site/src/components/mdx/graph-service-message-list.tsx
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: block-template, package: mock-block-dock, package: block-scripts, package: react-block-loader, package: Þ core, package: Þ graph

#478 Remove `hotfixExternals` (unused code)
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
Labels: area: site

#468 Configure Sentry
  .gitignore
  site/README.md
  site/next.config.js
  site/package.json
  site/sentry.client.config.ts
  site/sentry.properties
  site/sentry.server.config.ts
  site/src/lib/api/handler/base-handler.ts
  site/src/pages/_app.page.tsx
  site/src/pages/_error.page.tsx
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#482 Add readonly handler to graph embedder handler
  packages/@blockprotocol/graph/src/graph-embedder-handler.ts
  packages/@blockprotocol/graph/src/types.ts
Labels: area: packages, package: Þ graph

#462 Update MUI, Emotion and Next.js
  site/package.json
  site/src/pages/_app.page.tsx
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#484 Add read-only mode to `mock-block-dock`
  packages/@blockprotocol/graph/package.json
  packages/block-template/templates/custom-element/package.json
  packages/block-template/templates/react/package.json
  packages/mock-block-dock/.babelrc.json
  packages/mock-block-dock/dev/dev-app.tsx
  packages/mock-block-dock/dev/test-custom-element-block.ts
  packages/mock-block-dock/dev/test-html-block/block.html
  packages/mock-block-dock/dev/test-html-block/block.js
  packages/mock-block-dock/dev/test-react-block.tsx
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/mock-block-dock.tsx
  packages/mock-block-dock/src/use-mock-block-props.ts
  packages/mock-block-dock/src/use-mock-block-props/use-mock-datastore.ts
  site/package.json
Labels: area: site, area: packages, package: block-template, package: mock-block-dock, package: Þ graph

#486 Header spacing improvements
  site/src/_pages/docs/2_embedding-blocks.mdx
  site/src/components/mdx/mdx-page-content.tsx
Labels: area: site, site: docs

#480 Split block-template into individual packages
  .changeset/split-blocks.md
  .eslintignore
  .eslintrc.cjs
  .github/labeler.yml
  .github/workflows/ci.yml
  .gitignore
  .markdownlintignore
  .prettierignore
  README.md
  package.json
  packages/block-template-custom-element/.gitignore.dist
  packages/block-template-custom-element/.npmignore
  packages/block-template-custom-element/README.md
  packages/block-template-custom-element/package.json
  packages/block-template-custom-element/public/block-preview.svg
  packages/block-template-custom-element/public/omega.svg
  packages/block-template-custom-element/src/app.ts
  packages/block-template-custom-element/src/dev.tsx
  packages/block-template-custom-element/src/index.ts
  packages/block-template-custom-element/tsconfig.json
  packages/block-template-custom-element/variants.json
  packages/block-template-html/.gitignore.dist
  packages/block-template-html/.npmignore
  packages/block-template-html/README.md
  packages/block-template-html/block-metadata.json
  packages/block-template-html/block-schema.json
  packages/block-template-html/dev/index.html
  packages/block-template-html/package.json
  packages/block-template-html/public/block-preview.svg
  packages/block-template-html/public/omega.svg
  packages/block-template-html/src/app.html
  packages/block-template-html/src/app.js
  packages/block-template-react/.gitignore.dist
  packages/block-template-react/.npmignore
  packages/block-template-react/README.md
  packages/block-template-react/package.json
  packages/block-template-react/public/block-preview.svg
  packages/block-template-react/public/omega.svg
  packages/block-template-react/src/app.tsx
  packages/block-template-react/src/assets.d.ts
  packages/block-template-react/src/base.module.scss
  packages/block-template-react/src/dev.tsx
  packages/block-template-react/src/index.ts
  packages/block-template-react/tsconfig.json
  packages/block-template-react/variants.json
  packages/block-template/.npmignore
  packages/block-template/CHANGELOG.md
  packages/block-template/README.md
  packages/block-template/package.json
  packages/block-template/templates/react/.gitignore
  packages/create-block-app/create-block-app.js
  scripts/packages/e2e-test-create-block-app.ts
  scripts/packages/publish-to-local-registry.ts
Labels: area: packages, area: infra, package: block-template, package: create-block-app

#492 Fix multiple re-renders bug in `mock-block-dock`
  .changeset/mock-block-dock-fix.md
  packages/mock-block-dock/src/mock-block-dock.tsx
Labels: area: packages, package: mock-block-dock

#490 Add `@latest` to `npx create-block-app` mentions
  .changeset/create-block-app-latest.md
  packages/@blockprotocol/graph/README.md
  packages/block-template-custom-element/README.md
  packages/block-template-html/README.md
  packages/block-template-react/README.md
  site/src/_pages/docs/1_developing-blocks.mdx
  site/src/_pages/docs/3_spec/1_core-specification.mdx
Labels: area: site, area: packages, package: block-template, site: docs, package: Þ graph, package: block-template-react, package: block-template-html, package: block-template-custom-element

#495 Update changesets
  .changeset/config.json
  package.json
  yarn.lock
Labels: area: dependencies, area: infra

#489 Add read-only mode switch to block page
  hub/@alfie/github-pr-overview.json
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/shuffle.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@thehabbos007/calculation.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
  site/src/components/pages/home/header.tsx
  site/src/components/pages/home/header/header-card-svg.tsx
  site/src/components/pages/home/header/header-card.tsx
  site/src/components/pages/home/intro-section.tsx
  site/src/components/pages/home/section2/index.tsx
  site/src/components/pages/home/section2/steps.tsx
  site/src/components/pages/home/why-block-protocol-section.tsx
  site/src/components/pages/home/why-block-protocol2section.tsx
  site/src/components/pages/hub/block-data-container.tsx
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  site/tests/universal/blockpage.test.ts
Labels: area: site, area: hub

#497 Fix React hydration issues related to # in paths
  site/src/components/mdx/mdx-page-content.tsx
  site/src/components/navbar.tsx
  site/src/components/navbar/mobile-nav-items.tsx
  site/src/components/shared.ts
  site/src/pages/docs/[[...docs-slug]].page.tsx
Labels: area: site

#498 Don't prefetch /discord links
  site/src/components/footer.tsx
  site/src/pages/contact.page.tsx
Labels: area: site

#496 Implement JSON editor in "Block Properties" tab
  site/src/components/pages/hub/block-data-tab-panels.tsx
  site/src/components/pages/hub/json-editor.tsx
  site/tests/integration/blockpage.test.ts
Labels: area: site

#479 `@blockprotocol/hook` package
  .eslintrc.cjs
  packages/@blockprotocol/hook/README.md
  packages/@blockprotocol/hook/package.json
  packages/@blockprotocol/hook/src/hook-block-handler.ts
  packages/@blockprotocol/hook/src/hook-embedder-handler.ts
  packages/@blockprotocol/hook/src/hook-service.json
  packages/@blockprotocol/hook/src/index.ts
  packages/@blockprotocol/hook/src/react.ts
  packages/@blockprotocol/hook/src/types.ts
  packages/@blockprotocol/hook/tsconfig.json
Labels: area: packages, area: infra

#506 Include `timestamp` when messages are sent
  .changeset/core-service-updates.md
  packages/@blockprotocol/core/src/core-handler.ts
  packages/@blockprotocol/core/src/types.ts
Labels: area: packages, package: Þ core

#510 Use custom token in release CI
  .github/workflows/release.yml
Labels: area: infra

#503 Add Type System Package
  .eslintignore
  .eslintrc.cjs
  .gitattributes
  .gitignore
  .markdownlintignore
  .prettierignore
  crates/type-system/Cargo.toml
  crates/type-system/Makefile.toml
  crates/type-system/README.md
  crates/type-system/rust-toolchain.toml
  crates/type-system/rustfmt.toml
  crates/type-system/scripts/build-wasm.ts
  crates/type-system/src/lib.rs
  crates/type-system/src/ontology/mod.rs
  crates/type-system/src/ontology/uri/error.rs
  crates/type-system/src/ontology/uri/mod.rs
  crates/type-system/src/ontology/uri/wasm.rs
  crates/type-system/src/utils.rs
  crates/type-system/tests/web.rs
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index.js
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-node/jest.config.js
  packages/@blockprotocol/type-system-node/package.json
  packages/@blockprotocol/type-system-node/tests/uri.test.ts
  packages/@blockprotocol/type-system-node/tsconfig.json
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index.js
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-web/package.json
  packages/@blockprotocol/type-system-web/tsconfig.json
  yarn.lock
Labels: area: dependencies, area: packages, area: infra

#507 `mock-block-dock` improvements
  .changeset/core-service-updates.md
  .eslintrc.cjs
  packages/@blockprotocol/core/src/index.ts
  packages/@blockprotocol/type-system-node/package.json
  packages/@blockprotocol/type-system-web/package.json
  packages/mock-block-dock/dev/dev-app.tsx
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/bottom-view.tsx
  packages/mock-block-dock/src/bottom-view/datastore-view.tsx
  packages/mock-block-dock/src/bottom-view/logs-view.tsx
  packages/mock-block-dock/src/bottom-view/properties.tsx
  packages/mock-block-dock/src/bottom-view/tab-panel.tsx
  packages/mock-block-dock/src/json-view.tsx
  packages/mock-block-dock/src/layout.tsx
  packages/mock-block-dock/src/mock-block-dock.tsx
  site/package.json
  site/src/pages/contact.page.tsx
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: mock-block-dock, package: Þ core

#513 Version Packages
  .changeset/core-service-updates.md
  packages/@blockprotocol/core/CHANGELOG.md
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/graph/CHANGELOG.md
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/hook/CHANGELOG.md
  packages/@blockprotocol/hook/package.json
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
  site/package.json
Labels: area: site, area: packages, package: mock-block-dock, package: Þ core, package: Þ graph, package: block-template-react, package: block-template-custom-element

#515 Temporarily pin `mockBlockDockVersion` in sandbox
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
Labels: area: site

#514 Bump blocks
  hub/@alfie/github-pr-overview.json
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/shuffle.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@thehabbos007/calculation.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
Labels: area: hub

#512 Add Data Types to Package System
  crates/type-system/Cargo.toml
  crates/type-system/Makefile.toml
  crates/type-system/src/lib.rs
  crates/type-system/src/ontology/data_type/error.rs
  crates/type-system/src/ontology/data_type/mod.rs
  crates/type-system/src/ontology/data_type/wasm.rs
  crates/type-system/src/ontology/mod.rs
  crates/type-system/src/ontology/uri/mod.rs
  crates/type-system/src/ontology/uri/wasm.rs
  crates/type-system/src/utils.rs
  crates/type-system/tests/data/data_type/boolean.json
  crates/type-system/tests/data/data_type/empty_list.json
  crates/type-system/tests/data/data_type/mod.rs
  crates/type-system/tests/data/data_type/null.json
  crates/type-system/tests/data/data_type/number.json
  crates/type-system/tests/data/data_type/object_v1.json
  crates/type-system/tests/data/data_type/text.json
  crates/type-system/tests/data/lib.rs
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index.js
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-node/test/data-type.test.ts
  packages/@blockprotocol/type-system-node/test/uri.test.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index.js
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm.d.ts
Labels: area: packages

#511 Update User Dashboard Design & Content
  site/src/components/block-card.tsx
  site/src/components/icons/block-icon.tsx
  site/src/components/icons/sparkles-icon.tsx
  site/src/components/pages/dashboard/dashboard-card.tsx
  site/src/components/pages/dashboard/dashboard-card/card-wrapper.tsx
  site/src/components/pages/dashboard/dashboard-card/dashboard-card-loading.tsx
  site/src/components/pages/dashboard/dashboard-card/dashboard-card.tsx
  site/src/components/pages/dashboard/dashboard-card/link-wrapper.tsx
  site/src/components/pages/dashboard/dashboard-section-grid.tsx
  site/src/components/pages/dashboard/dashboard-section-title.tsx
  site/src/components/pages/dashboard/page-container.tsx
  site/src/components/pages/dashboard/utils.ts
  site/src/pages/dashboard/[[...slugs]].page.tsx
  site/src/pages/settings/api-keys.page.tsx
  site/src/theme/typography.ts
  site/tests/integration/api-keys.test.ts
  site/tests/integration/dashboard.test.ts
  site/tests/integration/schema-creation.test.ts
Labels: area: site

#516 Prepare to reconfigure ESLint
  .eslintrc.cjs
  package.json
  packages/create-block-app/create-block-app.js
  yarn.lock
Labels: area: dependencies, area: packages, area: infra, package: create-block-app

#524 Set codecov threshold
  codecov.yml
Labels: area: infra

#523 Switch back to the latest `mockBlockDockVersion` in sandbox
  scripts/packages/e2e-test-create-block-app.ts
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  site/tests/integration/blockpage.test.ts
  site/tests/integration/docs.test.ts
Labels: area: site, area: infra

#519 Add Property Types to Package System
  .gitattributes
  crates/type-system/scripts/build-wasm.ts
  crates/type-system/src/lib.rs
  crates/type-system/src/ontology/data_type/error.rs
  crates/type-system/src/ontology/data_type/mod.rs
  crates/type-system/src/ontology/data_type/wasm.rs
  crates/type-system/src/ontology/mod.rs
  crates/type-system/src/ontology/property_type/mod.rs
  crates/type-system/src/ontology/property_type/wasm.rs
  crates/type-system/src/ontology/repr_shared/array.rs
  crates/type-system/src/ontology/repr_shared/mod.rs
  crates/type-system/src/ontology/repr_shared/object.rs
  crates/type-system/src/ontology/repr_shared/one_of.rs
  crates/type-system/src/ontology/repr_shared/validate.rs
  crates/type-system/src/ontology/uri/error.rs
  crates/type-system/src/ontology/uri/mod.rs
  crates/type-system/src/ontology/uri/wasm.rs
  crates/type-system/src/utils.rs
  crates/type-system/tests/data/lib.rs
  crates/type-system/tests/data/property_type/age.json
  crates/type-system/tests/data/property_type/contact_information.json
  crates/type-system/tests/data/property_type/contrived_property.json
  crates/type-system/tests/data/property_type/favorite_quote.json
  crates/type-system/tests/data/property_type/interests.json
  crates/type-system/tests/data/property_type/mod.rs
  crates/type-system/tests/data/property_type/name.json
  crates/type-system/tests/data/property_type/numbers.json
  crates/type-system/tests/data/property_type/text.json
  crates/type-system/tests/data/property_type/user_id_v1.json
  crates/type-system/tests/data/property_type/user_id_v2.json
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index.js
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-node/test/data-type.test.ts
  packages/@blockprotocol/type-system-node/test/property-type.test.ts
  packages/@blockprotocol/type-system-node/test/uri.test.ts
  packages/@blockprotocol/type-system-node/tsconfig.json
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index.js
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-web/tsconfig.json
Labels: area: packages, area: infra

#521 Avoid HTTP 401 in `/api/me`
  site/src/pages/_app.page.tsx
  site/src/pages/api/me.api.ts
Labels: area: site

#525 Add turborepo, use it for yarn build
  package.json
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/hook/package.json
  packages/mock-block-dock/package.json
  packages/react-block-loader/package.json
  site/package.json
  site/scripts/build.ts
  site/scripts/codegen.ts
  site/scripts/dev.ts
  turbo.json
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: mock-block-dock, package: react-block-loader, package: Þ core, package: Þ graph

#527 Change Base URI parsing logic, and Type System Package improvements
  crates/type-system/src/lib.rs
  crates/type-system/src/ontology/data_type/mod.rs
  crates/type-system/src/ontology/property_type/mod.rs
  crates/type-system/src/ontology/repr_shared/object.rs
  crates/type-system/src/ontology/repr_shared/one_of.rs
  crates/type-system/src/ontology/repr_shared/validate.rs
  crates/type-system/src/ontology/uri/mod.rs
  crates/type-system/src/ontology/uri/wasm.rs
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index.js
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-node/test/uri.test.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index.js
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm.d.ts
Labels: area: packages

#509 Clean up / clarify block metadata, and stop reading it from disk in the site
  .changeset/six-mails-confess.md
  packages/block-scripts/shared/block-assets-plugin.js
  site/scripts/prepare-blocks.ts
  site/src/components/block-card.tsx
  site/src/components/blocks-slider.tsx
  site/src/components/pages/hub/block-data-container.tsx
  site/src/components/pages/hub/sandboxed-block-demo.tsx
  site/src/components/pages/user/tab-panel-contents-with-blocks.tsx
  site/src/components/pages/user/tab-panel-contents-with-overview.tsx
  site/src/lib/api/blocks.ts
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  site/src/pages/api/blocks.api.ts
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  site/src/pages/hub.page.tsx
  site/src/pages/index.page.tsx
  site/tests/integration/accountpage.test.ts
  site/tests/integration/blockpage.test.ts
  site/tests/integration/hubpage.test.ts
Labels: area: site, area: packages, package: block-scripts

#530 Fix block componentId
  site/src/lib/blocks.ts
Labels: area: site

#528 Run `lint:tsc` via Turborepo
  package.json
  packages/block-template-html/package.json
  packages/create-block-app/package.json
  scripts/packages/e2e-test-create-block-app.ts
  turbo.json
Labels: area: packages, area: infra, package: create-block-app, package: block-template-html

#531 Enable Turborepo remote cache in CI
  .github/workflows/ci.yml
  turbo.json
Labels: area: infra

#520 Redirect logged-in users visiting root to `/dashboard`
  site/src/lib/api/handler/base-handler.ts
  site/src/lib/api/middleware/constants.ts
  site/src/lib/api/middleware/session.middleware.ts
  site/src/middleware.page.ts
  site/src/pages/api/logout.api.ts
  site/src/pages/login.page.tsx
  site/src/pages/signup.page.tsx
  site/tests/integration/login-flow.test.ts
  site/tests/integration/sign-up-flow.ts
Labels: area: site

#535 Try using custom git credentials in Changesets Action
  .github/workflows/release.yml
Labels: area: infra

#538 Use `MACHINE_USER_TOKEN` in `release.yml` → `actions/checkout`
  .github/workflows/release.yml
Labels: area: infra

#533 Add plural titles to PropertyType
  crates/type-system/src/ontology/property_type/mod.rs
  crates/type-system/tests/data/property_type/age.json
  crates/type-system/tests/data/property_type/contact_information.json
  crates/type-system/tests/data/property_type/contrived_property.json
  crates/type-system/tests/data/property_type/favorite_quote.json
  crates/type-system/tests/data/property_type/interests.json
  crates/type-system/tests/data/property_type/name.json
  crates/type-system/tests/data/property_type/numbers.json
  crates/type-system/tests/data/property_type/text.json
  crates/type-system/tests/data/property_type/user_id_v1.json
  crates/type-system/tests/data/property_type/user_id_v2.json
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/test/property-type.test.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
Labels: area: packages

#508 Extract `@local/eslint-config`
  .eslintrc.json
  package.json
  packages/@local/eslint-config/index.js
  packages/@local/eslint-config/package.json
  yarn.lock
Labels: area: dependencies, area: packages, area: infra

#517 updating docs for testing blocks in HASH
  site/src/_pages/docs/1_developing-blocks.mdx
Labels: area: site, site: docs

#537 Update Prettier and markdownlint, use Prettier cache, cleanup ignore files
  .eslintignore
  .gitignore
  .markdownlint.json
  .markdownlintignore
  .prettierignore
  package.json
  packages/@local/eslint-config/index.js
  rfcs/text/0352-graph-type-system.md
  yarn.lock
Labels: area: dependencies, area: packages, area: infra

#522 Add self-service publishing by linking npm package
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/hook/package.json
  packages/block-scripts/package.json
  packages/mock-block-dock/package.json
  packages/react-block-loader/dev/dev-app.tsx
  packages/react-block-loader/package.json
  site/README.md
  site/package.json
  site/scripts/build.ts
  site/scripts/prepare-blocks.ts
  site/scripts/seed-db.ts
  site/src/lib/api/blocks.ts
  site/src/lib/api/blocks/db.ts
  site/src/lib/api/blocks/get.ts
  site/src/lib/api/blocks/npm.ts
  site/src/lib/api/blocks/r2.ts
  site/src/lib/api/blocks/shared.ts
  site/src/lib/api/handler/base-handler.ts
  site/src/lib/api/model/user.model.ts
  site/src/lib/api/wrangler/README.md
  site/src/lib/api/wrangler/blocks-dev/wrangler.toml
  site/src/lib/api/wrangler/blocks/wrangler.toml
  site/src/lib/api/wrangler/index.js
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  site/src/pages/api/README.md
  site/src/pages/api/blocks/create.api.ts
  site/src/pages/api/blocks/index.api.ts
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  site/src/pages/api/users/[shortname]/blocks/index.api.ts
  site/src/pages/hub.page.tsx
  site/src/pages/index.page.tsx
  site/src/util/api.ts
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: mock-block-dock, package: block-scripts, package: react-block-loader, package: Þ core, package: Þ graph

#544 Configure `no-unused-vars`
  packages/@local/eslint-config/index.js
Labels: area: packages

#547 Replace import assertion with `fs.readJsonSync`
  site/src/lib/api/blocks/get.ts
Labels: area: site

#526 Implement block publishing flow
  packages/@local/eslint-config/index.js
  site/package.json
  site/public/assets/fonts/jetbrains-mono-medium.ttf
  site/public/assets/git-logo.svg
  site/public/assets/npm-logo.svg
  site/src/components/alert.tsx
  site/src/components/button.tsx
  site/src/components/pages/blocks/block-form-layout.tsx
  site/src/components/pages/blocks/block-form-section.tsx
  site/src/components/pages/blocks/block-form-styles.tsx
  site/src/components/pages/blocks/block-list-empty-state.tsx
  site/src/components/pages/blocks/field-info-wrapper.tsx
  site/src/components/pages/blocks/publish-block-card.tsx
  site/src/components/pages/blocks/publish-block-info.tsx
  site/src/components/pages/blocks/publish-block-success.tsx
  site/src/components/pages/blocks/required-label.tsx
  site/src/components/pages/dashboard/dashboard-section-grid.tsx
  site/src/components/pages/dashboard/dashboard-section-title.tsx
  site/src/components/pages/dashboard/top-navigation-tabs.tsx
  site/src/components/pages/dashboard/utils.ts
  site/src/components/pages/hub/block-data-container.tsx
  site/src/components/pages/user/block-list-item.tsx
  site/src/components/pages/user/list-view-card.tsx
  site/src/components/pages/user/tab-panel-contents-with-blocks.tsx
  site/src/components/pages/user/tab-panel-contents-with-schemas.tsx
  site/src/components/text-field.tsx
  site/src/lib/api-client.ts
  site/src/lib/config.ts
  site/src/pages/api/blocks/create.api.ts
  site/src/pages/blocks/index.page.tsx
  site/src/pages/blocks/publish/index.page.tsx
  site/src/pages/blocks/publish/npm.page.tsx
  site/src/pages/dashboard/[[...slugs]].page.tsx
  site/src/pages/settings/api-keys.page.tsx
  site/src/theme/components/data-display/mui-typography-theme-options.ts
  site/src/theme/components/feedback/mui-alert-theme-options.ts
  site/src/theme/components/index.ts
  site/src/theme/components/utils/mui-css-baseline-theme-options.ts
  site/src/theme/palette.ts
  site/src/theme/typography.ts
  site/src/util/html-utils.tsx
  site/tests/integration/block-publish-npm.test.ts
  site/tests/integration/dashboard.test.ts
  site/tests/shared/blocks.ts
  site/theme-override.d.ts
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra

#518 Change version referencing in spec
  packages/react-block-loader/README.md
  packages/react-block-loader/src/web-component-block.tsx
  rfcs/text/0352-graph-type-system.md
  rfcs/text/0430-hook-service.md
  site/next.config.js
  site/src/_pages/docs/1_developing-blocks.mdx
  site/src/_pages/docs/3_spec/0_index.mdx
  site/src/_pages/docs/3_spec/1_core.mdx
  site/src/_pages/docs/3_spec/2_graph-service.mdx
  site/src/_pages/docs/3_spec/3_rfcs_and_roadmap.mdx
  site/src/_pages/docs/4_faq.mdx
  site/tests/integration/docs.test.ts
Labels: area: site, area: packages, site: docs, package: react-block-loader

#550 Remove `wee-alloc` from Type System Packages
  crates/type-system/Cargo.toml
  crates/type-system/src/lib.rs
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index.js
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index.js
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm.d.ts
Labels: area: packages

#549 Add Entity Types and Link Types to Type System Package
  crates/type-system/src/ontology/data_type/repr.rs
  crates/type-system/src/ontology/data_type/wasm.rs
  crates/type-system/src/ontology/entity_type/error.rs
  crates/type-system/src/ontology/entity_type/links/error.rs
  crates/type-system/src/ontology/entity_type/links/mod.rs
  crates/type-system/src/ontology/entity_type/links/repr.rs
  crates/type-system/src/ontology/entity_type/mod.rs
  crates/type-system/src/ontology/entity_type/repr.rs
  crates/type-system/src/ontology/entity_type/wasm.rs
  crates/type-system/src/ontology/link_type/error.rs
  crates/type-system/src/ontology/link_type/mod.rs
  crates/type-system/src/ontology/link_type/repr.rs
  crates/type-system/src/ontology/link_type/wasm.rs
  crates/type-system/src/ontology/mod.rs
  crates/type-system/src/ontology/shared/array/error.rs
  crates/type-system/src/ontology/shared/array/repr.rs
  crates/type-system/src/ontology/shared/object/error.rs
  crates/type-system/src/ontology/shared/object/repr.rs
  crates/type-system/tests/data/entity_type/address.json
  crates/type-system/tests/data/entity_type/block.json
  crates/type-system/tests/data/entity_type/book.json
  crates/type-system/tests/data/entity_type/building.json
  crates/type-system/tests/data/entity_type/mod.rs
  crates/type-system/tests/data/entity_type/organization.json
  crates/type-system/tests/data/entity_type/page.json
  crates/type-system/tests/data/entity_type/person.json
  crates/type-system/tests/data/entity_type/playlist.json
  crates/type-system/tests/data/entity_type/song.json
  crates/type-system/tests/data/lib.rs
  crates/type-system/tests/data/link_type/mod.rs
  crates/type-system/tests/data/link_type/owns.json
  crates/type-system/tests/data/link_type/submitted_by.json
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index.js
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-node/test/entity-type.test.ts
  packages/@blockprotocol/type-system-node/test/link-type.test.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index.js
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm.d.ts
Labels: area: packages

#539 `mock-block-dock` improvements
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  package.json
  packages/mock-block-dock/dev/dev-app.tsx
  packages/mock-block-dock/dev/webpack.config.js
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/assets/debug-view-styles.css
  packages/mock-block-dock/src/assets/inter-light.ttf
  packages/mock-block-dock/src/assets/inter-medium.ttf
  packages/mock-block-dock/src/assets/inter-regular.ttf
  packages/mock-block-dock/src/assets/inter-semibold.ttf
  packages/mock-block-dock/src/assets/jet-brains-mono-regular.woff2
  packages/mock-block-dock/src/bottom-view.tsx
  packages/mock-block-dock/src/bottom-view/properties.tsx
  packages/mock-block-dock/src/debug-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/block-schema-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/datastore-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/json-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/logs-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/properties.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/tab-panel.tsx
  packages/mock-block-dock/src/debug-view/header.tsx
  packages/mock-block-dock/src/debug-view/icons.tsx
  packages/mock-block-dock/src/debug-view/theme.ts
  packages/mock-block-dock/src/debug-view/theme/palette.ts
  packages/mock-block-dock/src/layout.tsx
  packages/mock-block-dock/src/mock-block-dock-context.tsx
  packages/mock-block-dock/src/mock-block-dock.tsx
  packages/mock-block-dock/src/use-mock-block-props.ts
  packages/mock-block-dock/src/use-previous.ts
  patches/ajv+8.9.0.patch
  turbo.json
  yarn.lock
Labels: area: dependencies, area: packages, area: infra, package: mock-block-dock

#554 Replace `code` font-family with `JetBrains Mono`
  site/src/components/mdx/mdx-components.tsx
  site/src/components/pages/home/anyframework.tsx
  site/src/components/pages/hub/block-data-tab-panels.tsx
  site/src/components/pages/hub/json-editor.tsx
  site/src/components/snippet.tsx
  site/src/styles/prism.css
  site/src/theme/typography.ts
Labels: area: site

#558 Make codecov diff in PRs informational
  codecov.yml
Labels: area: infra
