Repository blockprotocol/blockprotocol, pull requests merged in 2022-07, with the labels that each got.

#339 Replace `fs` with `fs-extra` in `blocks.ts`
  site/package.json
  site/scripts/make-block-assets-compatible-with-vercel-lambdas.ts
  site/scripts/prepare-blocks.ts
  site/src/lib/blocks.ts
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#416 Bump block template
  packages/block-template/package.json
Labels: area: packages, package: block-template

#410 Fix multiple H1 tags on /docs/spec page
  site/src/_pages/docs/3_spec/0_index.mdx
  site/src/_pages/docs/3_spec/title.txt
  site/src/components/mdx/info-card/github-info-card.tsx
  site/src/components/mdx/mdx-components.tsx
  site/src/components/mdx/mdx-page-content.tsx
  site/src/components/navbar/mobile-nav-items.tsx
  site/src/components/page-sidebar.tsx
  site/src/components/pages/docs/docs-content.tsx
  site/src/pages/docs/[[...docs-slug]].page.tsx
  site/src/util/mdx-utils.tsx
Labels: area: site, site: docs

#352 RFC - Graph Type System
  rfcs/text/0352-graph-type-system.md
Labels: category: rfc

#413 Configure simple npm publishing via CI
  .github/workflows/publish-npm-packages.yml
  package.json
  scripts/packages/publish-to-local-registry.ts
  scripts/packages/publish-to-npmjscom.ts
  scripts/packages/shared/list-publishable-packages.ts
Labels: area: infra

#414 Improve FAQ answers
  site/src/_pages/docs/4_faq.mdx
Labels: area: site, site: docs

#419 Fix Algolia indexing
  site/scripts/sync-algolia-index.ts
  site/src/lib/sitemap.ts
  site/src/util/mdx-utils.tsx
Labels: area: site

#422 Fix a typo in action version
  .github/workflows/release.yml
Labels: area: infra

#425 Update README.md
  README.md
Labels: area: infra

#426 Update React to 18.2
  hub/@alfie/github-pr-overview.json
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@thehabbos007/calculation.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
  packages/@blockprotocol/core/src/types.ts
  packages/@blockprotocol/graph/package.json
  packages/block-template/templates/custom-element/package.json
  packages/block-template/templates/html/dev/index.html
  packages/block-template/templates/react/package.json
  packages/blockprotocol/core.d.ts
  packages/blockprotocol/package.json
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/use-mock-block-props/use-default-array-state.ts
  packages/react-block-loader/package.json
  site/package.json
  site/src/_pages/docs/3_spec/1_core-specification.mdx
  site/src/components/entity-types/schema-editor/schema-editor.tsx
  site/src/components/mdx/faq.tsx
  site/src/components/mdx/info-card/info-card.tsx
  site/src/components/mdx/mdx-components.tsx
  site/src/components/page-layout.tsx
  site/src/components/pages/dashboard/dashboard-card.tsx
  yarn.lock
Labels: area: dependencies, area: site, area: hub, area: packages, area: infra, package: block-template, package: blockprotocol, package: mock-block-dock, site: docs, package: react-block-loader, package: Þ core, package: Þ graph

#431 Cleanup GitHub workflows
  .github/workflows/algolia-upload-index.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/publish-npm-packages.yml
  .github/workflows/release.yml
Labels: area: infra

#408 RFC - Versioning for Graph Types
  rfcs/text/0408-versioning-types.md
Labels: category: rfc

#432 Update Footer
  site/src/components/footer.tsx
  site/src/components/icons/hashlogo-icon.tsx
  site/src/components/icons/index.ts
Labels: area: site

#435 Rename `warm-up-vercel.yml`
  .github/workflows/site-deployment.yml
Labels: area: infra

#434 Configure Playwright for integration and smoke tests
  .eslintrc.cjs
  .github/workflows/ci.yml
  .github/workflows/site-deployment.yml
  .gitignore
  package.json
  site/README.md
  site/package.json
  site/playwright.config.ts
  site/scripts/build.ts
  site/scripts/prepare-blocks.ts
  site/tests/integration/example.test.ts
  site/tests/smoke/example.test.ts
  site/tests/universal/example.test.ts
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#438 Fix MDX H4 tag styling
  site/src/components/mdx/mdx-components.tsx
Labels: area: site

#436 Add initial Playwright tests
  .github/workflows/site-deployment.yml
  site/README.md
  site/playwright.config.ts
  site/src/components/navbar.tsx
  site/tests/smoke/api.test.ts
  site/tests/smoke/example.test.ts
  site/tests/universal/example.test.ts
  site/tests/universal/homepage.test.ts
  site/tests/universal/page-header-navigation.test.ts
Labels: area: site, area: infra

#385 Remove unused indicator in navigation
  site/src/_pages/docs/3_spec/0_index.mdx
  site/src/_pages/docs/4_faq.mdx
  site/src/components/page-sidebar.tsx
Labels: area: site, site: docs

#442 Fix block sandbox URL in preview deployments
  site/src/lib/config.ts
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
Labels: area: site

#440 Introduce local `warm-up-repo` action to reliably skip Playwright installs
  .github/actions/warm-up-repo/action.yml
  .github/workflows/algolia-upload-index.yml
  .github/workflows/ci.yml
  .github/workflows/publish-npm-packages.yml
  .github/workflows/release.yml
  .github/workflows/site-deployment.yml
Labels: area: infra

#443 Update homepage playwright tests
  site/src/components/blocks-slider.tsx
  site/src/components/carousel.tsx
  site/src/components/pages/home/final-cta.tsx
  site/src/components/search-nav-button.tsx
  site/tests/universal/homepage.test.ts
  site/tests/universal/page-header.test.ts
Labels: area: site

#445 Fix Algolia workflow
  .github/workflows/algolia-upload-index.yml
Labels: area: infra

#444 Update Playwright projects
  .github/workflows/ci.yml
  site/playwright.config.ts
  site/src/components/navbar.tsx
  site/tests/universal/homepage.test.ts
  site/tests/universal/page-header.test.ts
Labels: area: site, area: infra

#447 Report coverage in integration tests
  .eslintrc.cjs
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .gitignore
  .nycrc.json
  package.json
  patches/playwright-test-coverage+1.0.5.patch
  site/next.config.js
  site/package.json
  site/scripts/build.ts
  site/scripts/start.ts
  site/tests/integration/example.test.ts
  site/tests/smoke/api.test.ts
  site/tests/universal/homepage.test.ts
  site/tests/universal/page-header.test.ts
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#446 Add tests for hub page
  .eslintrc.cjs
  .github/workflows/ci.yml
  site/src/components/block-card.tsx
  site/src/components/footer-banner.tsx
  site/src/components/footer.tsx
  site/src/components/mdx/mdx-page-content.tsx
  site/src/components/navbar.tsx
  site/tests/integration/homepage.test.ts
  site/tests/integration/hubpage.test.ts
  site/tests/integration/page-footer.test.ts
  site/tests/package.json
  site/tests/universal/page-header.test.ts
Labels: area: site, area: infra

#453 Fix coverage collection from Playwright tests
  patches/playwright-test-coverage+1.0.5.patch
  patches/playwright-test-coverage+1.1.0.patch
  site/package.json
  site/playwright.config.ts
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#450 Add tests for block detail page
  site/src/components/pages/hub/block-data-tab-panels.tsx
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  site/tests/integration/blockpage.test.ts
  site/tests/integration/page-footer.test.ts
  site/tests/universal/blockpage.test.ts
  site/tests/universal/page-header.test.ts
Labels: area: site

#452 Add login flow tests
  site/src/components/modal/login-modal.tsx
  site/src/components/navbar/account-dropdown.tsx
  site/src/lib/api/dummy-emails.ts
  site/src/lib/api/model/user.model.ts
  site/src/lib/config.ts
  site/tests/integration/example.test.ts
  site/tests/integration/login-flow.test.ts
  site/tests/shared/dummy-emails.ts
  site/tests/shared/nav.ts
  site/tests/universal/page-header.test.ts
Labels: area: site

#455 Add integration tests for Dashboard and API key generation
  .github/workflows/ci.yml
  patches/playwright-core+1.24.0.patch
  site/package.json
  site/playwright.config.ts
  site/src/components/pages/dashboard/api-key-renderer.tsx
  site/tests/integration/api-key-generation.test.ts
  site/tests/integration/dashboard.test.ts
  site/tests/integration/login-flow.test.ts
  site/tests/shared/fixtures.ts
  site/tests/shared/nav.ts
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#454 Add tests for docs pages
  .github/workflows/ci.yml
  .github/workflows/site-deployment.yml
  scripts/packages/e2e-test-create-block-app.ts
  site/README.md
  site/playwright.config.ts
  site/src/components/mdx/faq.tsx
  site/src/components/mdx/info-card/github-info-card.tsx
  site/src/components/page-sidebar.tsx
  site/tests/integration/docs.test.ts
  site/tests/shared/nav.ts
Labels: area: site, area: infra

#459 Fix incorrect link formatting
  site/src/_pages/docs/3_spec/1_core-specification.mdx
Labels: area: site, site: docs

#457 Add integration test for sign up flow
  site/tests/integration/sign-up-flow.ts
Labels: area: site

#458 Implement integration tests for /api/blocks
  site/tests/integration/api-keys.test.ts
Labels: area: site

#456 Add integration tests for Profile pages and Schema creation
  site/src/components/base-link.tsx
  site/src/components/entity-types/schema-editor/schema-properties-table.tsx
  site/src/components/link.tsx
  site/src/components/modal/create-schema-modal.tsx
  site/src/components/pages/user/list-view-card.tsx
  site/src/components/pages/user/overview-card.tsx
  site/src/components/pages/user/tabs.tsx
  site/src/pages/[shortname]/types/[title].page.tsx
  site/tests/integration/accountpage.test.ts
  site/tests/integration/schema-creation.test.ts
  site/tests/integration/schemapage.test.ts
  site/tests/shared/schemas.ts
Labels: area: site

#460 Update block scripts to use JSX transform
  packages/block-scripts/assets/babelrc.json
  packages/block-scripts/package.json
  packages/block-template/package.json
  packages/block-template/templates/custom-element/package.json
  packages/block-template/templates/html/package.json
  packages/block-template/templates/react/package.json
Labels: area: packages, package: block-template, package: block-scripts

#464 Fix coverage stats
  .github/workflows/ci.yml
  .nycrc.json
  site/package.json
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#461 Fix footer navigation bug
  site/src/components/mdx/mdx-page-content.tsx
  site/src/pages/_app.page.tsx
Labels: area: site

#465 Bump blocks
  hub/@alfie/github-pr-overview.json
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@thehabbos007/calculation.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
Labels: area: hub

#463 Fix login modal scroll in Webkit
  site/src/components/modal/login-modal.tsx
  site/src/components/screens/send-login-code-screen.tsx
  site/tests/integration/login-flow.test.ts
Labels: area: site

#469 Fix typo in changeset release action
  .github/workflows/release.yml
Labels: area: infra

#467 Document site test coverage, rename CODE_COVERAGE to TEST_COVERAGE
  .github/workflows/ci.yml
  site/README.md
  site/scripts/build.ts
  site/scripts/start.ts
Labels: area: site, area: infra

#471 Add the Shuffle block to the Hub
  hub/@hash/shuffle.json
Labels: area: hub

#473 Fix broken link on docs intro page
  site/src/_pages/docs/0_index.mdx
Labels: area: site, site: docs
