Repository blockprotocol/blockprotocol, pull requests merged in 2022-02, with the labels that each got.

#193 Made sample data consistent
  site/src/_pages/docs/3_embedding-blocks.mdx
Labels: category: documentation, area: site

#192 Add `envalid` to improve script feedback when env vars are missing
  package.json
  scripts/sync-algolia-index.ts
  yarn.lock
Labels: area: infra

#200 Import custom SVG icons from single file to shorten import statements
  site/src/components/BlockCard.tsx
  site/src/components/Carousel.tsx
  site/src/components/Footer.tsx
  site/src/components/FooterBanner.tsx
  site/src/components/Navbar.tsx
  site/src/components/Navbar/util.tsx
  site/src/components/Screens/SendLoginCodeScreen.tsx
  site/src/components/Screens/SignupScreen.tsx
  site/src/components/icons/ApiKeyGeneratedIcon.tsx
  site/src/components/icons/ArrowLeftIcon.tsx
  site/src/components/icons/ArrowRightIcon.tsx
  site/src/components/icons/BlockHubIcon.tsx
  site/src/components/icons/BlockProtocolIcon.tsx
  site/src/components/icons/BlockProtocolLogoIcon.tsx
  site/src/components/icons/BoltIcon.tsx
  site/src/components/icons/CollapseIcon.tsx
  site/src/components/icons/CopyIcon.tsx
  site/src/components/icons/ExpandIcon.tsx
  site/src/components/icons/HASHLogoIcon.tsx
  site/src/components/icons/SpecificationIcon.tsx
  site/src/components/icons/SyncIcon.tsx
  site/src/components/icons/WarningIcon.tsx
  site/src/components/icons/index.ts
  site/src/components/pages/dashboard/ApiKeyRenderer.tsx
  site/src/components/pages/dashboard/DashboardCard.tsx
  site/src/components/pages/dashboard/GenerateApiModal.tsx
  site/src/components/pages/home/Header/index.tsx
  site/src/components/pages/home/RegistrySection.tsx
  site/src/components/pages/home/WhyBlockProtocol2Section.tsx
  site/src/components/pages/hub/BlockModalButton.tsx
  site/src/pages/settings/api-keys.page.tsx
Labels: area: site

#183 Add @shinypb/emoji-trading-cards.json
  hub/@shinypb/emoji-trading-cards.json
Labels: area: hub

#174 Allow users to upload avatars through S3
  site/README.md
  site/package.json
  site/src/lib/awsS3.ts
  site/src/lib/middleware/multipartUploads.ts
  site/src/lib/model/user.model.ts
  site/src/pages/api/uploadUserAvatar.api.ts
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#207 Add shortname index on user collection
  site/scripts/create-db-indexes.ts
Labels: area: site

#167 Make Schema Table Responsive
  site/src/components/entityTypes/SchemaEditor/Inputs.tsx
  site/src/components/entityTypes/SchemaEditor/SchemaEditor.tsx
Labels: area: site

#168 Upgrade dependencies in `mock-block-dock` and `block-template`
  package.json
  packages/block-template/.babelrc.json
  packages/block-template/package.json
  packages/block-template/webpack-dev-server.config.js
  packages/block-template/webpack-main.config.js
  packages/blockprotocol/package.json
  packages/mock-block-dock/.babelrc.json
  packages/mock-block-dock/dev/webpack.config.js
  packages/mock-block-dock/package.json
  site/package.json
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: block-template, package: blockprotocol, package: mock-block-dock

#206 add @jmackie/block-quote
  hub/@jmackie/quote.json
Labels: area: hub

#179 Only scroll users to anchor when certain conditions are met
  site/src/components/MdxPageContent.tsx
  site/src/components/PageSidebar.tsx
  site/src/pages/_app.page.tsx
Labels: area: site

#210 Make sure published`block-template` does not contain `dist` folder
  package.json
  packages/block-template/.npmignore
  packages/block-template/package.json
  scripts/packages/publish-to-local-registry.ts
  scripts/packages/smoke-test-create-block-app.ts
  yarn.lock
Labels: area: dependencies, area: packages, area: infra, package: block-template

#203 BP site Material UI upgrade and theme file refactor
  site/package.json
  site/src/components/theme.ts
  site/src/pages/_app.page.tsx
  site/src/theme/components/dataDisplay/MuiIconButtonThemeOptions.ts
  site/src/theme/components/dataDisplay/MuiIconThemeOptions.ts
  site/src/theme/components/dataDisplay/MuiListItemButtonThemeOptions.ts
  site/src/theme/components/dataDisplay/MuiListItemIconThemeOptions.ts
  site/src/theme/components/dataDisplay/MuiListItemTextThemeOptions.ts
  site/src/theme/components/dataDisplay/MuiTypographyThemeOptions.ts
  site/src/theme/components/feedback/MuiSkeletonThemeOptions.ts
  site/src/theme/components/index.ts
  site/src/theme/components/inputs/MuiButtonThemeOptions.ts
  site/src/theme/components/inputs/MuiCheckboxThemeOptions.ts
  site/src/theme/components/inputs/MuiFormControlThemeOptions.ts
  site/src/theme/components/inputs/MuiInputBaseThemeOptions.ts
  site/src/theme/components/inputs/MuiInputLabelThemeOptions.ts
  site/src/theme/components/inputs/MuiOutlinedInputThemeOptions.ts
  site/src/theme/components/inputs/MuiTextFieldThemeOptions.ts
  site/src/theme/components/layout/MuiContainerThemeOptions.ts
  site/src/theme/components/navigation/MuiBreadcrumbsThemeOptions.ts
  site/src/theme/components/navigation/MuiLinkThemeOptions.ts
  site/src/theme/components/navigation/MuiTabThemeOptions.ts
  site/src/theme/components/navigation/MuiTabsThemeOptions.ts
  site/src/theme/components/surfaces/MuiPaperThemeOptions.ts
  site/src/theme/components/utils/MuiCssBaselineThemeOptions.ts
  site/src/theme/index.ts
  site/src/theme/palette.ts
  site/src/theme/shadows.ts
  site/src/theme/typography.ts
  site/theme-override.d.ts
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#211 Use `fs-extra` consistenlty
  .eslintrc.js
  scripts/sync-algolia-index.ts
  site/.eslintrc.js
  site/package.json
  site/scripts/generate-blocks-data.ts
  site/scripts/generate-sitemap.ts
  site/src/lib/blocks.ts
  site/src/util/mdxUtils.tsx
Labels: area: site, area: infra

#212 BP site fix block page
  site/src/lib/blocks.ts
Labels: area: site

#213 Fix `completeSignup` error
  site/src/lib/api/model/user.model.ts
Labels: area: site

#214 BP site display server errors to user
  site/src/components/Screens/CompleteSignupScreen.tsx
  site/src/components/Screens/SendLoginCodeScreen.tsx
  site/src/components/Screens/SignupScreen.tsx
  site/src/components/Screens/VerificationCodeScreen.tsx
  site/src/lib/api/model/user.model.ts
  site/src/lib/apiClient.ts
Labels: area: site

#216 Upgrade Next.js to v12
  site/.babelrc.js
  site/next-env.d.ts
  site/next.config.js
  site/package.json
  site/src/components/FooterBanner.tsx
  site/src/components/pages/user/ListViewCard.tsx
  site/src/components/pages/user/OverviewCard.tsx
  site/src/lib/blocks.ts
  site/tsconfig.json
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#219 Set default data source to empty JSON
  site/src/components/pages/hub/BlockDataContainer.tsx
Labels: area: site

#217 Improve hover performance of cards on hub page, and updated animation
  site/src/components/BlockCard.tsx
Labels: area: site

#221 Upgrade `check-dependency-version-consistency` to v2
  package.json
  yarn.lock
Labels: area: dependencies, area: infra

#226 Update divider block timestamp
  hub/@hash/divider.json
Labels: area: hub

#222 Add callout block to hub
  hub/@hash/callout.json
Labels: area: hub

#198 Display Repo Link on Blocks
  hub/@hash/code.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/table.json
  hub/@hash/video.json
  packages/blockprotocol/core.d.ts
  site/package.json
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/[blockSlug].page.tsx
  yarn.lock
Labels: area: dependencies, area: site, area: hub, area: packages, area: infra, package: blockprotocol

#225 Fix mock-block-dock breaking on entityId change
  packages/block-template/package.json
  packages/mock-block-dock/dev/DevApp.tsx
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/MockBlockDock.tsx
  packages/mock-block-dock/src/data/index.ts
  packages/mock-block-dock/src/useMockDatastore.ts
  site/package.json
  site/src/components/pages/hub/BlockDataContainer.tsx
Labels: area: site, area: packages, package: block-template, package: mock-block-dock

#230 Add description of repo contents to README
  README.md
Labels: area: infra

#220 Allow direct links to blocks & schemas of a user
  site/src/_pages/docs/3_embedding-blocks.mdx
  site/src/components/BlockCard.tsx
  site/src/components/BlocksSlider.tsx
  site/src/components/pages/user/Tabs.tsx
  site/src/components/pages/user/UserPageComponent.tsx
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/[[...profileTabs]].page.tsx
  site/src/pages/[shortname]/blocks/[blockSlug].page.tsx
Labels: area: site, site: docs

#202 Display Block Variants in Block Protocol
  packages/blockprotocol/core.d.ts
  site/src/_pages/spec/1_block-types.mdx
  site/src/components/pages/hub/BlockDataContainer.tsx
  site/src/components/pages/hub/BlockDataTabPanels.tsx
  site/src/components/pages/hub/BlockDataTabs.tsx
  site/src/components/pages/hub/BlockVariantsTabs.tsx
Labels: area: spec, area: site, area: packages, package: blockprotocol

#235 Fix handling of variants/examples combinations in block hub
  packages/blockprotocol/core.d.ts
  site/src/components/pages/hub/BlockDataContainer.tsx
  site/src/components/pages/hub/BlockVariantsTabs.tsx
Labels: area: site, area: packages, package: blockprotocol

#229 Simplify site setup by removing `next-fonts` and `next-images`
  site/assets.d.ts
  site/next.config.js
  site/package.json
  site/public/assets/fonts/apercu-bold-pro.ttf
  site/public/assets/fonts/apercu-light-pro.ttf
  site/public/assets/fonts/apercu-medium-pro.ttf
  site/public/assets/fonts/apercu-regular-pro.ttf
  site/public/assets/fonts/inter-bold.ttf
  site/public/assets/fonts/inter-light.ttf
  site/public/assets/fonts/inter-medium.ttf
  site/public/assets/fonts/inter-regular.ttf
  site/public/assets/fonts/inter-semibold.ttf
  site/src/theme/components/utils/MuiCssBaselineThemeOptions.ts
  site/tsconfig.json
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#236 Prevent uploadFile from useMockDatastore always erroring
  packages/mock-block-dock/src/useMockDatastore.ts
Labels: area: packages, package: mock-block-dock

#239 Explain different types of schema crosswalking
  site/src/_pages/docs/4_faq.mdx
  site/src/_pages/spec/1_block-types.mdx
Labels: area: spec, area: site, site: docs

#238 Expand block api documentation
  site/src/_pages/docs/3_embedding-blocks.mdx
Labels: area: site, site: docs

#233 BP Site styling tweaks
  site/src/components/BlockCard.tsx
  site/src/components/Footer.tsx
  site/src/components/InfoCard/InfoCard.tsx
  site/src/components/MdxPageContent.tsx
  site/src/components/Navbar.tsx
  site/src/components/pages/hub/BlockDataContainer.tsx
  site/src/components/pages/hub/BlockDataTabs.tsx
  site/src/components/pages/hub/BlockTabsModal.tsx
  site/src/components/pages/hub/BlockVariantsTabs.tsx
  site/src/pages/dashboard.page.tsx
  site/src/pages/docs/[[...docsSlug]].page.tsx
  site/src/pages/hub.page.tsx
  site/src/pages/spec/[[...specSlug]].page.tsx
  site/src/theme/components/dataDisplay/MuiTypographyThemeOptions.ts
  site/src/util/mdxComponents.tsx
Labels: area: site

#240 Increase `waitOn` timeout in package smoke tests
  scripts/packages/smoke-test-create-block-app.ts
Labels: area: infra

#237 Update gray colours to add new gray & sync with designs
  site/src/components/BlockCard.tsx
  site/src/components/Footer.tsx
  site/src/components/FooterBanner.tsx
  site/src/components/Navbar.tsx
  site/src/components/PageNavLinks.tsx
  site/src/components/PageSidebar.tsx
  site/src/components/Screens/CompleteSignupScreen.tsx
  site/src/components/Screens/SendLoginCodeScreen.tsx
  site/src/components/Screens/SignupScreen.tsx
  site/src/components/Screens/VerificationCodeScreen.tsx
  site/src/components/UserAvatar.tsx
  site/src/components/pages/home/Section2/Steps.tsx
  site/src/components/pages/home/WhyBlockProtocol2Section.tsx
  site/src/components/pages/hub/BlockDataTabPanels.tsx
  site/src/components/pages/hub/BlockDataTabs.tsx
  site/src/components/pages/hub/BlockTabsModal.tsx
  site/src/components/pages/hub/BlockVariantsTabs.tsx
  site/src/components/pages/user/ListViewCard.tsx
  site/src/components/pages/user/OverviewCard.tsx
  site/src/components/pages/user/Sidebar.tsx
  site/src/components/pages/user/Tabs.tsx
  site/src/pages/[shortname]/blocks/[blockSlug].page.tsx
  site/src/pages/hub.page.tsx
  site/src/pages/signup.page.tsx
  site/src/theme/components/dataDisplay/MuiIconButtonThemeOptions.ts
  site/src/theme/components/dataDisplay/MuiListItemIconThemeOptions.ts
  site/src/theme/components/dataDisplay/MuiListItemTextThemeOptions.ts
  site/src/theme/components/inputs/MuiButtonThemeOptions.ts
  site/src/theme/components/navigation/MuiBreadcrumbsThemeOptions.ts
  site/src/theme/components/navigation/MuiTabThemeOptions.ts
  site/src/theme/palette.ts
  site/theme-override.d.ts
Labels: area: site

#243 Update neglected gray values
  site/src/pages/[shortname]/blocks/[blockSlug].page.tsx
  site/src/pages/dashboard.page.tsx
  site/src/theme/components/utils/MuiCssBaselineThemeOptions.ts
  site/src/theme/typography.ts
Labels: area: site
