Repository blockprotocol/blockprotocol, pull requests merged in 2022-06, with the labels that each got.

#317 Improve `yarn dev` DX in `block-scripts`
  packages/block-scripts/package.json
  packages/block-scripts/scripts/build.js
  packages/block-scripts/scripts/dev.js
  packages/block-scripts/shared/block-assets-plugin.js
  packages/block-scripts/shared/errors.js
  packages/block-scripts/shared/generate-base-webpack-config.js
  packages/block-scripts/shared/generate-dist-block-metadata.js
  packages/block-scripts/shared/pick-existing-file-path.js
  packages/block-scripts/shared/webpack-config.js
  packages/block-template/package.json
  packages/blockprotocol/core.d.ts
  packages/blockprotocol/package.json
  packages/mock-block-dock/dev/webpack.config.js
  packages/mock-block-dock/package.json
  packages/react-block-loader/dev/webpack.config.js
  packages/react-block-loader/package.json
  site/package.json
Labels: area: site, area: packages, package: block-template, package: blockprotocol, package: mock-block-dock, package: block-scripts, package: react-block-loader

#318 Add hook export from mock-block-dock
  packages/mock-block-dock/README.md
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/index.ts
  packages/mock-block-dock/src/mock-block-dock.tsx
  packages/mock-block-dock/src/use-mock-block-props.ts
  packages/mock-block-dock/src/use-mock-datastore.ts
  packages/react-block-loader/dev/dev-app.tsx
Labels: area: packages, package: mock-block-dock, package: react-block-loader

#316 Add `tldraw` Drawing block to the BP Hub
  hub/@tldraw/drawing-canvas.json
Labels: area: hub

#325 Converted button to MUI
  site/public/assets/airplane.svg
  site/src/components/icons/airplane-icon.tsx
  site/src/components/icons/index.ts
  site/src/pages/contact.page.tsx
Labels: area: site

#327 Fix cold Vercel builds
  site/scripts/prepare-blocks.ts
Labels: area: site

#330 Specify required node versions
  .nvmrc
  package.json
Labels: area: infra

#331 Temporarily hide four blocks from hub
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/[[...profile-tabs]].page.tsx
  site/src/pages/hub.page.tsx
Labels: area: site

#312 Implement block sandboxing on the Þ Hub
  site/next.config.js
  site/src/components/pages/hub/block-data-container.tsx
  site/src/components/pages/hub/hub-utils.tsx
  site/src/components/pages/hub/sandboxed-block-demo.tsx
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  site/src/pages/api/fetch-embed-code.api.ts
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
Labels: area: site

#323 Add Block Protocol 0.2 core + service packages
  .github/labeler.yml
  .markdownlint.json
  package.json
  packages/@blockprotocol/core/README.md
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/core/src/core-block-handler.ts
  packages/@blockprotocol/core/src/core-embedder-handler.ts
  packages/@blockprotocol/core/src/core-handler.ts
  packages/@blockprotocol/core/src/index.ts
  packages/@blockprotocol/core/src/service-handler.ts
  packages/@blockprotocol/core/src/types.ts
  packages/@blockprotocol/core/tsconfig.json
  packages/@blockprotocol/graph/README.md
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/graph/src/graph-block-handler.ts
  packages/@blockprotocol/graph/src/graph-embedder-handler.ts
  packages/@blockprotocol/graph/src/graph-service.json
  packages/@blockprotocol/graph/src/index.ts
  packages/@blockprotocol/graph/src/react.ts
  packages/@blockprotocol/graph/src/types.ts
  packages/@blockprotocol/graph/tsconfig.json
  packages/block-scripts/package.json
  packages/mock-block-dock/package.json
  packages/react-block-loader/package.json
  site/package.json
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: mock-block-dock, package: block-scripts, package: react-block-loader

#319 Add countdown block
  hub/@timdiekmann/countdown.json
Labels: area: hub

#334 Call `excludeHiddenBlocks()` in two more places
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  site/src/pages/hub.page.tsx
  site/src/pages/index.page.tsx
Labels: area: site

#336 Update block-template and create-block-app for v0.2
  .eslintrc.js
  package.json
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/graph/src/types.ts
  packages/block-template/README.md
  packages/block-template/package.json
  packages/block-template/src/app.tsx
  packages/block-template/src/dev.tsx
  packages/create-block-app/create-block-app.js
  packages/create-block-app/package.json
  packages/mock-block-dock/package.json
Labels: area: packages, area: infra, package: block-template, package: create-block-app, package: mock-block-dock

#322 Add `type: module` to site and to monorepo root and use ESM in scripts
  .eslintrc.cjs
  .github/workflows/warm-up-vercel.yml
  .prettierrc.cjs
  package.json
  packages/block-scripts/package.json
  packages/mock-block-dock/src/util.ts
  scripts/packages/publish-to-local-registry.ts
  scripts/packages/smoke-test-create-block-app.ts
  scripts/suppress-experimental-warnings.cjs
  scripts/sync-algolia-index.ts
  site/next.config.js
  site/package.json
  site/scripts/build.ts
  site/scripts/copy-blocks-from-ci-cache.ts
  site/scripts/copy-blocks-to-ci-cache.ts
  site/scripts/create-db-indexes.ts
  site/scripts/dev.ts
  site/scripts/generate-blocks-data.ts
  site/scripts/generate-sitemap.ts
  site/scripts/prepare-blocks.ts
  site/scripts/prepare.ts
  site/scripts/seed-db.ts
  site/src/components/entity-types/schema-editor/schema-editor-reducer.ts
  site/src/components/entity-types/schema-editor/schema-editor.tsx
  site/src/components/hooks/use-shortname-text-field.ts
  site/src/components/link-button.tsx
  site/src/components/pages/docs/search/index.tsx
  site/src/lib/api/model/entity-type.model.ts
  site/src/lib/api/model/user.model.ts
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  site/src/pages/_app.page.tsx
  site/src/pages/_document.page.tsx
  site/src/pages/api/blocks.api.ts
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  site/src/pages/hub.page.tsx
  site/src/pages/index.page.tsx
  site/tailwind.config.cjs
  site/tsconfig.json
  site/twind.config.cjs
  tsconfig.json
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: mock-block-dock, package: block-scripts

#333 Package scripts fix for Windows
  package.json
  packages/mock-block-dock/package.json
  packages/react-block-loader/package.json
Labels: area: packages, area: infra, package: mock-block-dock, package: react-block-loader

#329 Update block scripts to include example-graph.json in build
  packages/block-scripts/package.json
  packages/block-scripts/shared/block-assets-plugin.js
  packages/block-scripts/shared/generate-dist-example-graph.js
  packages/block-template/package.json
Labels: area: packages, package: block-template, package: block-scripts

#338 Package scripts fix for Windows
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/graph/package.json
Labels: area: packages, package: Þ core, package: Þ graph

#342 Add base styles using SCSS modules
  packages/block-scripts/package.json
  packages/block-template/src/app.tsx
  packages/block-template/src/assets.d.ts
  packages/block-template/src/base.module.scss
  yarn.lock
Labels: area: dependencies, area: packages, area: infra, package: block-template, package: block-scripts

#344 Fix names of font sizes
  packages/block-template/src/base.module.scss
Labels: area: packages, package: block-template

#321 Upgrade `next-mdx-remote` and other markdown-related dependencies
  site/package.json
  site/src/_pages/docs/2_publishing-blocks.mdx
  site/src/components/info-card/info-card-wrapper.tsx
  site/src/components/info-card/info-card.tsx
  site/src/util/mdx-components.tsx
  site/src/util/mdx-utils.tsx
  yarn.lock
Labels: area: dependencies, area: site, area: infra, site: docs

#320 Display README contents on block pages
  site/package.json
  site/scripts/build.ts
  site/scripts/make-block-assets-compatible-with-vercel-lambdas.ts
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#340 Link to blocks by their location within repos
  site/scripts/prepare-blocks.ts
  site/src/lib/blocks.ts
Labels: area: site

#345 Bump block-scripts and block-template versions
  packages/block-scripts/package.json
  packages/block-template/package.json
Labels: area: packages, package: block-template, package: block-scripts

#343 Custom elements: add custom element block template, support to mock-block-dock
  .eslintrc.js
  README.md
  package.json
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/core/src/core-handler.ts
  packages/@blockprotocol/core/src/service-handler.ts
  packages/@blockprotocol/graph/README.md
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/graph/src/custom-element.ts
  packages/@blockprotocol/graph/src/index.ts
  packages/@blockprotocol/graph/src/types.ts
  packages/block-scripts/assets/babelrc.json
  packages/block-scripts/package.json
  packages/block-scripts/shared/generate-dist-block-schema.js
  packages/block-scripts/shared/webpack-config.js
  packages/block-template/README.md
  packages/block-template/package.json
  packages/block-template/src/app.tsx
  packages/block-template/templates/custom-element/.gitignore
  packages/block-template/templates/custom-element/README.md
  packages/block-template/templates/custom-element/package.json
  packages/block-template/templates/custom-element/public/block-preview.svg
  packages/block-template/templates/custom-element/public/omega.svg
  packages/block-template/templates/custom-element/src/app.ts
  packages/block-template/templates/custom-element/src/dev.tsx
  packages/block-template/templates/custom-element/src/index.ts
  packages/block-template/templates/custom-element/tsconfig.json
  packages/block-template/templates/custom-element/variants.json
  packages/block-template/templates/react/.gitignore
  packages/block-template/templates/react/README.md
  packages/block-template/templates/react/package.json
  packages/block-template/templates/react/public/block-preview.svg
  packages/block-template/templates/react/public/omega.svg
  packages/block-template/templates/react/src/app.tsx
  packages/block-template/templates/react/src/dev.tsx
  packages/block-template/templates/react/src/index.ts
  packages/block-template/templates/react/tsconfig.json
  packages/block-template/templates/react/variants.json
  packages/create-block-app/README.md
  packages/create-block-app/command-line-arguments.js
  packages/create-block-app/create-block-app.js
  packages/create-block-app/package.json
  packages/mock-block-dock/README.md
  packages/mock-block-dock/dev/dev-app.tsx
  packages/mock-block-dock/dev/test-custom-element-block.ts
  packages/mock-block-dock/dev/test-react-block.tsx
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/block-renderer.tsx
  packages/mock-block-dock/src/block-renderer/custom-element.tsx
  packages/mock-block-dock/src/data/index.ts
  packages/mock-block-dock/src/json-view.tsx
  packages/mock-block-dock/src/mock-block-dock.tsx
  packages/mock-block-dock/src/use-mock-block-props.ts
  packages/mock-block-dock/src/use-mock-block-props/use-default-array-state.ts
  packages/mock-block-dock/src/use-mock-block-props/use-link-fields.ts
  packages/mock-block-dock/src/use-mock-block-props/use-mock-datastore.ts
  scripts/packages/publish-to-local-registry.ts
  scripts/packages/smoke-test-create-block-app.ts
  site/package.json
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: block-template, package: create-block-app, package: mock-block-dock, package: block-scripts

#346 Adding RFC process
  README.md
  rfcs/0000-template.md
  rfcs/README.md
Labels: area: infra, category: rfc

#324 Update BP site contact form
  site/src/pages/contact.page.tsx
Labels: area: site

#328 Display example-graph data in Block Hub
  hub/@hash/table.json
  site/src/components/pages/hub/block-data-container.tsx
  site/src/components/pages/hub/block-data-tab-panels.tsx
  site/src/components/pages/hub/block-data-tabs.tsx
  site/src/components/pages/hub/block-tabs-modal.tsx
  site/src/components/pages/hub/hub-utils.tsx
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
Labels: area: site, area: hub

#351 Add `allow="clipboard-write"` to `iframe`
  site/src/components/pages/hub/sandboxed-block-demo.tsx
Labels: area: site

#356 Bump node in package.json → engines to 16.14.0
  package.json
Labels: area: infra

#341 Homepage Update
  site/public/assets/new-home/angular-logo.svg
  site/public/assets/new-home/block-menu.svg
  site/public/assets/new-home/checklist-block.svg
  site/public/assets/new-home/code-box-header.svg
  site/public/assets/new-home/composable-full.png
  site/public/assets/new-home/dark-box.png
  site/public/assets/new-home/image-block-interaction.svg
  site/public/assets/new-home/image-block.svg
  site/public/assets/new-home/kanban-block.svg
  site/public/assets/new-home/primary-helix.png
  site/public/assets/new-home/react-logo.svg
  site/public/assets/new-home/table-block.svg
  site/public/assets/new-home/transparent-blocks-mobile.png
  site/public/assets/new-home/transparent-blocks-with-circle.png
  site/public/assets/new-home/typescript-logo.svg
  site/public/assets/new-home/vue-logo.svg
  site/public/assets/new-home/webc-logo.svg
  site/scripts/create-db-indexes.ts
  site/src/components/blocks-slider.tsx
  site/src/components/footer-banner.tsx
  site/src/components/footer.tsx
  site/src/components/hiring-banner.tsx
  site/src/components/navbar.tsx
  site/src/components/pages/home/anyframework.tsx
  site/src/components/pages/home/composable-interfaces.tsx
  site/src/components/pages/home/confined-blocks.tsx
  site/src/components/pages/home/final-cta.tsx
  site/src/components/pages/home/header/index.tsx
  site/src/components/pages/home/interoperable-blocks.tsx
  site/src/components/pages/home/registry-section.tsx
  site/src/components/pages/home/what-are-blocks.tsx
  site/src/components/screens/signup-screen.tsx
  site/src/components/screens/verification-code-screen.tsx
  site/src/pages/index.page.tsx
  site/src/pages/login.page.tsx
  site/src/pages/signup.page.tsx
  site/src/theme/components/layout/mui-container-theme-options.ts
  site/src/theme/palette.ts
  site/src/theme/typography.ts
Labels: area: site

#353 New documentation for v0.2
  site/next.config.js
  site/src/_pages/docs/0_index.mdx
  site/src/_pages/docs/1_developing-blocks.mdx
  site/src/_pages/docs/2_embedding-blocks.mdx
  site/src/_pages/docs/2_publishing-blocks.mdx
  site/src/_pages/docs/3_embedding-blocks.mdx
  site/src/_pages/docs/3_faq.mdx
  site/src/_pages/spec/1_core-specification.mdx
  site/src/_pages/spec/3_rfcs_and_roadmap.mdx
  site/src/lib/sitemap.ts
Labels: DO NOT MERGE, area: spec, area: site, site: docs

#357 Optimize large homepage images
  site/public/assets/new-home/composable-full-min.png
  site/public/assets/new-home/composable-full.png
  site/public/assets/new-home/dark-box-min.png
  site/public/assets/new-home/dark-box.png
  site/public/assets/new-home/primary-helix-min.png
  site/public/assets/new-home/primary-helix.png
  site/public/assets/new-home/transparent-blocks-with-circle-min.png
  site/public/assets/new-home/transparent-blocks-with-circle.png
  site/src/components/pages/home/composable-interfaces.tsx
  site/src/components/pages/home/confined-blocks.tsx
  site/src/components/pages/home/header/index.tsx
  site/src/components/pages/home/interoperable-blocks.tsx
Labels: area: site

#358 Fix overlapping image on homepage in deployment
  site/src/components/pages/home/what-are-blocks.tsx
Labels: area: site

#359 Micro change to sub-header copy
  site/src/components/pages/home/header/index.tsx
Labels: area: site

#360 Improve formatting of EA docs page
  site/src/_pages/docs/2_embedding-blocks.mdx
Labels: area: site, site: docs

#361 Fixing scrolling on docs when clicking on a tab
  site/src/components/mdx-page-content.tsx
Labels: area: site

#366 Spec tweaks & redirect
  packages/blockprotocol/package.json
  packages/react-block-loader/README.md
  packages/react-block-loader/package.json
  site/next.config.js
  site/src/_pages/spec/0_index.mdx
  site/src/_pages/spec/1_core-specification.mdx
  site/src/_pages/spec/2_graph-service-specification.mdx
  site/src/_pages/spec/3_rfcs_and_roadmap.mdx
  yarn.lock
Labels: area: dependencies, area: spec, area: site, area: packages, area: infra, package: blockprotocol, package: react-block-loader

#367 Block sandbox: move source fetching to client. Add loading indicator
  site/public/assets/blocks-loading.gif
  site/src/components/pages/hub/block-data-container.tsx
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
Labels: area: site

#365 Merge spec into docs (with redirect) + new design
  site/next.config.js
  site/src/_pages/docs/3_spec/0_index.mdx
  site/src/_pages/docs/3_spec/1_core-specification.mdx
  site/src/_pages/docs/3_spec/2_graph-service-specification.mdx
  site/src/_pages/docs/3_spec/3_rfcs_and_roadmap.mdx
  site/src/_pages/docs/3_spec/title.txt
  site/src/_pages/docs/4_faq.mdx
  site/src/components/navbar.tsx
  site/src/components/page-layout.tsx
  site/src/components/page-sidebar.tsx
  site/src/components/pages/docs/docs-content.tsx
  site/src/components/pages/docs/search/index.tsx
  site/src/lib/sitemap.ts
  site/src/pages/docs/[[...docs-slug]].page.tsx
  site/src/pages/index.page.tsx
  site/src/pages/spec/[[...spec-slug]].page.tsx
  site/src/util/mdx-utils.tsx
Labels: area: site, site: docs

#362 HTML block support & bug fixes
  .gitignore
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/core/src/core-block-handler.ts
  packages/@blockprotocol/core/src/core-embedder-handler.ts
  packages/@blockprotocol/core/src/core-handler.ts
  packages/@blockprotocol/core/src/html.ts
  packages/@blockprotocol/core/src/index.ts
  packages/@blockprotocol/core/src/service-handler.ts
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/graph/src/graph-block-handler.ts
  packages/block-template/templates/custom-element/package.json
  packages/block-template/templates/html/.gitignore
  packages/block-template/templates/html/README.md
  packages/block-template/templates/html/block-metadata.json
  packages/block-template/templates/html/block-schema.json
  packages/block-template/templates/html/package.json
  packages/block-template/templates/html/public/block-preview.svg
  packages/block-template/templates/html/public/omega.svg
  packages/block-template/templates/html/src/_parcel.js
  packages/block-template/templates/html/src/app.html
  packages/block-template/templates/html/src/dev.html
  packages/block-template/templates/html/src/dev.js
  packages/block-template/templates/html/src/index.js
  packages/block-template/templates/react/package.json
  packages/create-block-app/command-line-arguments.js
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/block-renderer.tsx
  packages/mock-block-dock/src/block-renderer/html.tsx
  site/package.json
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: block-template, package: create-block-app, package: mock-block-dock, package: Þ core, package: Þ graph

#368 Remove h4s from the sitemap
  site/src/theme/components/navigation/mui-breadcrumbs-theme-options.ts
  site/src/util/mdx-components.tsx
  site/src/util/mdx-utils.tsx
Labels: area: site

#370 Fix metadata updates in create-block-app for html blocks
  packages/create-block-app/create-block-app.js
  packages/create-block-app/package.json
Labels: area: packages, package: create-block-app

#372 Update block commits
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing-canvas.json
Labels: area: hub

#374 Improve block preview + readme display
  hub/@tldraw/drawing.json
  site/src/components/pages/hub/block-data-container.tsx
  site/src/components/pages/hub/block-data-tab-panels.tsx
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
Labels: area: site, area: hub

#373 Update block commit hashes
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
Labels: area: hub

#375 Fix Algolia search indexing
  .github/workflows/algolia-upload-index.yml
  site/scripts/sync-algolia-index.ts
Labels: area: site, area: infra

#376 Update block preview images, add READMEs and fix Algolia indexing
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
  patches/domhandler+4.3.1.patch
  site/scripts/sync-algolia-index.ts
Labels: area: dependencies, area: site, area: hub

#380 Handle URL params in docs pages
  site/src/components/mdx-page-content.tsx
  site/src/components/navbar.tsx
  site/src/components/navbar/mobile-nav-items.tsx
  site/src/components/page-sidebar.tsx
  site/src/components/shared.ts
  site/src/pages/docs/[[...docs-slug]].page.tsx
Labels: area: site

#381 Fix broken footer links
  site/src/components/footer.tsx
Labels: area: site

#382 Fix: don't use object.hasOwn
  site/src/components/navbar.tsx
Labels: area: site

#383 copy tweaks for bp homepage
  site/src/components/pages/home/anyframework.tsx
  site/src/components/pages/home/composable-interfaces.tsx
  site/src/components/pages/home/interoperable-blocks.tsx
  site/src/components/pages/home/registry-section.tsx
Labels: area: site

#384 Fix broken links in specification
  site/src/_pages/docs/0_index.mdx
  site/src/_pages/docs/1_developing-blocks.mdx
  site/src/_pages/docs/3_spec/0_index.mdx
  site/src/_pages/docs/4_faq.mdx
Labels: area: site, site: docs

#386 Update site README
  site/README.md
Labels: area: site

#388 Tweak "what about non-web" FAQ
  site/src/_pages/docs/4_faq.mdx
Labels: area: site, site: docs

#390 Bundle size and entryPoint fixes to block-template
  packages/block-scripts/package.json
  packages/block-scripts/shared/webpack-config.js
  packages/block-template/package.json
  packages/block-template/templates/custom-element/package.json
  packages/block-template/templates/react/package.json
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
Labels: area: site, area: packages, package: block-template, package: block-scripts

#391 Bump all HASH blocks
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
Labels: area: hub

#363 Search Improvements
  site/src/components/hooks/use-crumbs.ts
  site/src/components/navbar.tsx
  site/src/components/navbar/mobile-nav-items.tsx
  site/src/components/page-sidebar.tsx
  site/src/components/pages/docs/docs-content.tsx
  site/src/components/pages/docs/search/index.tsx
  site/src/components/pages/docs/search/search-item.tsx
  site/src/components/pages/docs/search/search-list-category.tsx
  site/src/components/pages/docs/search/search-list-heading.tsx
  site/src/components/pages/docs/search/search-list-item.tsx
  site/src/components/pages/docs/search/search-list.tsx
  site/src/components/pages/docs/search/search-suggested-links.tsx
  site/src/components/search-nav-button.tsx
Labels: area: site

#395 Search Modal Improvements
  site/src/components/navbar/mobile-nav-items.tsx
  site/src/components/pages/docs/search/index.tsx
  site/src/components/search-nav-button.tsx
Labels: area: site

#394 Fix mock datastore display in hub
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
  packages/block-scripts/package.json
  packages/block-scripts/shared/block-assets-plugin.js
  packages/block-template/templates/custom-element/package.json
  packages/block-template/templates/react/package.json
Labels: area: hub, area: packages, package: block-template, package: block-scripts

#402 Suggested change for lb/search-improvements-v2
  site/src/components/pages/docs/search/index.tsx
  site/src/components/pages/docs/search/search-list-category.tsx
  site/src/components/pages/docs/search/search-list-heading.tsx
  site/src/components/pages/docs/search/search-list-item.tsx
  site/src/components/pages/docs/search/search-list.tsx
Labels: area: site

#404 Fix: safari docs page client side error
  site/src/components/mdx-page-content.tsx
Labels: area: site

#396 Search improvements v2
  site/package.json
  site/src/components/link-button.tsx
  site/src/components/pages/docs/search/index.tsx
  site/src/components/pages/docs/search/search-list-category.tsx
  site/src/components/pages/docs/search/search-list-heading.tsx
  site/src/components/pages/docs/search/search-list-item.tsx
  site/src/components/pages/docs/search/search-list.tsx
Labels: area: site

#401 Bump mock-block-dock version
  package.json
  packages/block-template/templates/custom-element/package.json
  packages/block-template/templates/html/package.json
  packages/block-template/templates/react/package.json
  packages/mock-block-dock/package.json
  site/package.json
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: block-template, package: mock-block-dock

#406 Allow usage of theme in custom component's sx prop
  site/src/components/button.tsx
  site/src/components/carousel.tsx
  site/src/components/footer-banner.tsx
  site/src/components/footer.tsx
  site/src/components/icons/arrow-up-circle-icon.tsx
  site/src/components/icons/badge-check-icon.tsx
  site/src/components/icons/block-protocol-icon.tsx
  site/src/components/icons/block-protocol-logo-icon.tsx
  site/src/components/icons/envelope-dot-icon.tsx
  site/src/components/icons/font-awesome-icon.tsx
  site/src/components/icons/hashlogo-icon.tsx
  site/src/components/info-card/info-card.tsx
  site/src/components/inline-link.tsx
  site/src/components/page-sidebar.tsx
  site/src/components/pages/docs/search/search-list-category.tsx
  site/src/components/pages/docs/search/search-list-heading.tsx
  site/src/components/pages/docs/search/search-list-item.tsx
  site/src/components/pages/docs/search/search-list.tsx
  site/src/components/pages/hub/tab-panel.tsx
  site/src/components/pages/user/avatar.tsx
  site/src/components/pages/user/tabs.tsx
Labels: area: site

#411 Replace outdated links to `/spec` and `/docs`
  README.md
  packages/block-template/templates/custom-element/README.md
  packages/block-template/templates/html/README.md
  packages/block-template/templates/react/README.md
  packages/react-block-loader/README.md
  packages/react-block-loader/src/web-component-block.tsx
Labels: area: packages, area: infra, package: block-template, package: react-block-loader
