Repository blockprotocol/blockprotocol, pull requests merged in 2022-09, with the labels that each got.

#553 Fix middleware redirecting guest users to `/dashboard` issue
  patches/playwright-core+1.25.1.patch
  site/src/pages/api/me.api.ts
  site/tests/integration/block-publish-npm.test.ts
Labels: area: dependencies, area: site

#560 Fix Entity Type in Type System Package
  crates/type-system/src/ontology/entity_type/error.rs
  crates/type-system/src/ontology/entity_type/mod.rs
  crates/type-system/src/ontology/entity_type/repr.rs
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/test/entity-type.test.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
Labels: area: packages

#563 Implement Error on `ParseBaseUriError` and `ParseVersionedUriError`
  crates/type-system/src/ontology/entity_type/mod.rs
  crates/type-system/src/ontology/uri/error.rs
  crates/type-system/src/ontology/uri/mod.rs
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
Labels: category: bug, area: packages

#556 Prevent direct access to sandbox host
  site/src/lib/api-client.ts
  site/src/middleware.page.ts
Labels: area: site

#562 Implement `next-seo` & improve block page meta tags
  site/package.json
  site/public/assets/bp_twitter_cover.png
  site/src/components/pages/user/user-page-component.tsx
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  site/src/pages/[shortname]/types/[title].page.tsx
  site/src/pages/_app.page.tsx
  site/src/pages/_document.page.tsx
  site/src/pages/blocks/index.page.tsx
  site/src/pages/blocks/publish/index.page.tsx
  site/src/pages/blocks/publish/npm.page.tsx
  site/src/pages/contact.page.tsx
  site/src/pages/dashboard/[[...slugs]].page.tsx
  site/src/pages/docs/[[...docs-slug]].page.tsx
  site/src/pages/hub.page.tsx
  site/src/pages/settings/api-keys.page.tsx
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#564 Remove `lodash` from `mock-block-dock`
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/util.ts
Labels: area: packages, package: mock-block-dock

#566 Revert "Remove `lodash` from `mock-block-dock`"
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/util.ts
Labels: area: packages, package: mock-block-dock

#567 Remove `lodash` from `mock-block-dock`
  .changeset/mbd-lodash.md
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/util.ts
Labels: area: packages, package: mock-block-dock

#542 Version Packages
  .changeset/mbd-lodash.md
  .changeset/six-mails-confess.md
  packages/block-scripts/CHANGELOG.md
  packages/block-scripts/package.json
  packages/block-template-custom-element/package.json
  packages/block-template-html/package.json
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
  site/package.json
Labels: area: site, area: packages, package: mock-block-dock, package: block-scripts, package: block-template-react, package: block-template-html, package: block-template-custom-element

#568 Fix base url in Axios requests
  site/src/lib/api-client.ts
Labels: area: site

#569 Skip block properties test
  site/tests/universal/blockpage.test.ts
Labels: area: site

#571 Mock-block-dock fixes and UI tweaks
  .changeset/odd-bikes-rest.md
  packages/mock-block-dock/dev/dev-app.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/properties.tsx
  packages/mock-block-dock/src/mock-block-dock.tsx
  packages/mock-block-dock/src/use-default-state.ts
  packages/mock-block-dock/src/use-mock-block-props.ts
  packages/mock-block-dock/src/use-mock-block-props/use-mock-datastore.ts
  site/src/components/pages/hub/block-data-tabs.tsx
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  site/tests/integration/blockpage.test.ts
Labels: area: site, area: packages, package: mock-block-dock

#572 Version Packages
  .changeset/odd-bikes-rest.md
  packages/block-template-custom-element/package.json
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
  site/package.json
Labels: area: site, area: packages, package: mock-block-dock, package: block-template-react, package: block-template-custom-element

#573 Revert "Skip block properties test"
  site/tests/universal/blockpage.test.ts
Labels: area: site

#574 Remove react-block-loader
  .github/labeler.yml
  README.md
  package.json
  packages/@local/eslint-config/index.js
  packages/react-block-loader/.babelrc.json
  packages/react-block-loader/CHANGELOG.md
  packages/react-block-loader/README.md
  packages/react-block-loader/dev/dev-app.tsx
  packages/react-block-loader/dev/index.html
  packages/react-block-loader/dev/webpack.config.js
  packages/react-block-loader/package.json
  packages/react-block-loader/src/html-block.tsx
  packages/react-block-loader/src/index.ts
  packages/react-block-loader/src/load-remote-block.ts
  packages/react-block-loader/src/remote-block.tsx
  packages/react-block-loader/src/shared.ts
  packages/react-block-loader/src/use-remote-block.ts
  packages/react-block-loader/src/web-component-block.tsx
  packages/react-block-loader/tsconfig.build.json
  packages/react-block-loader/tsconfig.json
  yarn.lock
Labels: area: dependencies, area: packages, area: infra, package: react-block-loader

#575 Introduce blockprotocol CLI
  .changeset/add-bprc-to-templates
  .changeset/make-blockprotocol-a-cli.md
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  packages/@local/eslint-config/index.js
  packages/block-template-custom-element/.gitignore.dist
  packages/block-template-html/.gitignore.dist
  packages/block-template-react/.gitignore.dist
  packages/blockprotocol/README.md
  packages/blockprotocol/cli.js
  packages/blockprotocol/cli/commands.js
  packages/blockprotocol/cli/commands/help.js
  packages/blockprotocol/cli/commands/publish.js
  packages/blockprotocol/cli/commands/publish/does-user-agree.js
  packages/blockprotocol/cli/commands/publish/find-api-key.js
  packages/blockprotocol/cli/commands/publish/find-block-folder.js
  packages/blockprotocol/cli/commands/publish/post-form.js
  packages/blockprotocol/cli/commands/publish/shared/find-project-root.js
  packages/blockprotocol/cli/print-spacer.js
  packages/blockprotocol/core.d.ts
  packages/blockprotocol/core.js
  packages/blockprotocol/package.json
  packages/blockprotocol/react.d.ts
  packages/blockprotocol/react.js
  packages/blockprotocol/tsconfig.json
  site/README.md
  site/src/middleware.page.ts
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: blockprotocol, package: block-template-react, package: block-template-html, package: block-template-custom-element

#579 Run Changesets as linter
  .github/workflows/ci.yml
  package.json
Labels: area: infra

#581 Introduce blockprotocol CLI
  .changeset/add-bprc-to-templates.md
  .changeset/make-blockprotocol-a-cli.md
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  packages/@local/eslint-config/index.js
  packages/block-template-custom-element/.gitignore.dist
  packages/block-template-html/.gitignore.dist
  packages/block-template-react/.gitignore.dist
  packages/blockprotocol/README.md
  packages/blockprotocol/cli.js
  packages/blockprotocol/cli/commands.js
  packages/blockprotocol/cli/commands/help.js
  packages/blockprotocol/cli/commands/publish.js
  packages/blockprotocol/cli/commands/publish/does-user-agree.js
  packages/blockprotocol/cli/commands/publish/find-api-key.js
  packages/blockprotocol/cli/commands/publish/find-block-folder.js
  packages/blockprotocol/cli/commands/publish/post-form.js
  packages/blockprotocol/cli/commands/publish/shared/find-project-root.js
  packages/blockprotocol/cli/print-spacer.js
  packages/blockprotocol/core.d.ts
  packages/blockprotocol/core.js
  packages/blockprotocol/package.json
  packages/blockprotocol/react.d.ts
  packages/blockprotocol/react.js
  packages/blockprotocol/tsconfig.json
  site/README.md
  site/src/middleware.page.ts
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: blockprotocol, package: block-template-react, package: block-template-html, package: block-template-custom-element

#576 Expose registerCallbacks to end users. Fix related bug in mock-block-dock
  .changeset/expose-register-callbacks.md
  packages/@blockprotocol/core/src/service-handler.ts
  packages/@blockprotocol/graph/src/graph-block-handler.ts
  packages/@blockprotocol/graph/src/graph-embedder-handler.ts
  packages/mock-block-dock/src/mock-block-dock.tsx
Labels: area: packages, package: mock-block-dock, package: Þ core, package: Þ graph

#586 Do not run `changeset` linter in Version Packages PRs
  .github/workflows/ci.yml
  package.json
  yarn.lock
Labels: area: dependencies, area: infra

#578 Version Packages
  .changeset/add-bprc-to-templates.md
  .changeset/expose-register-callbacks.md
  .changeset/make-blockprotocol-a-cli.md
  .changeset/tsconfig-update.md
  .changeset/tsconig-rebuild.md
  packages/@blockprotocol/core/CHANGELOG.md
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/graph/CHANGELOG.md
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/hook/CHANGELOG.md
  packages/@blockprotocol/hook/package.json
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-html/CHANGELOG.md
  packages/block-template-html/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/blockprotocol/CHANGELOG.md
  packages/blockprotocol/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
  site/package.json
Labels: area: site, area: packages, package: blockprotocol, package: mock-block-dock, package: Þ core, package: Þ graph, package: block-template-react, package: block-template-html, package: block-template-custom-element

#590 Do not require changeset markdowns in private packages
  patches/@changesets+git+1.4.1.patch
Labels: area: dependencies

#591 Fix overflowing breadcrumbs issue on mobile
  site/src/components/navbar/mobile-breadcrumbs.tsx
Labels: area: site

#584 Enable TSC in `blockprotocol` package
  .changeset/silver-ravens-yell.md
  packages/blockprotocol/cli.js
  packages/blockprotocol/cli/commands.js
  packages/blockprotocol/cli/commands/publish.js
  packages/blockprotocol/cli/commands/publish/does-user-agree.js
  packages/blockprotocol/cli/commands/publish/find-api-key.js
  packages/blockprotocol/cli/commands/publish/find-block-folder.js
  packages/blockprotocol/cli/commands/publish/post-form.js
  packages/blockprotocol/package.json
  packages/blockprotocol/tsconfig.json
  yarn.lock
Labels: area: dependencies, area: packages, area: infra, package: blockprotocol

#596 Catch potential crash in asset plugin
  .changeset/catch-block-scripts-crash.md
  packages/block-scripts/shared/block-assets-plugin.js
Labels: area: packages, package: block-scripts

#589 Introduce 'labelProperty' to mock-block-dock and EntityType
  .changeset/calm-lies-ring.md
  .changeset/purple-ads-lick.md
  packages/@blockprotocol/graph/src/types.ts
  packages/mock-block-dock/src/data/entity-types.ts
Labels: area: packages, package: mock-block-dock, package: Þ graph

#588 Fix opening modals resetting page scroll position issue
  .changeset/rude-kiwis-tell.md
  packages/@local/eslint-config/index.js
  site/src/components/modal/login-modal.tsx
  site/src/components/modal/modal.tsx
  site/src/components/navbar.tsx
  site/src/components/navbar/account-dropdown.tsx
  site/src/components/popover.tsx
  site/src/theme/components/utils/mui-css-baseline-theme-options.ts
  site/src/util/mui-utils.tsx
Labels: area: site, area: packages

#582 Update modal background gradient
  site/src/components/modal/login-modal.tsx
  site/src/components/pages/hub/block-tabs-modal.tsx
  site/src/components/search-nav-button.tsx
  site/src/theme/components/index.ts
  site/src/theme/components/utils/mui-modal-theme-options.ts
Labels: area: site

#593 Mock Block Dock debug UI: improve clarity
  .changeset/add-missing-graph-type.md
  .changeset/improve-mbd-clarity.md
  packages/@blockprotocol/graph/src/types.ts
  packages/mock-block-dock/src/debug-view/dev-tools.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/logs-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/tab-panel.tsx
  packages/mock-block-dock/src/debug-view/header.tsx
  packages/mock-block-dock/src/mock-block-dock.tsx
  packages/mock-block-dock/src/use-send-graph-value.ts
Labels: area: packages, package: mock-block-dock, package: Þ graph

#600 Update `@changesets/get-dependents-graph` patch
  patches/@changesets+get-dependents-graph+1.3.3.patch
Labels: area: dependencies

#598 Improve clarity and explanation in block templates, and base custom element class
  .changeset/chilled-coins-push.md
  .changeset/clean-wombats-retire.md
  .prettierignore
  packages/@blockprotocol/graph/src/custom-element.ts
  packages/@blockprotocol/graph/src/types.ts
  packages/block-template-custom-element/README.md
  packages/block-template-custom-element/package.json
  packages/block-template-custom-element/src/app.ts
  packages/block-template-custom-element/src/dev.tsx
  packages/block-template-html/README.md
  packages/block-template-html/dev/index.html
  packages/block-template-html/package.json
  packages/block-template-html/src/app.html
  packages/block-template-html/src/app.js
  packages/block-template-react/README.md
  packages/block-template-react/package.json
  packages/block-template-react/src/app.tsx
  packages/block-template-react/src/base.module.scss
  packages/block-template-react/src/dev.tsx
  packages/mock-block-dock/dev/test-custom-element-block.ts
  packages/mock-block-dock/dev/test-html-block/block.html
  packages/mock-block-dock/src/assets/debug-view-styles.css
  site/src/styles/prism.css
Labels: area: site, area: packages, area: infra, package: mock-block-dock, package: Þ graph, package: block-template-react, package: block-template-html, package: block-template-custom-element

#595 Version Packages
  .changeset/add-missing-graph-type.md
  .changeset/calm-lies-ring.md
  .changeset/catch-block-scripts-crash.md
  .changeset/chilled-coins-push.md
  .changeset/clean-wombats-retire.md
  .changeset/improve-mbd-clarity.md
  .changeset/purple-ads-lick.md
  .changeset/rude-kiwis-tell.md
  .changeset/silver-ravens-yell.md
  .changeset/twenty-seahorses-greet.md
  packages/@blockprotocol/graph/CHANGELOG.md
  packages/@blockprotocol/graph/package.json
  packages/block-scripts/CHANGELOG.md
  packages/block-scripts/package.json
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-html/CHANGELOG.md
  packages/block-template-html/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/blockprotocol/CHANGELOG.md
  packages/blockprotocol/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
  site/package.json
Labels: area: site, area: packages, package: blockprotocol, package: mock-block-dock, package: block-scripts, package: Þ graph, package: block-template-react, package: block-template-html, package: block-template-custom-element

#604 Add list of links to messages on graph spec page
  site/src/components/service-message-list.tsx
Labels: area: site

#602 Bump package version when `devDependencies` update
  patches/@changesets+assemble-release-plan+5.2.1.patch
Labels: area: dependencies

#606 Fix block-template-html build script on Windows
  .changeset/calm-buttons-sort.md
  packages/block-template-html/package.json
Labels: area: packages, package: block-template-html

#599 Add entity switching to mock block dock
  .changeset/blockprotocol-name-in-package-json.md
  .changeset/mock-block-dock-updates.md
  packages/@blockprotocol/graph/src/react.ts
  packages/block-template-custom-element/README.md
  packages/block-template-custom-element/package.json
  packages/block-template-custom-element/src/dev.tsx
  packages/block-template-react/README.md
  packages/block-template-react/package.json
  packages/block-template-react/src/dev.tsx
  packages/create-block-app/create-block-app.js
  packages/mock-block-dock/dev/dev-app.tsx
  packages/mock-block-dock/src/assets.d.ts
  packages/mock-block-dock/src/assets/debug-view-styles.module.css
  packages/mock-block-dock/src/debug-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/block-info-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/block-schema-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/entity-switcher.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/logs-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/properties.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/tab-panel.tsx
  packages/mock-block-dock/src/debug-view/header.tsx
  packages/mock-block-dock/src/mock-block-dock-context.tsx
  packages/mock-block-dock/src/mock-block-dock.tsx
  packages/mock-block-dock/src/use-default-state.ts
  packages/mock-block-dock/src/use-mock-block-props.ts
Labels: area: packages, package: create-block-app, package: mock-block-dock, package: Þ graph, package: block-template-react, package: block-template-custom-element

#607 Parallelize integration tests
  .github/workflows/ci.yml
Labels: area: infra

#605 MBD graph visualisation of local datastore
  .changeset/angry-bobcats-rhyme.md
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/data/links.ts
  packages/mock-block-dock/src/data/words.ts
  packages/mock-block-dock/src/debug-view/dev-tools/datastore-graph-visualisation.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/datastore-view.tsx
  patches/echarts+5.3.3.patch
  yarn.lock
Labels: area: dependencies, area: packages, area: infra, package: mock-block-dock

#603 Add cd step to post-install instructions
  .changeset/fast-ducks-scream.md
  packages/create-block-app/create-block-app.js
  packages/create-block-app/package.json
  site/src/_pages/docs/1_developing-blocks.mdx
Labels: area: site, area: packages, package: create-block-app, site: docs

#608 Version Packages
  .changeset/angry-bobcats-rhyme.md
  .changeset/blockprotocol-name-in-package-json.md
  .changeset/calm-buttons-sort.md
  .changeset/fast-ducks-scream.md
  .changeset/mock-block-dock-updates.md
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-html/CHANGELOG.md
  packages/block-template-html/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/create-block-app/CHANGELOG.md
  packages/create-block-app/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
  site/package.json
Labels: area: site, area: packages, package: create-block-app, package: mock-block-dock, package: block-template-react, package: block-template-html, package: block-template-custom-element

#611 Use `React.lazy` in `mock-block-dock` to optimize MUI loading
  .changeset/friendly-pumpkins-complain.md
  packages/mock-block-dock/src/mock-block-dock-ui.tsx
  packages/mock-block-dock/src/mock-block-dock.tsx
Labels: area: packages, package: mock-block-dock

#616 Version Packages
  .changeset/friendly-pumpkins-complain.md
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
  site/package.json
Labels: area: site, area: packages, package: mock-block-dock, package: block-template-react, package: block-template-custom-element

#618 Hotfix mock-block-dock
  .changeset/rare-teachers-train.md
  packages/mock-block-dock/src/mock-block-dock-ui.tsx
  packages/mock-block-dock/src/mock-block-dock.tsx
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
Labels: area: site, area: packages, package: mock-block-dock

#619 Version Packages
  .changeset/rare-teachers-train.md
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
  site/package.json
Labels: area: site, area: packages, package: mock-block-dock, package: block-template-react, package: block-template-custom-element

#620 Pin esm.sh target
  site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
Labels: area: site

#617 Switching block template svg to png
  .changeset/sharp-bees-fetch.md
  packages/block-template-custom-element/package.json
  packages/block-template-custom-element/public/block-preview.png
  packages/block-template-custom-element/public/block-preview.svg
  packages/block-template-html/block-metadata.json
  packages/block-template-html/public/block-preview.png
  packages/block-template-html/public/block-preview.svg
  packages/block-template-react/package.json
  packages/block-template-react/public/block-preview.png
  packages/block-template-react/public/block-preview.svg
Labels: area: packages, package: block-template-react, package: block-template-html, package: block-template-custom-element

#621 Version Packages
  .changeset/funny-readers-serve.md
  .changeset/sharp-bees-fetch.md
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-html/CHANGELOG.md
  packages/block-template-html/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/blockprotocol/CHANGELOG.md
  packages/blockprotocol/package.json
Labels: area: packages, package: blockprotocol, package: block-template-react, package: block-template-html, package: block-template-custom-element

#625 Fix 'back' button on Login page
  site/src/pages/login.page.tsx
Labels: area: site

#622 Various block author DX improvements
  .changeset/nasty-pants-lie.md
  .changeset/stale-papayas-grin.md
  packages/@blockprotocol/graph/README.md
  packages/block-scripts/shared/generate-dist-block-metadata.js
  packages/block-template-custom-element/src/dev.tsx
  packages/block-template-html/dev/index.html
  packages/block-template-react/src/dev.tsx
  packages/mock-block-dock/src/debug-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools.tsx
  packages/mock-block-dock/src/debug-view/header.tsx
  packages/mock-block-dock/src/debug-view/icons.tsx
  packages/mock-block-dock/src/mock-block-dock-ui.tsx
  site/package.json
  site/src/lib/api/blocks/r2.ts
Labels: area: site, area: packages, package: mock-block-dock, package: block-scripts, package: Þ graph, package: block-template-react, package: block-template-html, package: block-template-custom-element

#615 Handle block element changing
  .changeset/lazy-kids-poke.md
  packages/@blockprotocol/core/src/core-embedder-handler.ts
  packages/@blockprotocol/core/src/core-handler.ts
  packages/mock-block-dock/dev/test-custom-element-block.ts
  packages/mock-block-dock/dev/test-react-block.tsx
  site/public/types/core/service-meta.json
  site/src/_pages/docs/3_spec/1_core.mdx
Labels: area: site, area: packages, package: mock-block-dock, site: docs, package: Þ core

#626 Version Packages
  .changeset/lazy-kids-poke.md
  .changeset/nasty-pants-lie.md
  .changeset/stale-papayas-grin.md
  packages/@blockprotocol/core/CHANGELOG.md
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/graph/CHANGELOG.md
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/hook/CHANGELOG.md
  packages/@blockprotocol/hook/package.json
  packages/block-scripts/CHANGELOG.md
  packages/block-scripts/package.json
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-html/CHANGELOG.md
  packages/block-template-html/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
  site/package.json
Labels: area: site, area: packages, package: mock-block-dock, package: block-scripts, package: Þ core, package: Þ graph, package: block-template-react, package: block-template-html, package: block-template-custom-element

#629 Rename .bprc to .blockprotocolrc
  .changeset/odd-boats-reply.md
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  packages/block-template-custom-element/.gitignore.dist
  packages/block-template-html/.gitignore.dist
  packages/block-template-react/.gitignore.dist
  packages/blockprotocol/cli/commands/publish/find-api-key.js
Labels: area: packages, area: infra, package: blockprotocol, package: block-template-react, package: block-template-html, package: block-template-custom-element

#630 Version Packages
  .changeset/odd-boats-reply.md
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-html/CHANGELOG.md
  packages/block-template-html/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/blockprotocol/CHANGELOG.md
  packages/blockprotocol/package.json
Labels: area: packages, package: blockprotocol, package: block-template-react, package: block-template-html, package: block-template-custom-element

#627 Footer CTAs Update
  site/public/assets/background-corner-helix.png
  site/public/assets/background-corner-rainbow.png
  site/src/components/carousel.tsx
  site/src/components/footer-banner.tsx
  site/src/components/icons/arrow-left-icon.tsx
  site/src/components/icons/arrow-right-icon.tsx
  site/src/components/page-layout.tsx
  site/src/components/pages/dashboard/dashboard-card/link-wrapper.tsx
Labels: area: site

#624 Add new FAQ answer and update misc copy
  site/src/_pages/docs/0_index.mdx
  site/src/_pages/docs/4_faq.mdx
  site/src/components/footer-banner.tsx
  site/src/components/footer.tsx
  site/src/components/hiring-banner.tsx
  site/src/components/pages/home/final-cta.tsx
Labels: area: site, site: docs

#632 Playwright Footer test fixes
  site/src/components/footer-banner.tsx
  site/tests/integration/blockpage.test.ts
  site/tests/integration/docs.test.ts
  site/tests/integration/hubpage.test.ts
Labels: area: site

#631 Spec: update entities and types by overwrite, not merge
  .changeset/curly-pandas-allow.md
  packages/@blockprotocol/graph/src/custom-element.ts
  packages/@blockprotocol/graph/src/graph-service.json
  packages/@blockprotocol/graph/src/types.ts
  packages/mock-block-dock/src/use-mock-block-props/use-mock-datastore.ts
  site/README.md
  site/src/_pages/docs/3_spec/3_rfcs_and_roadmap.mdx
  site/src/components/entity-types/schema-editor/schema-editor.tsx
Labels: area: site, area: packages, package: mock-block-dock, site: docs, package: Þ graph

#633 Version Packages
  .changeset/curly-pandas-allow.md
  packages/@blockprotocol/graph/CHANGELOG.md
  packages/@blockprotocol/graph/package.json
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
  site/package.json
Labels: area: site, area: packages, package: mock-block-dock, package: Þ graph, package: block-template-react, package: block-template-custom-element

#634 Allow setting entityId in examples object
  .changeset/shiny-mice-protect.md
  packages/mock-block-dock/src/debug-view/header.tsx
  site/src/components/pages/hub/block-data-container.tsx
Labels: area: site, area: packages, package: mock-block-dock

#635 Version Packages
  .changeset/shiny-mice-protect.md
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
  packages/mock-block-dock/CHANGELOG.md
  packages/mock-block-dock/package.json
  site/package.json
Labels: area: site, area: packages, package: mock-block-dock, package: block-template-react, package: block-template-custom-element

#628 Add material for block building workshop
  .changeset/khaki-zebras-beam.md
  .markdownlint.json
  packages/block-template-react/src/app.tsx
  site/public/workshop/dock-ui.png
  site/public/workshop/slides.pdf
  site/src/_pages/docs/3_spec/2_graph-service.mdx
  site/src/pages/workshop/index.page.tsx
  site/src/pages/workshop/workshop.md
Labels: area: site, area: packages, area: infra, site: docs, package: block-template-react

#637 Update workshop.md
  .changeset/new-cheetahs-yell.md
  packages/block-template-react/src/base.module.scss
  site/src/pages/api/blocks/create.api.ts
  site/src/pages/api/blocks/publish.api.ts
  site/src/pages/api/blocks/shared/revalidate.ts
  site/src/pages/api/blocks/update.api.ts
  site/src/pages/workshop/workshop.md
Labels: area: site, area: packages, package: block-template-react

#641 Fix linting
  site/src/pages/workshop/workshop.md
Labels: area: site

#640 Allow multiple entity types as constraints on links
  crates/type-system/package.json
  crates/type-system/src/ontology/entity_type/links/error.rs
  crates/type-system/src/ontology/entity_type/links/mod.rs
  crates/type-system/src/ontology/entity_type/links/repr.rs
  crates/type-system/src/ontology/entity_type/mod.rs
  crates/type-system/src/ontology/shared/array/repr.rs
  crates/type-system/src/ontology/shared/one_of/error.rs
  crates/type-system/src/ontology/shared/one_of/repr.rs
  crates/type-system/tests/data/entity_type/block.json
  crates/type-system/tests/data/entity_type/book.json
  crates/type-system/tests/data/entity_type/building.json
  crates/type-system/tests/data/entity_type/page.json
  crates/type-system/tests/data/entity_type/person.json
  crates/type-system/tests/data/entity_type/playlist.json
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index.js
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-node/test/entity-type.test.ts
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index.js
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm.d.ts
Labels: area: packages

#614 Notify Slack upon block publication/update on the Hub
  site/src/lib/api/blocks/slack.ts
  site/src/pages/api/blocks/create.api.ts
  site/src/pages/api/blocks/publish.api.ts
Labels: area: site

#543 Implement `useSnackbar` hook
  packages/@local/eslint-config/index.js
  site/package.json
  site/src/components/hooks/use-snackbar.ts
  site/src/pages/_app.page.tsx
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra

#638 Apply modal backdrop styles to backdrop instead of the modal itself
  site/src/theme/components/index.ts
  site/src/theme/components/utils/mui-backdrop-theme-options.ts
  site/src/theme/components/utils/mui-modal-theme-options.ts
Labels: area: site

#613 Update GitHub labels
  .changeset/modern-roses-think.md
  .github/labeler.yml
  .github/workflows/labeler.yml
  README.md
  packages/@blockprotocol/hook/README.md
Labels: area: packages, area: infra

#643 Update Sentry and Next
  site/next.config.js
  site/package.json
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#642 Fix several markup issues
  site/src/components/button.tsx
  site/src/components/pages/blocks/block-form-styles.tsx
  site/src/components/pages/hub/block-data-tabs.tsx
  site/src/components/pages/user/block-list-item.tsx
  site/src/components/pages/user/list-view-card.tsx
  site/src/theme/components/navigation/mui-tabs-theme-options.ts
Labels: area: site
