Repository blockprotocol/blockprotocol, pull requests merged in 2022-04, with the labels that each got.

#280 Update table block version
  hub/@hash/table.json
Labels: area: hub

#281 Fix ‘NPM Packages’ CI by downgrading NPM to 8.4.1
  .github/workflows/check-codebase.yml
Labels: area: infra

#282 Make more block variant types nullable
  packages/block-template/package.json
  packages/blockprotocol/core.d.ts
  packages/blockprotocol/package.json
  packages/mock-block-dock/package.json
  site/package.json
  site/src/_pages/spec/1_block-types.mdx
Labels: area: spec, area: site, area: packages, package: block-template, package: blockprotocol, package: mock-block-dock

#283 Use `npx retry-cli` in ‘Warm up Vercel‘ CI
  .github/workflows/warm-up-vercel.yml
Labels: area: infra

#284 Add "We're hiring" banner to site's footer
  site/src/components/HiringBanner.tsx
  site/src/components/PageLayout.tsx
Labels: area: site

#285 Add labelProperty and configProperties to spec
  site/src/_pages/spec/1_block-types.mdx
Labels: area: spec, area: site

#278 Use `block-scripts` in `block-template`
  .eslintignore
  .eslintrc.js
  .github/labeler.yml
  .prettierignore
  package.json
  packages/block-scripts/README.md
  packages/block-scripts/bin.js
  packages/block-scripts/config/babelrc.json
  packages/block-scripts/config/generate-base-webpack-config.cjs
  packages/block-scripts/config/index.html
  packages/block-scripts/config/webpack-block-metadata-plugin.cjs
  packages/block-scripts/config/webpack-dev-server.config.cjs
  packages/block-scripts/package.json
  packages/block-scripts/scripts/build.js
  packages/block-scripts/scripts/dev.js
  packages/block-scripts/scripts/help.js
  packages/block-scripts/scripts/serve.js
  packages/block-scripts/scripts/version.js
  packages/block-scripts/shared/clean-dist.js
  packages/block-scripts/shared/config.js
  packages/block-scripts/shared/ensure-block-schema-in-dist.js
  packages/block-scripts/shared/list-available-script-names.js
  packages/block-scripts/shared/paths.js
  packages/block-scripts/shared/serve-dist.js
  packages/block-template/README.md
  packages/block-template/package.json
  packages/block-template/src/app.tsx
  packages/block-template/src/dev.js
  packages/block-template/src/index.ts
  packages/block-template/tsconfig.json
  packages/block-template/webpack.config.js
  packages/mock-block-dock/package.json
  scripts/packages/publish-to-local-registry.ts
  site/package.json
  site/src/_pages/docs/1_developing-blocks.mdx
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: block-template, package: mock-block-dock, site: docs

#286 Add `@next/bundle-analyzer` package
  site/next.config.js
  site/package.json
  yarn.lock
Labels: area: dependencies, area: site, area: infra

#291 Fix a few issues in `block-scripts`
  packages/block-scripts/config/generate-base-webpack-config.cjs
  packages/block-scripts/package.json
  packages/block-scripts/shared/serve-dist.js
  packages/block-template/package.json
  packages/mock-block-dock/package.json
  site/package.json
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: block-template, package: mock-block-dock, package: block-scripts

#288 Use `block-scripts` in blocks
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/table.json
  hub/@hash/video.json
Labels: area: hub

#292 Bump block-template version
  packages/block-template/package.json
Labels: area: packages, package: block-template

#293 Custom initial entities in mock-block-dock. Better displayName from create-block-app
  packages/block-scripts/package.json
  packages/block-template/package.json
  packages/create-block-app/create-block-app.js
  packages/create-block-app/package.json
  packages/mock-block-dock/README.md
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/MockBlockDock.tsx
  packages/mock-block-dock/src/useMockDatastore.ts
  site/package.json
Labels: area: site, area: packages, package: block-template, package: create-block-app, package: mock-block-dock, package: block-scripts

#294 Bump block-scripts and block-template version numbers
  packages/block-scripts/package.json
  packages/block-template/package.json
Labels: area: packages, package: block-template, package: block-scripts

#296 Further improve `block-scripts`
  packages/block-scripts/package.json
  packages/block-scripts/scripts/build.js
  packages/block-scripts/scripts/dev.js
  packages/block-scripts/shared/generate-base-webpack-config.js
  packages/block-scripts/shared/generate-dist-block-metadata.js
  packages/block-scripts/tsconfig.json
  packages/block-template/package.json
Labels: area: packages, package: block-template, package: block-scripts

#289 Introducing react-block-loader
  .eslintrc.js
  .github/labeler.yml
  packages/react-block-loader/.babelrc.json
  packages/react-block-loader/README.md
  packages/react-block-loader/dev/DevApp.tsx
  packages/react-block-loader/dev/index.html
  packages/react-block-loader/dev/webpack.config.js
  packages/react-block-loader/package.json
  packages/react-block-loader/src/HtmlBlock.tsx
  packages/react-block-loader/src/RemoteBlock.tsx
  packages/react-block-loader/src/WebComponentBlock.tsx
  packages/react-block-loader/src/index.ts
  packages/react-block-loader/src/loadRemoteBlock.ts
  packages/react-block-loader/src/shared.ts
  packages/react-block-loader/src/useRemoteBlock.ts
  packages/react-block-loader/tsconfig.build.json
  packages/react-block-loader/tsconfig.json
  site/package.json
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra

#298 Switch to kebab-case in site URLs
  .eslintrc.js
  package.json
  site/README.md
  site/src/components/Screens/CompleteSignupScreen.tsx
  site/src/components/hooks/useShortnameTextField.ts
  site/src/components/pages/hub/HubUtils.tsx
  site/src/lib/api/model/user.model.ts
  site/src/lib/apiClient.ts
  site/src/pages/[shortname]/[[...profile-tabs]].page.tsx
  site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  site/src/pages/api/complete-signup.api.ts
  site/src/pages/api/fetch-embed-code.api.ts
  site/src/pages/api/is-shortname-taken.api.ts
  site/src/pages/api/login-with-login-code.api.ts
  site/src/pages/api/me/api-keys.api.ts
  site/src/pages/api/me/generate-api-key.api.ts
  site/src/pages/api/send-login-code.api.ts
  site/src/pages/api/upload-user-avatar.api.ts
  site/src/pages/api/verify-email.api.ts
  site/src/pages/docs/[[...docs-slug]].page.tsx
  site/src/pages/login.page.tsx
  site/src/pages/signup.page.tsx
  site/src/pages/spec/[[...spec-slug]].page.tsx
  site/src/pages/types/[entity-type-id].page.tsx
  yarn.lock
Labels: area: dependencies, area: site, area: infra
