Repository blockprotocol/blockprotocol, pull requests merged in 2022-03, with the labels that each got.

#245 Remove non-MUI CSS: Tailwind preflight and global.css
  site/src/components/InfoCard/InfoCardWrapper.tsx
  site/src/components/entityTypes/SchemaEditor/SchemaEditor.tsx
  site/src/pages/[shortname]/types/[title].page.tsx
  site/src/pages/_app.page.tsx
  site/src/styles/index.css
  site/tailwind.config.js
  site/twind.config.js
Labels: area: site

#231 Improve block preparation process
  .eslintignore
  .gitignore
  .markdownlintignore
  .prettierignore
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@jmackie/quote.json
  hub/@shinypb/emoji-trading-cards.json
  site/README.md
  site/package.json
  site/scripts/build-blocks.sh
  site/scripts/build.ts
  site/scripts/copy-blocks-from-ci-cache.ts
  site/scripts/copy-blocks-to-ci-cache.ts
  site/scripts/prepare-blocks.ts
  site/src/_pages/docs/2_publishing-blocks.mdx
  site/src/lib/blocks.ts
  yarn.lock
Labels: area: dependencies, area: site, area: hub, area: infra, site: docs

#246 Shorten visible links on the block pages
  site/src/pages/[shortname]/blocks/[blockSlug].page.tsx
Labels: area: site

#223 Add Create Schema card to dashboard
  site/src/components/Modal/CreateSchemaModal.tsx
  site/src/components/Modal/Modal.tsx
  site/src/components/pages/authWall.tsx
  site/src/components/pages/dashboard/DashboardCard.tsx
  site/src/components/pages/dashboard/GenerateApiModal.tsx
  site/src/components/pages/user/UserPageComponent.tsx
  site/src/pages/dashboard/[[...slugs]].page.tsx
  site/src/pages/login.page.tsx
  site/src/theme/components/inputs/MuiButtonThemeOptions.ts
Labels: area: site

#247 Add more FAQ
  site/src/_pages/docs/4_faq.mdx
Labels: area: site, site: docs

#248 Hotfix scrolling and performance issues on profile page
  site/src/components/pages/user/UserPageComponent.tsx
Labels: area: site

#249 Add aggregation handling to mock-block-dock
  .eslintrc.js
  hub/@hash/table.json
  packages/blockprotocol/core.d.ts
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/MockBlockDock.tsx
  packages/mock-block-dock/src/data/entities.ts
  packages/mock-block-dock/src/data/entityTypes.ts
  packages/mock-block-dock/src/useLinkFields.ts
  packages/mock-block-dock/src/useMockDatastore.ts
  packages/mock-block-dock/src/util.ts
  site/package.json
  yarn.lock
Labels: area: dependencies, area: site, area: hub, area: packages, area: infra, package: blockprotocol, package: mock-block-dock

#253 Accept all npm-supported repository URLs in blocks
  site/scripts/prepare-blocks.ts
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/blocks/[blockSlug].page.tsx
Labels: area: site

#250 Speed up profile page on Vercel
  .github/workflows/algolia-upload-index.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/labeler.yml
  .github/workflows/warm-up-vercel.yml
  site/src/pages/[shortname]/[[...profileTabs]].page.tsx
Labels: area: site, area: infra

#254 Configure lockfile-lint
  .github/workflows/check-codebase.yml
  package.json
  yarn.lock
Labels: area: dependencies, area: infra

#256 Tweak blockprotocol types and set to 0.0.7
  packages/block-template/package.json
  packages/blockprotocol/core.d.ts
  packages/blockprotocol/package.json
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/useMockDatastore.ts
  site/package.json
  site/src/_pages/spec/1_block-types.mdx
Labels: area: spec, area: site, area: packages, package: block-template, package: blockprotocol, package: mock-block-dock

#251 Refactor profile tabs navigation
  site/README.md
  site/scripts/seed-db.ts
  site/src/components/BaseLink.tsx
  site/src/components/Link.tsx
  site/src/components/LinkButton.tsx
  site/src/components/pages/user/Tabs.tsx
  site/src/components/pages/user/UserPageComponent.tsx
  site/src/components/pages/user/utils.ts
  site/src/pages/[shortname]/[[...profileTabs]].page.tsx
Labels: area: site

#257 Improve how Vercel Lambdas are warmed up
  .github/workflows/warm-up-vercel.yml
Labels: area: infra

#259 Handle non-default block exports, detect non-React
  site/src/components/pages/hub/BlockDataContainer.tsx
  site/src/components/pages/hub/HubUtils.tsx
  site/src/pages/[shortname]/blocks/[blockSlug].page.tsx
Labels: area: site

#261 Fix block-template externals and main source file detection
  packages/block-template/package.json
  packages/block-template/webpack-block-metadata-plugin.js
  packages/block-template/webpack-main.config.js
Labels: area: packages, package: block-template

#258 Update HASH blocks
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/table.json
  hub/@hash/video.json
  site/scripts/prepare-blocks.ts
Labels: area: site, area: hub

#260 Bump TS to 4.6.2, enable `noUncheckedIndexedAccess`
  packages/block-template/package.json
  packages/mock-block-dock/package.json
  site/package.json
  site/src/components/MdxPageContent.tsx
  site/src/components/Modal/CreateSchemaModal.tsx
  site/src/components/PageSidebar.tsx
  site/src/components/entityTypes/SchemaEditor/schemaEditorReducer.ts
  site/src/components/hooks/useVerificationCodeTextField.ts
  site/src/components/pages/docs/Search/index.tsx
  site/src/components/pages/home/Section2/Steps.tsx
  site/src/lib/api/middleware/multipartUploads.middleware.ts
  site/src/lib/api/model/apiKey.model.ts
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/blocks/[blockSlug].page.tsx
  site/src/pages/[shortname]/types/[title].page.tsx
  site/src/pages/spec/[[...specSlug]].page.tsx
  site/src/util/mdxUtils.tsx
  site/tsconfig.json
  tsconfig.base.json
  yarn.lock
Labels: area: dependencies, area: site, area: packages, area: infra, package: block-template, package: mock-block-dock

#252 Add @kickstartDS Button component
  hub/@kickstartds/button.json
Labels: area: hub

#264 Update Code block
  hub/@hash/code.json
Labels: area: hub

#255 Implement placeholders in empty user profile tabs
  site/scripts/seed-db.ts
  site/src/components/pages/dashboard/DashboardCard.tsx
  site/src/components/pages/user/Placeholder.tsx
  site/src/components/pages/user/PlaceholderButtons.tsx
  site/src/components/pages/user/TabPanelContentsWithBlocks.tsx
  site/src/components/pages/user/TabPanelContentsWithOverview.tsx
  site/src/components/pages/user/TabPanelContentsWithSchemas.tsx
  site/src/components/pages/user/Tabs.tsx
  site/src/components/pages/user/UserPageComponent.tsx
  site/src/components/pages/user/useUserStatus.ts
  site/src/pages/dashboard/[[...slugs]].page.tsx
Labels: area: site

#265 Remove duplicate phrasing about defaults
  site/src/_pages/spec/2_embedding-applications.mdx
Labels: area: spec, area: site

#270 Implement early exit in `prepare-blocks` script on error
  hub/@kickstartds/button.json
  site/scripts/prepare-blocks.ts
Labels: area: site, area: hub

#271 Add `/api/me` to the list of routes to warm up
  .github/workflows/warm-up-vercel.yml
Labels: area: infra

#129 Update second scrolly section animation
  site/src/components/pages/home/WhyBlockProtocol2Section.tsx
  site/src/components/pages/home/WhyBlockProtocolSection.tsx
  site/src/pages/index.page.tsx
Labels: area: site

#273 Allow APIs to optionally be made public
  site/src/lib/api/handler/apiKeyRequiredHandler.ts
  site/src/lib/api/handler/baseHandler.ts
Labels: area: site

#277 Add serve command to block-template
  packages/block-template/README.md
  packages/block-template/package.json
Labels: area: packages, package: block-template

#276 Update Blocks API to return icon URLs and unique IDs
  packages/blockprotocol/core.d.ts
  site/src/lib/blocks.ts
  site/src/pages/[shortname]/blocks/[blockSlug].page.tsx
  site/src/pages/api/blocks.api.ts
Labels: area: site, area: packages, package: blockprotocol
