Repository blockprotocol/blockprotocol, pull requests merged in 2022-12, with the labels that each got.

#797 Enable ESLint in two workspaces
  packages/@local/package-chores/.eslintrc.cjs
  packages/@local/package-chores/package.json
  packages/@local/package-chores/scripts/cleanup-before-publishing.ts
  packages/@local/package-chores/scripts/shared/publishable-packages.ts
  packages/@local/script-resources/.eslintrc.cjs
  packages/@local/script-resources/package.json
Labels: area: packages, package: @local/*

#810 Bump block version
  hub/@alfie/github-pr-overview.json
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/shuffle.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@thehabbos007/calculation.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
Labels: area: hub

#808 Unify Type System packages
  .github/actions/warm-up-repo/action.yml
  .gitignore
  .markdownlintignore
  .prettierignore
  README.md
  crates/type-system/Cargo.toml
  crates/type-system/Makefile.toml
  crates/type-system/README.md
  crates/type-system/scripts/build-wasm.ts
  crates/type-system/tsconfig.json
  packages/@blockprotocol/type-system-node/CHANGELOG.md
  packages/@blockprotocol/type-system-node/LICENSE.md
  packages/@blockprotocol/type-system-node/dist/index.d.ts
  packages/@blockprotocol/type-system-node/dist/index.js
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm
  packages/@blockprotocol/type-system-node/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-node/package.json
  packages/@blockprotocol/type-system-node/tsconfig.json
  packages/@blockprotocol/type-system-web/.eslintrc.cjs
  packages/@blockprotocol/type-system-web/CHANGELOG.md
  packages/@blockprotocol/type-system-web/LICENSE.md
  packages/@blockprotocol/type-system-web/dist/index.d.ts
  packages/@blockprotocol/type-system-web/dist/index.js
  packages/@blockprotocol/type-system-web/dist/index_bg.js
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm
  packages/@blockprotocol/type-system-web/dist/index_bg.wasm.d.ts
  packages/@blockprotocol/type-system-web/package.json
  packages/@blockprotocol/type-system-web/tsconfig.json
  packages/@blockprotocol/type-system/.eslintrc.cjs
  packages/@blockprotocol/type-system/README.md
  packages/@blockprotocol/type-system/jest.config.cjs
  packages/@blockprotocol/type-system/package.json
  packages/@blockprotocol/type-system/rollup.config.js
  packages/@blockprotocol/type-system/src/common.ts
  packages/@blockprotocol/type-system/src/index-slim.ts
  packages/@blockprotocol/type-system/src/index.ts
  packages/@blockprotocol/type-system/test/data-type.test.ts
  packages/@blockprotocol/type-system/test/entity-type.test.ts
  packages/@blockprotocol/type-system/test/property-type.test.ts
  packages/@blockprotocol/type-system/test/uri.test.ts
  packages/@blockprotocol/type-system/tsconfig.json
  turbo.json
  yarn.lock
Labels: area: dependencies, area: packages, area: infra, area: crates, package: @Þ/type-system

#795 Version Packages
  .changeset/neat-gorillas-juggle.md
  packages/block-scripts/CHANGELOG.md
  packages/block-scripts/package.json
  packages/block-template-custom-element/CHANGELOG.md
  packages/block-template-custom-element/package.json
  packages/block-template-html/CHANGELOG.md
  packages/block-template-html/package.json
  packages/block-template-react/CHANGELOG.md
  packages/block-template-react/package.json
Labels: area: packages, package: block-template-react, package: block-template-html, package: block-template-custom-element, package: block-scripts

#812 Add `--report-unused-disable-directives` to `lint:eslint`
  apps/site/package.json
  crates/type-system/package.json
  packages/@blockprotocol/core/package.json
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/hook/package.json
  packages/@blockprotocol/type-system/package.json
  packages/@local/eslint-config/package.json
  packages/@local/package-chores/package.json
  packages/@local/script-resources/package.json
  packages/block-scripts/package.json
  packages/block-template-custom-element/package.json
  packages/block-template-html/package.json
  packages/block-template-react/package.json
  packages/blockprotocol/package.json
  packages/create-block-app/package.json
  packages/mock-block-dock/package.json
Labels: app: site, area: packages, package: blockprotocol, package: create-block-app, package: mock-block-dock, package: @local/*, package: @Þ/core, package: @Þ/graph, package: block-template-react, package: block-template-html, package: block-template-custom-element, area: crates, package: @Þ/hook, package: block-scripts, area: apps

#814 Version Packages
  .changeset/angry-horses-notice.md
  packages/@blockprotocol/type-system/CHANGELOG.md
  packages/@blockprotocol/type-system/package.json
Labels: area: packages

#815 Use Type System Types in Graph Service
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/graph/src/custom-element.ts
  packages/@blockprotocol/graph/src/graph-block-handler.ts
  packages/@blockprotocol/graph/src/react.ts
  packages/@blockprotocol/graph/src/types.ts
  packages/@blockprotocol/graph/src/types/block-graph.ts
  packages/@blockprotocol/graph/src/types/entity-type.ts
  packages/@blockprotocol/graph/src/types/entity.ts
  packages/@blockprotocol/graph/src/types/file.ts
  packages/@blockprotocol/graph/src/types/link.ts
  packages/@blockprotocol/graph/src/types/linked-aggregation.ts
  packages/@blockprotocol/hook/package.json
  packages/@blockprotocol/hook/src/react.ts
  packages/@blockprotocol/hook/src/types.ts
  packages/@blockprotocol/type-system/CHANGELOG.md
  packages/@blockprotocol/type-system/package.json
  packages/@blockprotocol/type-system/rollup.config.js
Labels: area: packages, package: @Þ/graph, package: @Þ/hook

#817 Add README.md files to local workspaces
  packages/@local/eslint-config/README.md
  packages/@local/package-chores/README.md
  packages/@local/tsconfig/README.md
Labels: area: packages, package: @local/*

#821 Increase Playwright test timeout for Webkit to fix CI
  apps/site/tests/integration/api-keys.test.ts
Labels: app: site, area: apps

#827 Update links and redirects
  README.md
  apps/site/next.config.js
  apps/site/src/_pages/docs/3_spec/02_graph-service.mdx
  apps/site/src/_pages/docs/3_spec/03_hook-service.mdx
Labels: app: site, area: infra, area: apps, area: docs

#816 Remove unused dependencies
  .changeset/mighty-penguins-raise.md
  apps/site/package.json
  packages/@local/package-chores/package.json
  packages/block-scripts/package.json
  packages/mock-block-dock/package.json
  yarn.lock
Labels: area: dependencies, app: site, area: packages, area: infra, package: mock-block-dock, package: @local/*, package: block-scripts, area: apps

#818 Remove `@local/script-resources`, use external `suppress-experimental-warnings`
  apps/site/package.json
  packages/@local/package-chores/package.json
  packages/@local/package-chores/scripts/publish-to-local-registry.ts
  packages/@local/package-chores/scripts/shared/logging.ts
  packages/@local/package-chores/scripts/smoke-test-create-block-app.ts
  packages/@local/script-resources/.eslintrc.cjs
  packages/@local/script-resources/package.json
  packages/@local/script-resources/suppress-experimental-warnings.cjs
  packages/@local/script-resources/tsconfig.json
  yarn.lock
Labels: area: dependencies, app: site, area: packages, area: infra, package: @local/*, area: apps

#819 Add the `Subgraph` types
  packages/@blockprotocol/graph/src/custom-element.ts
  packages/@blockprotocol/graph/src/types.ts
  packages/@blockprotocol/graph/src/types/block-graph.ts
  packages/@blockprotocol/graph/src/types/entity.ts
  packages/@blockprotocol/graph/src/types/ontology.ts
  packages/@blockprotocol/graph/src/types/ontology/data-type.ts
  packages/@blockprotocol/graph/src/types/ontology/entity-type.ts
  packages/@blockprotocol/graph/src/types/ontology/metadata.ts
  packages/@blockprotocol/graph/src/types/ontology/property-type.ts
  packages/@blockprotocol/graph/src/types/subgraph.ts
  packages/@blockprotocol/graph/src/types/subgraph/edges.ts
  packages/@blockprotocol/graph/src/types/subgraph/edges/kind.ts
  packages/@blockprotocol/graph/src/types/subgraph/edges/outward-edge.ts
  packages/@blockprotocol/graph/src/types/subgraph/graph-resolve-depths.ts
  packages/@blockprotocol/graph/src/types/subgraph/time.ts
  packages/@blockprotocol/graph/src/types/subgraph/vertices.ts
Labels: area: packages, package: @Þ/graph

#820 Introduce the start of the `Subgraph` standard library
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/graph/src/stdlib-temporal.ts
  packages/@blockprotocol/graph/src/stdlib.ts
  packages/@blockprotocol/graph/src/stdlib/must-be-defined.ts
  packages/@blockprotocol/graph/src/stdlib/subgraph/edge/link-entity.ts
  packages/@blockprotocol/graph/src/stdlib/subgraph/element/data-type.ts
  packages/@blockprotocol/graph/src/stdlib/subgraph/element/entity-type.ts
  packages/@blockprotocol/graph/src/stdlib/subgraph/element/entity.ts
  packages/@blockprotocol/graph/src/stdlib/subgraph/element/property-type.ts
  packages/@blockprotocol/graph/src/stdlib/subgraph/roots.ts
  packages/@blockprotocol/graph/src/types.ts
  packages/@blockprotocol/graph/src/types/entity.ts
  packages/@blockprotocol/graph/src/types/file.ts
  packages/@blockprotocol/graph/src/types/linked-aggregation.ts
  packages/@blockprotocol/graph/src/types/ontology.ts
  packages/@blockprotocol/graph/src/types/ontology/data-type.ts
  packages/@blockprotocol/graph/src/types/ontology/entity-type.ts
  packages/@blockprotocol/graph/src/types/ontology/metadata.ts
  packages/@blockprotocol/graph/src/types/ontology/property-type.ts
  packages/@blockprotocol/graph/src/types/subgraph.ts
  packages/@blockprotocol/graph/src/types/subgraph/edges.ts
  packages/@blockprotocol/graph/src/types/subgraph/edges/outward-edge-alias.ts
  packages/@blockprotocol/graph/src/types/subgraph/edges/outward-edge.ts
  packages/@blockprotocol/graph/src/types/subgraph/vertices.ts
  packages/@blockprotocol/graph/src/util.ts
Labels: area: packages, package: @Þ/graph

#826 Update and Fix the Graph Service
  apps/site/src/_pages/docs/1_developing-blocks.mdx
  packages/@blockprotocol/graph/src/custom-element.ts
  packages/@blockprotocol/graph/src/graph-block-handler.ts
  packages/@blockprotocol/graph/src/graph-embedder-handler.ts
  packages/@blockprotocol/graph/src/react.ts
  packages/@blockprotocol/graph/src/types.ts
  packages/@blockprotocol/graph/src/types/block-graph.ts
  packages/@blockprotocol/graph/src/types/entity.ts
  packages/@blockprotocol/graph/src/types/link.ts
  packages/@blockprotocol/graph/src/types/linked-aggregation.ts
  packages/@blockprotocol/graph/src/types/ontology/entity-type.ts
  packages/mock-block-dock/dev/test-custom-element-block.ts
Labels: app: site, area: packages, package: mock-block-dock, package: @Þ/graph, area: apps, area: docs

#831 Expose ontology types of `repr` module
  crates/type-system/src/ontology/data_type/mod.rs
  crates/type-system/src/ontology/entity_type/mod.rs
  crates/type-system/src/ontology/mod.rs
  crates/type-system/src/ontology/property_type/mod.rs
  crates/type-system/src/ontology/property_type/repr.rs
  crates/type-system/src/utils.rs
Labels: area: crates

#839 Dual-license Apache/MIT by default
  LICENSE-APACHE.md
  LICENSE-MIT.md
  LICENSE.md
  crates/type-system/LICENSE-APACHE.md
  crates/type-system/LICENSE-MIT.md
  crates/type-system/LICENSE.md
Labels: area: infra, area: crates

#837 Add WordPress plugin landing page
  apps/site/package.json
  apps/site/public/assets/new-home/wp-helix.png
  apps/site/src/components/icons/arrows-left-right-icon.tsx
  apps/site/src/components/icons/atom-simple-icon.tsx
  apps/site/src/components/icons/binary-icon.tsx
  apps/site/src/components/icons/block-protocol-icon.tsx
  apps/site/src/components/icons/city-icon.tsx
  apps/site/src/components/icons/globe-icon.tsx
  apps/site/src/components/icons/index.ts
  apps/site/src/components/icons/layer-plus-icon.tsx
  apps/site/src/components/icons/road-icon.tsx
  apps/site/src/components/icons/rocket-icon.tsx
  apps/site/src/components/icons/wand-magic-sparkles-icon.tsx
  apps/site/src/components/icons/wordpress-icon.tsx
  apps/site/src/components/pages/wordpress/availability.tsx
  apps/site/src/components/pages/wordpress/bp-wp-icons.tsx
  apps/site/src/components/pages/wordpress/early-access-cta.tsx
  apps/site/src/components/pages/wordpress/email-submitted-context.tsx
  apps/site/src/components/pages/wordpress/header.tsx
  apps/site/src/components/pages/wordpress/icon-section.tsx
  apps/site/src/components/pages/wordpress/why-develop.tsx
  apps/site/src/components/pages/wordpress/why-install.tsx
  apps/site/src/components/screens/send-login-code-screen.tsx
  apps/site/src/components/screens/signup-screen.tsx
  apps/site/src/lib/api-client.ts
  apps/site/src/lib/api/mailchimp.ts
  apps/site/src/pages/api/subscribe-email.api.ts
  apps/site/src/pages/wordpress.page.tsx
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#842 Add meta to WordPress plugin landing page
  apps/site/public/assets/wp_bp_og_cover.jpg
  apps/site/src/pages/wordpress.page.tsx
Labels: app: site, area: apps

#845 WP Landing page improvements
  apps/site/src/components/pages/wordpress/header.tsx
  apps/site/src/components/pages/wordpress/why-develop.tsx
Labels: app: site, area: apps

#846 Make wordpress signup into a form
  apps/site/src/components/pages/wordpress/early-access-cta.tsx
Labels: app: site, area: apps

#847 Fix meta image extension
  apps/site/src/pages/wordpress.page.tsx
Labels: app: site, area: apps

#849 Improvements to WordPress landing page
  apps/site/src/components/pages/wordpress/availability.tsx
  apps/site/src/components/pages/wordpress/header.tsx
  apps/site/src/components/pages/wordpress/input.tsx
  apps/site/src/components/pages/wordpress/request-another-application.tsx
  apps/site/src/lib/api-client.ts
Labels: app: site, area: apps

#838 Replace hiring banner with 0.3 announcement banner
  apps/site/src/components/coming-soon-banner.tsx
  apps/site/src/components/navbar.tsx
  apps/site/src/components/page-layout.tsx
  apps/site/src/components/pages/home/header.tsx
  apps/site/src/components/pages/wordpress/availability.tsx
  apps/site/src/pages/settings/api-keys.page.tsx
  apps/site/src/theme/components/utils/mui-css-baseline-theme-options.ts
  apps/site/tests/integration/api-keys.test.ts
Labels: app: site, area: apps

#851 Tweak link to cache-bust Twitter Open Graph
  apps/site/src/components/pages/wordpress/request-another-application.tsx
Labels: app: site, area: apps

#848 Fix-up LICENSE files to improve GitHub display
  .github/licenses/LICENSE-APACHE.md
  .github/licenses/LICENSE-ELASTIC.md
  .github/licenses/LICENSE-MIT.md
  LICENSE.md
Labels: area: infra

#841 Skip rendering ’last updated’ on block page during SSR
  apps/site/src/pages/[shortname]/blocks/[block-slug].page.tsx
Labels: app: site, area: apps

#852 Mixed minor copy and repo updates
  README.md
  apps/site/src/components/coming-soon-banner.tsx
  apps/site/src/pages/wordpress.page.tsx
Labels: app: site, area: infra, area: apps

#830 Fix Mock-Block-Dock
  packages/mock-block-dock/dev/dev-app.tsx
  packages/mock-block-dock/dev/test-custom-element-block.ts
  packages/mock-block-dock/dev/test-react-block.tsx
  packages/mock-block-dock/package.json
  packages/mock-block-dock/src/data/entities.ts
  packages/mock-block-dock/src/data/entity-types.ts
  packages/mock-block-dock/src/data/index.ts
  packages/mock-block-dock/src/data/links.ts
  packages/mock-block-dock/src/data/property-types.ts
  packages/mock-block-dock/src/data/words.ts
  packages/mock-block-dock/src/datastore/hook-implementations/entity/aggregate-entities.ts
  packages/mock-block-dock/src/datastore/hook-implementations/entity/get-entity.ts
  packages/mock-block-dock/src/datastore/mutate-subgraph.ts
  packages/mock-block-dock/src/datastore/traverse.ts
  packages/mock-block-dock/src/datastore/traverse/resolve-map.ts
  packages/mock-block-dock/src/datastore/traverse/traversal-context.ts
  packages/mock-block-dock/src/datastore/use-mock-data-to-subgraph.ts
  packages/mock-block-dock/src/datastore/use-mock-datastore.ts
  packages/mock-block-dock/src/debug-view/dev-tools/block-schema-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/datastore-graph-visualisation.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/datastore-graph-visualization.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/datastore-view.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/entity-switcher.tsx
  packages/mock-block-dock/src/debug-view/dev-tools/properties.tsx
  packages/mock-block-dock/src/hook-portals.tsx
  packages/mock-block-dock/src/mock-block-dock-context.tsx
  packages/mock-block-dock/src/mock-block-dock.tsx
  packages/mock-block-dock/src/use-mock-block-props.ts
  packages/mock-block-dock/src/use-mock-block-props/use-link-fields.ts
  packages/mock-block-dock/src/use-mock-block-props/use-mock-datastore.ts
  packages/mock-block-dock/src/util.ts
  yarn.lock
Labels: area: dependencies, area: packages, area: infra, package: mock-block-dock

#843 Triage Playwright console messages
  apps/site/tests/integration/dashboard.test.ts
  apps/site/tests/integration/login-flow.test.ts
  apps/site/tests/integration/sign-up-flow.test.ts
  apps/site/tests/shared/wrapped-playwright.ts
Labels: app: site, area: apps

#854 Hide BP banner in signup page
  apps/site/src/components/page-layout.tsx
Labels: app: site, area: apps

#855 Voting section UX improvements
  apps/site/src/components/footer-banner.tsx
  apps/site/src/components/pages/wordpress/input.tsx
  apps/site/src/components/pages/wordpress/request-another-application.tsx
  apps/site/src/components/pages/wordpress/voting/already-voted-screen.tsx
  apps/site/src/components/pages/wordpress/voting/application-badge.tsx
  apps/site/src/components/pages/wordpress/voting/application-button.tsx
  apps/site/src/components/pages/wordpress/voting/applications.tsx
  apps/site/src/components/pages/wordpress/voting/enter-email-screen.tsx
  apps/site/src/components/pages/wordpress/voting/now-in-beta.tsx
  apps/site/src/components/pages/wordpress/voting/select-application-screen.tsx
  apps/site/src/components/pages/wordpress/voting/suggest-another-application-screen.tsx
  apps/site/src/components/pages/wordpress/voting/vote-email-input.tsx
  apps/site/src/lib/api-client.ts
  apps/site/src/lib/api/mailchimp.ts
  apps/site/src/pages/api/vote-application.api.ts
Labels: app: site, area: apps

#857 Update root README
  README.md
Labels: area: infra

#858 Stop using deprecated config in Sentry Replay
  apps/site/sentry.client.config.ts
Labels: app: site, area: apps

#856 Add "Using blocks" page to the docs
  README.md
  apps/site/src/_pages/docs/2_embedding-blocks.mdx
  apps/site/src/_pages/docs/3_using-blocks.mdx
  apps/site/src/_pages/docs/4_spec/00_index.mdx
  apps/site/src/_pages/docs/4_spec/01_core.mdx
  apps/site/src/_pages/docs/4_spec/02_graph-service.mdx
  apps/site/src/_pages/docs/4_spec/03_hook-service.mdx
  apps/site/src/_pages/docs/4_spec/99_rfcs_and_roadmap.mdx
  apps/site/src/_pages/docs/5_faq.mdx
  apps/site/tests/integration/docs.test.ts
Labels: app: site, area: infra, area: apps, area: docs

#859 Add animated transition to vote section resizing
  apps/site/src/components/pages/wordpress/request-another-application.tsx
Labels: app: site, area: apps

#862 Add CODE_OF_CONDUCT file
  CODE_OF_CONDUCT.md
Labels: area: infra

#860 Fix voting section application name input responsiveness
  apps/site/src/components/pages/wordpress/request-another-application.tsx
  apps/site/src/components/pages/wordpress/vote-cast-modal.tsx
  apps/site/src/components/pages/wordpress/voting/enter-email-screen.tsx
  apps/site/src/components/pages/wordpress/voting/suggest-another-application-screen.tsx
  apps/site/src/components/pages/wordpress/voting/vote-email-input.tsx
Labels: app: site, area: apps

#863 Refactor jumplinks in root README
  README.md
Labels: area: infra
