Repository blockprotocol/blockprotocol, pull requests merged in 2023-04, with the labels that each got.

#1242 Add graph type system link to types docs page
  apps/site/src/_pages/docs/2_types.mdx
Labels: area: apps > site, area: apps, area: user success > docs, area: user success, type: writing

#1249 Rename `/@user/all-types` to `/@user/types`
  apps/site/next.config.js
  apps/site/src/components/pages/dashboard/utils.ts
  apps/site/src/components/pages/user/tabs.tsx
  apps/site/src/components/pages/user/user-page-component.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-edit-bar.tsx
  apps/site/tests/integration/accountpage.test.ts
  apps/site/tests/integration/dashboard.test.ts
  apps/site/tests/integration/schema-creation.test.ts
Labels: area: apps > site, area: apps, area: tests

#1243 Implement `/account/general` page
  apps/site/README.md
  apps/site/next.config.js
  apps/site/src/components/icons/pro/fa-upload.tsx
  apps/site/src/components/navbar/account-dropdown.tsx
  apps/site/src/components/pages/account/panel-section.tsx
  apps/site/src/components/pages/dashboard/utils.ts
  apps/site/src/components/pages/user/avatar.tsx
  apps/site/src/components/pages/user/sidebar.tsx
  apps/site/src/components/save-on-blur-text-field.tsx
  apps/site/src/components/text-field.tsx
  apps/site/src/components/user-avatar.tsx
  apps/site/src/lib/api-client.ts
  apps/site/src/pages/account/[[...slugs]].page.tsx
  apps/site/src/pages/account/general-panel/avatar-button.tsx
  apps/site/src/pages/account/general-panel/avatar-dropzone-info.tsx
  apps/site/src/pages/account/general-panel/avatar-with-overlay.tsx
  apps/site/src/pages/account/general-panel/general-panel.tsx
  apps/site/src/pages/account/general-panel/link-button-with-intro-text.tsx
  apps/site/src/pages/account/general-panel/remove-avatar-confirmation.tsx
  apps/site/src/pages/api/me/remove-avatar.api.ts
  apps/site/src/pages/api/me/update-preferred-name.api.ts
  apps/site/src/pages/api/me/upload-avatar.api.ts
  apps/site/src/theme/components/inputs/mui-outlined-input-theme-options.ts
  apps/site/src/theme/components/inputs/mui-text-field-theme-options.ts
  apps/site/src/theme/typography.ts
  apps/site/tests/integration/dashboard.test.ts
  apps/site/tests/integration/login-flow.test.ts
Labels: area: apps > site, area: apps, area: tests

#1246 Show card to generate API key for wordpress when using link-wordpress API
  apps/site/src/components/navbar/account-dropdown.tsx
  apps/site/src/components/pages/dashboard/dashboard-wordpress-section.tsx
  apps/site/src/components/screens/verification-code-screen.tsx
  apps/site/src/context/user-context.ts
  apps/site/src/lib/api/model/user.model.ts
  apps/site/src/lib/api/model/verification-code.model.ts
  apps/site/src/lib/wordpress-settings-url-session.ts
  apps/site/src/pages/_app.page.tsx
  apps/site/src/pages/api/link-wordpress.api.ts
  apps/site/src/pages/api/login-with-login-code.api.ts
  apps/site/src/pages/api/verify-email.api.ts
  apps/site/src/pages/dashboard/[[...slugs]].page.tsx
  apps/site/src/pages/login.page.tsx
  apps/site/src/pages/signup.page.tsx
  apps/site/tests/integration/dashboard.test.ts
Labels: area: apps > site, area: apps, area: tests

#1253 Bump all runners to `ubuntu-latest`
  .github/workflows/algolia-upload-index.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/labeler.yml
  .github/workflows/warm-up-vercel.yml
Labels: area: infra, area: apps

#1254 Bump `wasm-pack` to version `0.11.0`
  .github/actions/warm-up-repo/action.yml
  libs/@blockprotocol/type-system/crate/.justfile
Labels: area: infra, area: apps, area: libs

#1250 Update WordPress plugin to allow activation using email address
  apps/site/scripts/seed-db.ts
  apps/site/src/components/pages/dashboard/dashboard-word-press-section.tsx
  apps/site/src/components/screens/verification-code-screen.tsx
  apps/site/src/lib/api/model/user.model.ts
  apps/site/src/lib/api/model/verification-code.model.ts
  apps/site/src/lib/word-press-settings-url-session.ts
  apps/site/src/pages/_app.page.tsx
  apps/site/src/pages/api/link-wordpress.api.ts
  apps/site/src/pages/api/login-with-login-code.api.ts
  apps/site/src/pages/api/signup.api.ts
  apps/site/src/pages/api/verify-email.api.ts
  apps/site/src/pages/dashboard/[[...slugs]].page.tsx
  apps/site/src/pages/login.page.tsx
  libs/wordpress-plugin/declarations.d.ts
  libs/wordpress-plugin/package.json
  libs/wordpress-plugin/plugin/trunk/block-protocol.php
  libs/wordpress-plugin/plugin/trunk/fonts/inter-bold.ttf
  libs/wordpress-plugin/plugin/trunk/fonts/inter-light.ttf
  libs/wordpress-plugin/plugin/trunk/fonts/inter-medium.ttf
  libs/wordpress-plugin/plugin/trunk/fonts/inter-regular.ttf
  libs/wordpress-plugin/plugin/trunk/fonts/inter-semibold.ttf
  libs/wordpress-plugin/plugin/trunk/server/activate.php
  libs/wordpress-plugin/plugin/trunk/server/settings.php
  libs/wordpress-plugin/plugin/trunk/settings/fa-arrow-up-right.tsx
  libs/wordpress-plugin/plugin/trunk/settings/font-awesome-icon.tsx
  libs/wordpress-plugin/plugin/trunk/settings/images/ai.png
  libs/wordpress-plugin/plugin/trunk/settings/images/block-trio.png
  libs/wordpress-plugin/plugin/trunk/settings/images/blocks.png
  libs/wordpress-plugin/plugin/trunk/settings/react-promo.module.scss
  libs/wordpress-plugin/plugin/trunk/settings/react-promo.tsx
  libs/wordpress-plugin/plugin/trunk/settings/settings.css
  libs/wordpress-plugin/plugin/trunk/settings/settings.tsx
  libs/wordpress-plugin/tsconfig.json
  libs/wordpress-plugin/webpack.config.js
  libs/wordpress-plugin/yarn.lock
Labels: area: dependencies, area: apps > site, area: apps, area: libs, area: libs > wordpress-plugin

#1252 Limit the size of items on the all types page
  apps/site/src/components/pages/hub/hub.tsx
  apps/site/src/components/pages/user/list-view-card.tsx
Labels: area: apps > site, area: apps

#1245 Reapply first WordPress migration for users of older version
  libs/wordpress-plugin/plugin/trunk/server/block-db-table.php
  libs/wordpress-plugin/plugin/trunk/server/data.php
Labels: area: apps, area: libs, area: libs > wordpress-plugin

#1256 Remove .turbo from block templates
  libs/block-template-html/.npmignore
Labels: area: libs > block-template-html, area: apps, area: libs

#1258 Fix typos and clean up repo
  README.md
  apps/README.md
  apps/site/src/_pages/legal/privacy/1_private-information-removal.mdx
  apps/site/src/_pages/legal/terms/dpa/00_index.mdx
Labels: area: apps > site, area: infra, area: apps, type: writing

#1260 Add DPA attachments to site
  apps/site/next.config.js
  apps/site/public/legal/terms/dpa/attachment-1.pdf
  apps/site/public/legal/terms/dpa/attachment-2.pdf
  apps/site/public/legal/terms/dpa/attachment-3.pdf
  apps/site/src/_pages/legal/privacy/00_index.mdx
  apps/site/src/_pages/legal/terms/dpa/00_index.mdx
  apps/site/src/components/base-link.tsx
Labels: area: apps > site, area: apps, type: writing

#1248 Add publishing info to PR template, libraries README
  .github/pull_request_template.md
  libs/README.md
Labels: area: infra, area: apps, area: libs

#1223 Improve usability of `example-graph.json`
  .changeset/cyan-otters-arrive.md
  .changeset/forty-balloons-suffer.md
  .changeset/tender-boxes-jump.md
  apps/site/src/_pages/docs/1_blocks/02_develop.mdx
  apps/site/src/_pages/docs/4_faq.mdx
  apps/site/src/_pages/docs/5_spec/01_core.mdx
  apps/site/src/_pages/docs/5_spec/02_graph.mdx
  apps/site/src/components/pages/hub/block-data-container.tsx
  apps/site/src/components/pages/hub/block-data-container/block-data-tab-panels.tsx
  apps/site/src/components/pages/hub/hub-utils.tsx
  apps/site/src/lib/blocks.ts
  apps/site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  libs/block-scripts/shared/block-assets-plugin.js
  libs/block-scripts/shared/generate-dist-example-graph.js
  libs/block-scripts/shared/webpack-config.js
  libs/block-template-custom-element/package.json
  libs/block-template-custom-element/src/dev.tsx
  libs/block-template-custom-element/src/example-graph.ts
  libs/block-template-html/block-metadata.json
  libs/block-template-html/example-graph.json
  libs/block-template-html/package.json
  libs/block-template-react/package.json
  libs/block-template-react/src/dev.tsx
  libs/block-template-react/src/example-graph.ts
Labels: area: apps > site, area: libs > block-template-react, area: libs > block-template-html, area: libs > block-template-custom-element, area: libs > block-scripts, area: apps, area: user success > docs, area: libs, area: user success, type: writing

#1264 Fix determinism of block codegen
  .changeset/old-clocks-sneeze.md
  libs/@blockprotocol/graph/src/codegen/preprocess/transform-type-titles.ts
Labels: area: libs > @Þ/graph, area: apps, area: libs

#1261 Block template react scss cleanup
  .changeset/slow-readers-sneeze.md
  libs/block-template-react/src/app.tsx
  libs/block-template-react/src/base.module.scss
Labels: area: libs > block-template-react, area: apps, area: libs

#1270 Handle blocks with schemas and missing example
  apps/site/src/components/pages/hub/block-data-container.tsx
Labels: area: apps > site, area: apps

#1271 Fix performance issue of new api keys page
  apps/site/src/pages/account/api-keys-panel.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/api-key-table-row.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/api-keys-memoized-items.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/mobile-api-key-item.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/shared/use-key-action.ts
  apps/site/src/pages/account/api-keys-panel/types.ts
Labels: area: apps > site, area: apps

#1272 Fix repeated submissions of verification codes from magic links
  apps/site/src/components/screens/verification-code-screen.tsx
  apps/site/src/pages/signup.page.tsx
Labels: area: apps > site, area: apps

#1247 [BP-9]: Move `spec` out of `docs`, continue to share spec/docs sidebar
  apps/site/next.config.js
  apps/site/src/_pages/roadmap/0_index.mdx
  apps/site/src/_pages/spec/00_index.mdx
  apps/site/src/_pages/spec/01_core.mdx
  apps/site/src/_pages/spec/02_graph.mdx
  apps/site/src/_pages/spec/03_hook.mdx
  apps/site/src/_pages/spec/04_service.mdx
  apps/site/src/components/mdx/info-card/github-info-card.tsx
  apps/site/src/components/navbar.tsx
  apps/site/src/lib/sitemap.ts
  apps/site/src/pages/roadmap.page.tsx
  apps/site/src/pages/spec/[[...spec-slug]].page.tsx
  apps/site/tests/integration/docs.test.ts
Labels: area: user success > spec, area: apps > site, area: apps, area: user success, type: writing, area: tests

#1266 Increase WordPress plugin version to 0.0.8, fix MariaDB version checking
  libs/wordpress-plugin/package.json
  libs/wordpress-plugin/plugin/trunk/block-protocol.php
  libs/wordpress-plugin/plugin/trunk/changelog.txt
  libs/wordpress-plugin/plugin/trunk/readme.txt
  libs/wordpress-plugin/plugin/trunk/server/block-db-table.php
Labels: area: apps, area: libs, area: libs > wordpress-plugin

#1257 Update API key page to allow users to create multiple keys
  apps/site/src/components/block-card.tsx
  apps/site/src/components/button.tsx
  apps/site/src/components/copy-to-clipboard-button.tsx
  apps/site/src/components/icons/info-circle-icon.tsx
  apps/site/src/components/icons/sparkles-solid-icon.tsx
  apps/site/src/components/icons/trash-icon.tsx
  apps/site/src/components/icons/warning-icon.tsx
  apps/site/src/components/pages/account/panel-section.tsx
  apps/site/src/components/pages/dashboard/api-key-renderer.tsx
  apps/site/src/components/pages/dashboard/dashboard-word-press-section.tsx
  apps/site/src/components/pages/dashboard/generate-api-modal.tsx
  apps/site/src/components/pages/dashboard/top-navigation-tabs.tsx
  apps/site/src/components/pages/dashboard/utils.ts
  apps/site/src/components/pages/user/overview-card.tsx
  apps/site/src/components/save-on-blur-text-field.tsx
  apps/site/src/components/table-cells.tsx
  apps/site/src/components/text-field.tsx
  apps/site/src/components/user-avatar.tsx
  apps/site/src/pages/account/api-keys-panel.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-context.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-empty-state.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/api-key-card.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/api-key-table-row.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/api-key-table-row/row-actions.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/api-keys-memoized-items.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/mobile-api-key-item.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/revoke-api-key-card.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/shared/colored-card.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/shared/format-date-for-display.ts
  apps/site/src/pages/account/api-keys-panel/api-keys-list/shared/new-indicator.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/shared/newly-created-api-key-card.tsx
  apps/site/src/pages/account/api-keys-panel/api-keys-list/shared/use-key-action.ts
  apps/site/src/pages/account/api-keys-panel/api-keys-loading.tsx
  apps/site/src/pages/account/api-keys-panel/types.ts
  apps/site/src/pages/account/general-panel/avatar-dropzone-info.tsx
  apps/site/src/pages/account/general-panel/avatar-with-overlay.tsx
  apps/site/src/pages/account/general-panel/general-panel.tsx
  apps/site/src/pages/account/general-panel/link-button-with-intro-text.tsx
  apps/site/src/pages/account/general-panel/remove-avatar-confirmation.tsx
  apps/site/src/theme/components/inputs/mui-button-theme-options.ts
  apps/site/src/theme/components/inputs/mui-outlined-input-theme-options.ts
  apps/site/src/theme/palette.ts
  apps/site/tests/integration/api-keys.test.ts
  apps/site/tests/shared/wrapped-playwright.ts
  apps/site/theme-override.d.ts
Labels: area: apps > site, area: apps, area: tests

#1265 Fix block codegen's re-exports of shared types
  .changeset/wicked-deers-dress.md
  libs/@blockprotocol/graph/src/codegen/context/postprocess.ts
  libs/@blockprotocol/graph/src/codegen/postprocess/generate-entity-definitions.ts
  libs/@blockprotocol/graph/src/codegen/postprocess/generate-link-and-target-definitions.ts
Labels: area: libs > @Þ/graph, area: apps, area: libs

#1279 Add retry logic to `fetchTypeAsJson`
  .changeset/lemon-peas-shout.md
  libs/@blockprotocol/graph/src/codegen/initialize/traverse/fetch.ts
Labels: area: libs > @Þ/graph, area: apps, area: libs

#1127 Introduce `Feature Showcase` block
  .changeset/giant-rivers-reflect.md
  .gitignore
  README.md
  blocks/README.md
  blocks/feature-showcase/.eslintrc.cjs
  blocks/feature-showcase/README.md
  blocks/feature-showcase/package.json
  blocks/feature-showcase/public/block-preview.png
  blocks/feature-showcase/public/omega.svg
  blocks/feature-showcase/src/app.tsx
  blocks/feature-showcase/src/assets.d.ts
  blocks/feature-showcase/src/base.module.scss
  blocks/feature-showcase/src/components/create-entity/company-factory.tsx
  blocks/feature-showcase/src/components/create-entity/link-factory.tsx
  blocks/feature-showcase/src/components/create-entity/person-factory.tsx
  blocks/feature-showcase/src/components/delete-entity/entity-eraser.tsx
  blocks/feature-showcase/src/contexts/refresh-data.ts
  blocks/feature-showcase/src/dev.tsx
  blocks/feature-showcase/src/example-graph.ts
  blocks/feature-showcase/src/hooks/use-create-company.ts
  blocks/feature-showcase/src/hooks/use-create-person-org-link.ts
  blocks/feature-showcase/src/hooks/use-create-person.ts
  blocks/feature-showcase/src/hooks/use-delete-entity.ts
  blocks/feature-showcase/src/hooks/use-get-all-company-entities.ts
  blocks/feature-showcase/src/hooks/use-get-all-entities.ts
  blocks/feature-showcase/src/hooks/use-get-all-person-entities.ts
  blocks/feature-showcase/src/index.ts
  blocks/feature-showcase/src/shared/query-filters.ts
  blocks/feature-showcase/src/shared/query-paths.ts
  blocks/feature-showcase/src/shared/random-name.ts
  blocks/feature-showcase/src/types/entity-types.ts
  blocks/feature-showcase/src/types/generated/block-entity.ts
  blocks/feature-showcase/src/types/generated/company.ts
  blocks/feature-showcase/src/types/generated/person.ts
  blocks/feature-showcase/src/types/generated/shared.ts
  blocks/feature-showcase/src/types/property-types.ts
  blocks/feature-showcase/tsconfig.json
  blocks/feature-showcase/variants.json
  libs/mock-block-dock/src/util.ts
  package.json
  turbo.json
Labels: area: blocks, area: infra, area: libs > mock-block-dock, area: apps, area: libs

#1280 Specify @types/react-is version in block templates
  .changeset/heavy-pears-speak.md
  apps/site/package.json
  blocks/feature-showcase/package.json
  libs/block-template-custom-element/package.json
  libs/block-template-react/package.json
  yarn.lock
Labels: area: dependencies, area: apps > site, area: blocks, area: infra, area: libs > block-template-react, area: libs > block-template-custom-element, area: apps, area: libs

#1273 Update docs page locations, minor tweaks to Hub page, showcase block
  .changeset/ten-snails-design.md
  README.md
  apps/site/README.md
  apps/site/next.config.js
  apps/site/scripts/sync-algolia-index.ts
  apps/site/src/_pages/docs/1_blocks/01_environments.mdx
  apps/site/src/_pages/docs/1_blocks/02_develop.mdx
  apps/site/src/_pages/docs/2_types.mdx
  apps/site/src/_pages/docs/4_hub/00_index.mdx
  apps/site/src/_pages/docs/4_hub/1_api.mdx
  apps/site/src/_pages/docs/5_faq.mdx
  apps/site/src/_pages/spec/00_index.mdx
  apps/site/src/_pages/spec/02_graph.mdx
  apps/site/src/_pages/spec/03_hook.mdx
  apps/site/src/_pages/spec/04_service.mdx
  apps/site/src/components/footer-banner.tsx
  apps/site/src/components/footer.tsx
  apps/site/src/components/pages/docs/search/search-suggested-links.tsx
  apps/site/src/pages/docs/[[...docs-slug]].page.tsx
  apps/site/src/pages/workshop/workshop.md
  apps/site/tests/integration/docs.test.ts
  apps/site/tests/integration/page-footer.test.ts
  blocks/feature-showcase/package.json
  libs/@blockprotocol/graph/README.md
  libs/@blockprotocol/graph/src/non-temporal/custom-element.ts
  libs/@blockprotocol/graph/src/non-temporal/main.ts
  libs/@blockprotocol/graph/src/shared/types/block-graph.ts
  libs/@blockprotocol/graph/src/temporal/custom-element.ts
  libs/@blockprotocol/graph/src/temporal/main.ts
  libs/README.md
  libs/block-template-custom-element/README.md
  libs/block-template-custom-element/src/app.ts
  libs/block-template-html/README.md
  libs/block-template-html/src/app.js
  libs/block-template-react/src/app.tsx
  rfcs/text/0352-graph-type-system.md
  rfcs/text/0430-hook-module.md
Labels: area: user success > spec, area: apps > site, area: blocks, area: infra, area: libs > @Þ/graph, area: user success > rfcs, area: libs > block-template-react, area: libs > block-template-html, area: libs > block-template-custom-element, area: apps, area: user success > docs, area: libs, area: user success, type: writing, area: tests

#1275 [BP-20] Table in spec is erroneously clipped, results in scrolling
  apps/site/src/components/module-message-list.tsx
Labels: area: apps > site, area: apps

#1281 Remove weekly block download aggregation
  apps/site/src/lib/api/blocks/db.ts
  apps/site/src/lib/api/blocks/get.ts
  apps/site/src/lib/blocks.ts
Labels: area: apps > site, area: apps

#1263 Version Packages
  .changeset/cyan-otters-arrive.md
  .changeset/forty-balloons-suffer.md
  .changeset/giant-rivers-reflect.md
  .changeset/heavy-pears-speak.md
  .changeset/lemon-peas-shout.md
  .changeset/old-clocks-sneeze.md
  .changeset/slow-readers-sneeze.md
  .changeset/ten-snails-design.md
  .changeset/tender-boxes-jump.md
  .changeset/wicked-deers-dress.md
  apps/site/package.json
  blocks/feature-showcase/CHANGELOG.md
  blocks/feature-showcase/package.json
  libs/@blockprotocol/graph/CHANGELOG.md
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/hook/CHANGELOG.md
  libs/@blockprotocol/hook/package.json
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: area: apps > site, area: blocks, area: libs > mock-block-dock, area: libs > @Þ/graph, area: libs > block-template-react, area: libs > block-template-html, area: libs > block-template-custom-element, area: libs > @Þ/hook, area: libs > block-scripts, area: apps, area: libs
