Repository blockprotocol/blockprotocol, pull requests merged in 2023-06, with the labels that each got.

#1296 Add missing `default` attributes
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/array/repr.rs
Labels: area: apps, area: libs

#1020 RFC - Link Entities
  rfcs/text/1020-link-entities.md
Labels: area: user success > rfcs, area: apps

#1290 [BP-22] Ensure correct header scroll position on spec, docs, roadmap, etc pages
  apps/site/src/components/page-sidebar.tsx
Labels: area: apps > site, area: apps

#1301 Disable Renovate auto-update
  .github/renovate.json
Labels: area: infra, area: apps

#428 RFC - Type extension and duplication
  rfcs/text/0428-extending-and-duplicating-types.md
Labels: area: user success > rfcs, area: apps
