Repository blockprotocol/blockprotocol, pull requests merged in 2023-11, with the labels that each got.

#1346 BP-64: Fix broken jumplinks in ToS
  apps/site/src/_pages/legal/terms/00_index.mdx
Labels: area: apps > site, area: apps, type: writing

#1349 H-1345: Refactor non-temporal BP methods to always have non-temporal returns
  .changeset/hungry-pears-cough.md
  libs/@blockprotocol/graph/src/codegen/initialize/traverse-and-collate-schemas.ts
  libs/@blockprotocol/graph/src/codegen/parameters.ts
  libs/@blockprotocol/graph/src/non-temporal/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/edge/link-entity.ts
Labels: area: libs > @Þ/graph, area: apps, area: libs

#1350 BP-70, BP-59: Implement (de)serialize directly on ontology types
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/raw.rs
  libs/@blockprotocol/type-system/crate/src/ontology/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/all_of/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/mod.rs
Labels: area: apps, area: libs
