Repository blockprotocol/blockprotocol, pull requests merged in 2023-08, with the labels that each got.

#1309 Update roadmap page and root README
  apps/site/src/_pages/roadmap/00_index.mdx
  libs/wordpress-plugin/README.md
Labels: area: apps > site, area: apps, area: libs, area: libs > wordpress-plugin, area: user success, type: writing

#1311 Add suffix to name of auto-generated data types
  .changeset/soft-years-help.md
  blocks/feature-showcase/src/types/generated/block-entity.ts
  blocks/feature-showcase/src/types/generated/company.ts
  blocks/feature-showcase/src/types/generated/person.ts
  blocks/feature-showcase/src/types/generated/shared.ts
  libs/@blockprotocol/graph/src/codegen/shared.ts
  libs/block-template-custom-element/src/types/generated/block-entity.ts
  libs/block-template-react/src/types/generated/block-entity.ts
Labels: area: blocks, area: libs > @Þ/graph, area: libs > block-template-react, area: libs > block-template-custom-element, area: apps, area: libs

#1313 BP-34: Fix `allOf` not being extended when entity type is merged with parent
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/repr.rs
Labels: area: apps, area: libs

#1314 BP-35: Simplify pull request template
  .github/pull_request_template.md
Labels: area: infra, area: apps

#1315 BP-31: Make fields in `entity_type::repr` module public
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/repr.rs
Labels: area: apps, area: libs

#1283 BP-19: Update WordPress plugin landing page
  apps/site/public/assets/block-cover-chat.png
  apps/site/public/assets/block-cover-image.png
  apps/site/public/assets/block-cover-text.png
  apps/site/public/assets/wp_bp_api_cover.png
  apps/site/public/assets/wp_bp_blocks_cover.png
  apps/site/public/assets/wp_bp_seo_cover.png
  apps/site/src/components/footer-banner.tsx
  apps/site/src/components/icons/discord-new-icon.tsx
  apps/site/src/components/icons/download-icon.tsx
  apps/site/src/components/icons/expand-more-icon.tsx
  apps/site/src/components/icons/index.ts
  apps/site/src/components/icons/magic-icon.tsx
  apps/site/src/components/icons/right-pointer-icon.tsx
  apps/site/src/components/icons/server-icon.tsx
  apps/site/src/components/icons/telescope-icon.tsx
  apps/site/src/components/pages/wordpress/custom-link-button.tsx
  apps/site/src/components/pages/wordpress/details-section.tsx
  apps/site/src/components/pages/wordpress/details.tsx
  apps/site/src/components/pages/wordpress/faq-item.tsx
  apps/site/src/components/pages/wordpress/faq.tsx
  apps/site/src/components/pages/wordpress/header.tsx
  apps/site/src/components/pages/wordpress/icon-section.tsx
  apps/site/src/components/pages/wordpress/install-plugin.tsx
  apps/site/src/pages/wordpress.page.tsx
Labels: area: apps > site, area: apps

#1317 BP-53: Make data types and Link type URLs work in a browser
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/hardcoded-types.ts
  apps/site/src/middleware.page/return-types-as-json.ts
  apps/site/src/util/type-system-util.ts
Labels: area: apps > site, area: apps

#1319 BP-54: Pin GitHub Action SHAs
  .github/renovate.json
Labels: area: infra, area: apps

#1318 H-624: Add GitHub issue templates
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/issue-report.md
  .github/ISSUE_TEMPLATE/suggest-an-integration.md
Labels: area: infra, area: apps

#1329 Debug block sandbox redirect loop
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/return-types-as-json.ts
Labels: area: apps > site, area: apps

#1330 Remove debug logs, fix type RegExp check
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/return-types-as-json.ts
Labels: area: apps > site, area: apps
