Repository blockprotocol/blockprotocol, pull requests merged in 2023-01, with the labels that each got.

#867 Bump block versions
  hub/@alfie/github-pr-overview.json
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/shuffle.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@thehabbos007/calculation.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
Labels: area: hub

#865 Minor improvements to copy
  apps/site/src/_pages/docs/1_developing-blocks.mdx
  apps/site/src/_pages/docs/3_using-blocks.mdx
  apps/site/src/_pages/docs/5_faq.mdx
  apps/site/src/components/pages/home/confined-blocks.tsx
  apps/site/src/components/pages/wordpress/voting/now-in-beta.tsx
  apps/site/tests/integration/homepage.test.ts
Labels: app: site, area: apps, area: docs

#861 Generate TS types from schema URI, and use in block template
  .gitignore
  .markdownlintignore
  .prettierignore
  apps/site/package.json
  package.json
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/graph/src/index.ts
  packages/@blockprotocol/graph/src/react.ts
  packages/@blockprotocol/graph/src/stdlib.ts
  packages/@blockprotocol/graph/src/type-resolver.ts
  packages/@blockprotocol/graph/src/type-resolver/entity-type-meta-schema.json
  packages/@blockprotocol/graph/src/type-resolver/entity-type-to-typescript.ts
  packages/@blockprotocol/graph/src/type-resolver/entity-type-to-typescript/deduplicate-ts-strings.ts
  packages/@blockprotocol/graph/src/type-resolver/entity-type-to-typescript/type-definition-generators.ts
  packages/@blockprotocol/graph/src/type-resolver/hardcoded-bp-types.ts
  packages/@blockprotocol/graph/src/type-resolver/shared.ts
  packages/@blockprotocol/graph/src/types/block-graph.ts
  packages/@blockprotocol/graph/src/types/entity.ts
  packages/@blockprotocol/type-system/README.md
  packages/block-scripts/package.json
  packages/block-scripts/scripts/codegen.js
  packages/block-template-react/package.json
  packages/block-template-react/src/app.tsx
  packages/blockprotocol/package.json
  packages/create-block-app/create-block-app.js
  packages/mock-block-dock/package.json
  turbo.json
  yarn.lock
Labels: area: dependencies, app: site, area: packages, area: infra, package: blockprotocol, package: create-block-app, package: mock-block-dock, package: @Þ/graph, package: block-template-react, package: block-scripts, area: apps

#868 Add helper function to get property types referenced in an entity type
  packages/@blockprotocol/graph/src/stdlib/subgraph/edge/entity-type.ts
  packages/@blockprotocol/graph/src/types/subgraph/edges/outward-edge-alias.ts
Labels: area: packages, package: @Þ/graph

#874 Add CODEOWNERS file
  .github/CODEOWNERS
Labels: area: infra

#873 Fix vote application error handling
  apps/site/src/lib/api/mailchimp.ts
  apps/site/src/pages/api/vote-application.api.ts
Labels: app: site, area: apps

#876 Tweak block page title
  apps/site/src/pages/[shortname]/blocks/[block-slug].page.tsx
Labels: app: site, area: apps

#877 Add GitHub Sponsors button to repo
  .github/FUNDING.yml
Labels: area: infra

#878 Add 'publish canary packages' manual GitHub action
  .changeset/config.json
  .github/workflows/canary-release.yml
Labels: area: infra

#870 Update README for new repo structure
  .github/assets/README.md
  .github/assets/gh_icon_acknowledgement.svg
  .github/assets/gh_icon_acknowledgement_20px-base.svg
  .github/assets/gh_icon_acknowledgement_24px-base.svg
  .github/assets/gh_icon_contact.svg
  .github/assets/gh_icon_contact_20px-base.svg
  .github/assets/gh_icon_contact_24px-base.svg
  .github/assets/gh_icon_contributing.svg
  .github/assets/gh_icon_contributing_20px-base.svg
  .github/assets/gh_icon_contributing_24px-base.svg
  .github/assets/gh_icon_examples.svg
  .github/assets/gh_icon_examples_20px-base.svg
  .github/assets/gh_icon_examples_24px-base.svg
  .github/assets/gh_icon_getting-started.svg
  .github/assets/gh_icon_getting-started_20px-base.svg
  .github/assets/gh_icon_getting-started_24px-base.svg
  .github/assets/gh_icon_license.svg
  .github/assets/gh_icon_license_20px-base.svg
  .github/assets/gh_icon_license_24px-base.svg
  .github/assets/gh_icon_repo-overview.svg
  .github/assets/gh_icon_repo-overview_20px-base.svg
  .github/assets/gh_icon_repo-overview_24px-base.svg
  .github/assets/gh_icon_roadmap.svg
  .github/assets/gh_icon_roadmap_20px-base.svg
  .github/assets/gh_icon_roadmap_24px-base.svg
  .github/assets/gh_icon_security_20px-base.svg
  .github/assets/gh_icon_what-is-the-block-protocol.svg
  .github/assets/gh_icon_what-is-the-block-protocol_20px-base.svg
  .github/assets/gh_icon_what-is-the-block-protocol_24px-base.svg
  README.md
Labels: area: infra

#869 Export Subgraph building tools from @blockprotocol/graph
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/graph/src/internal.ts
  packages/@blockprotocol/graph/src/internal/mutate-subgraph.ts
  packages/@blockprotocol/graph/src/internal/mutate-subgraph/is-equal.ts
  packages/@blockprotocol/graph/src/stdlib.ts
  packages/@blockprotocol/graph/src/stdlib/subgraph/builder.ts
  packages/mock-block-dock/src/datastore/traverse.ts
  packages/mock-block-dock/src/datastore/use-mock-data-to-subgraph.ts
  packages/mock-block-dock/src/datastore/use-mock-datastore.ts
  packages/mock-block-dock/src/util.ts
Labels: area: packages, lib: mock-block-dock, lib: @Þ/graph, package: @Þ/graph, package: mock-block-dock

#883 Increase pipeline timeout
  .github/workflows/ci.yml
  .github/workflows/site-deployment.yml
Labels: area: infra

#884 Remove unused files and fix broken link
  .github/assets/gh_icon_acknowledgement.svg
  .github/assets/gh_icon_acknowledgement_24px-base.svg
  .github/assets/gh_icon_contact.svg
  .github/assets/gh_icon_contact_24px-base.svg
  .github/assets/gh_icon_contributing.svg
  .github/assets/gh_icon_contributing_24px-base.svg
  .github/assets/gh_icon_examples.svg
  .github/assets/gh_icon_examples_24px-base.svg
  .github/assets/gh_icon_getting-started.svg
  .github/assets/gh_icon_getting-started_24px-base.svg
  .github/assets/gh_icon_license.svg
  .github/assets/gh_icon_license_24px-base.svg
  .github/assets/gh_icon_repo-overview.svg
  .github/assets/gh_icon_repo-overview_24px-base.svg
  .github/assets/gh_icon_roadmap.svg
  .github/assets/gh_icon_roadmap_24px-base.svg
  .github/assets/gh_icon_what-is-the-block-protocol.svg
  .github/assets/gh_icon_what-is-the-block-protocol_24px-base.svg
  README.md
Labels: area: infra

#871 Introduce knip
  .github/workflows/ci.yml
  .knip.jsonc
  .prettierignore
  apps/site/.nycrc.json
  package.json
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#866 Fix + update block templates to use new generated types
  packages/@blockprotocol/graph/package.json
  packages/@blockprotocol/graph/src/codegen.ts
  packages/@blockprotocol/graph/src/codegen/entity-type-meta-schema.json
  packages/@blockprotocol/graph/src/codegen/entity-type-to-typescript.ts
  packages/@blockprotocol/graph/src/codegen/entity-type-to-typescript/deduplicate-ts-strings.ts
  packages/@blockprotocol/graph/src/codegen/entity-type-to-typescript/type-definition-generators.ts
  packages/@blockprotocol/graph/src/codegen/hardcoded-bp-types.ts
  packages/@blockprotocol/graph/src/codegen/shared.ts
  packages/@blockprotocol/graph/src/custom-element.ts
  packages/@blockprotocol/graph/src/index.ts
  packages/@blockprotocol/graph/src/react.ts
  packages/@blockprotocol/graph/src/stdlib.ts
  packages/@blockprotocol/graph/src/stdlib/subgraph/edge/link-entity.ts
  packages/@blockprotocol/graph/src/types/entity.ts
  packages/@blockprotocol/graph/src/types/subgraph.ts
  packages/block-scripts/scripts/codegen.js
  packages/block-scripts/shared/block-assets-plugin.js
  packages/block-scripts/shared/generate-dist-block-schema.js
  packages/block-template-custom-element/.npmignore
  packages/block-template-custom-element/package.json
  packages/block-template-custom-element/src/app.ts
  packages/block-template-custom-element/src/dev.tsx
  packages/block-template-react/.npmignore
  packages/block-template-react/package.json
  packages/block-template-react/src/app.tsx
  packages/block-template-react/src/dev.tsx
  packages/mock-block-dock/dev/test-react-block.tsx
  patches/ajv+8.11.2.patch
  yarn.lock
Labels: area: dependencies, area: packages, area: infra, lib: mock-block-dock, lib: @Þ/graph, lib: block-template-react, lib: block-template-custom-element, lib: block-scripts, package: @Þ/graph, package: mock-block-dock, package: block-scripts, package: block-template-custom-element, package: block-template-react

#892 Enable specifying npm tag/version in create-block-app
  .changeset/eight-cups-shave.md
  packages/@blockprotocol/graph/src/stdlib.ts
  packages/create-block-app/create-block-app.js
Labels: area: packages, package: @Þ/graph, package: create-block-app

#894 Clarify default license applicability to `main` branch
  .github/licenses/LICENSE-ELASTIC.md
  .github/licenses/LICENSE-MIT.md
  LICENSE.md
Labels: area: infra

#893 Add lib links to root README
  README.md
Labels: area: infra

#888 Add internal API client to the BP site
  apps/site/README.md
  apps/site/next.config.js
  apps/site/package.json
  apps/site/src/lib/config.ts
  apps/site/src/lib/internal-api-client.ts
  apps/site/src/pages/api/internal/[...route].api.ts
  libs/@blockprotocol/type-system/package.json
  libs/@local/internal-api-client-generator/openapitools.json
  libs/@local/internal-api-client-generator/package.json
  libs/@local/internal-api-client-generator/typescript/.gitignore
  libs/@local/internal-api-client-generator/typescript/.npmignore
  libs/@local/internal-api-client-generator/typescript/.openapi-generator-ignore
  libs/@local/internal-api-client-generator/typescript/.openapi-generator/FILES
  libs/@local/internal-api-client-generator/typescript/.openapi-generator/VERSION
  libs/@local/internal-api-client-generator/typescript/README.md
  libs/@local/internal-api-client-generator/typescript/api.ts
  libs/@local/internal-api-client-generator/typescript/base.ts
  libs/@local/internal-api-client-generator/typescript/common.ts
  libs/@local/internal-api-client-generator/typescript/configuration.ts
  libs/@local/internal-api-client-generator/typescript/index.ts
  libs/@local/internal-api-client-generator/typescript/package.json
  libs/@local/internal-api-client-generator/typescript/tsconfig.json
  package.json
  yarn.lock
Labels: area: dependencies, app: site, area: infra, lib: @local/*, area: apps, area: libs

#896 Stop linting license files
  .github/licenses/LICENSE-APACHE.md
  .github/licenses/LICENSE-ELASTIC.md
  .github/licenses/LICENSE-MIT.md
  .gitignore
  .markdownlintignore
  .prettierignore
  libs/@blockprotocol/type-system/crate/LICENSE-APACHE.md
  libs/@local/eslint-config/generate-ignore-patterns.cjs
Labels: area: infra, lib: @local/*, area: libs

#897 Fix workspace dirs in knip config
  .knip.jsonc
  package.json
Labels: area: infra

#828 Version Packages
  .changeset/mighty-penguins-raise.md
  .changeset/real-worms-repair.md
  apps/site/package.json
  libs/@blockprotocol/core/CHANGELOG.md
  libs/@blockprotocol/core/package.json
  libs/@blockprotocol/graph/CHANGELOG.md
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/hook/CHANGELOG.md
  libs/@blockprotocol/hook/package.json
  libs/@blockprotocol/type-system/CHANGELOG.md
  libs/@blockprotocol/type-system/package.json
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/blockprotocol/CHANGELOG.md
  libs/blockprotocol/package.json
  libs/create-block-app/CHANGELOG.md
  libs/create-block-app/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: app: site, area: packages, lib: blockprotocol, lib: create-block-app, lib: mock-block-dock, lib: @Þ/core, lib: @Þ/graph, lib: block-template-react, lib: block-template-html, lib: block-template-custom-element, lib: @Þ/hook, lib: block-scripts, area: apps, area: libs

#898 Bump block versions
  hub/@alfie/github-pr-overview.json
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/shuffle.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@thehabbos007/calculation.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
Labels: area: hub

#905 Update labeler config
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: area: infra

#906 Fix canary block templates. Commit auto-generated types
  .gitattributes
  .gitignore
  .markdownlintignore
  .prettierignore
  libs/@blockprotocol/graph/src/codegen/entity-type-to-typescript.ts
  libs/@blockprotocol/graph/src/custom-element.ts
  libs/@blockprotocol/graph/src/graph-block-handler.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/builder.ts
  libs/block-template-custom-element/src/app.ts
  libs/block-template-custom-element/src/types.gen.ts
  libs/block-template-react/src/app.tsx
  libs/block-template-react/src/types.gen.ts
  libs/create-block-app/create-block-app.js
  yarn.lock
Labels: area: dependencies, area: infra, lib: create-block-app, lib: @Þ/graph, lib: block-template-react, lib: block-template-custom-element, area: libs

#903 Fix broken links, improve FAQs and other misc areas
  README.md
  apps/site/src/_pages/docs/0_index.mdx
  apps/site/src/_pages/docs/1_developing-blocks.mdx
  apps/site/src/_pages/docs/3_using-blocks.mdx
  apps/site/src/_pages/docs/5_faq.mdx
  apps/site/src/components/coming-soon-banner.tsx
  apps/site/src/components/footer.tsx
  apps/site/src/components/pages/wordpress/availability.tsx
  apps/site/src/pages/settings/api-keys.page.tsx
  hub/README.md
Labels: app: site, area: hub, area: infra, area: apps, area: docs

#909 Fix footer test, formatting. Commit mock-block-dock version change
  apps/site/src/_pages/docs/5_faq.mdx
  apps/site/src/components/coming-soon-banner.tsx
  apps/site/tests/integration/page-footer.test.ts
  libs/mock-block-dock/src/version.ts
Labels: app: site, lib: mock-block-dock, area: apps, area: docs, area: libs

#908 Update `@changesets/*` (including patches)
  package.json
  patches/@changesets+apply-release-plan+6.1.3.patch
  patches/@changesets+assemble-release-plan+5.2.3.patch
  patches/@changesets+cli+2.26.0.patch
  patches/@changesets+get-dependents-graph+1.3.5.patch
  patches/@changesets+git+1.5.0.patch
  patches/@changesets+git+2.0.0.patch
  yarn.lock
Labels: area: dependencies, area: infra

#913 Types from schema: add 'object' data type. Handle lowercase schema title
  libs/@blockprotocol/graph/src/codegen/entity-type-to-typescript.ts
  libs/@blockprotocol/graph/src/codegen/hardcoded-bp-types.ts
Labels: lib: @Þ/graph, area: libs

#914 Homepage fixes
  apps/site/src/components/pages/home/supported-applications.tsx
  apps/site/src/components/pages/home/zero-application-developers.tsx
Labels: app: site, area: apps

#900 Add `/settings/billing` page
  apps/site/package.json
  apps/site/public/assets/logos/mono/mapbox.svg
  apps/site/public/assets/logos/mono/openai.svg
  apps/site/scripts/sync-algolia-index.ts
  apps/site/src/components/hooks/use-crumbs.ts
  apps/site/src/components/icons/abstract-ai-icon.tsx
  apps/site/src/components/icons/bolt-regular-icon.tsx
  apps/site/src/components/icons/check-double-icon.tsx
  apps/site/src/components/icons/coins-icon.tsx
  apps/site/src/components/icons/flask-vial-icon.tsx
  apps/site/src/components/icons/hand-icon.tsx
  apps/site/src/components/icons/jet-fighter-up-icon.tsx
  apps/site/src/components/icons/location-arrow-icon.tsx
  apps/site/src/components/icons/location-icon.tsx
  apps/site/src/components/icons/lock-icon.tsx
  apps/site/src/components/icons/map-location-dot-icon.tsx
  apps/site/src/components/icons/mapbox-icon.tsx
  apps/site/src/components/icons/mapbox-logo-icon.tsx
  apps/site/src/components/icons/microphone-icon.tsx
  apps/site/src/components/icons/open-ai-icon.tsx
  apps/site/src/components/icons/people-arrows-icon.tsx
  apps/site/src/components/icons/rocket-regular-icon.tsx
  apps/site/src/components/icons/tag-icon.tsx
  apps/site/src/components/icons/trophy-icon.tsx
  apps/site/src/components/icons/trophy-star-icon.tsx
  apps/site/src/components/navbar/mobile-nav-items.tsx
  apps/site/src/components/page-sidebar.tsx
  apps/site/src/components/pages/dashboard/utils.ts
  apps/site/src/components/pages/docs/docs-content.tsx
  apps/site/src/components/pages/home/registry-section.tsx
  apps/site/src/lib/api/model/user.model.ts
  apps/site/src/lib/sitemap.ts
  apps/site/src/pages/docs/[[...docs-slug]].page.tsx
  apps/site/src/pages/settings/[[...slugs]].page.tsx
  apps/site/src/pages/settings/billing-settings-panel/billing-settings-panel.tsx
  apps/site/src/pages/settings/billing-settings-panel/free-or-hobby-subscription-tier-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/pro-subscription-tier-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/subscription-feature-list-item.tsx
  apps/site/src/pages/settings/billing-settings-panel/subscription-feature-list.tsx
  apps/site/src/pages/shared/subscription-utils.tsx
  apps/site/theme-override.d.ts
  libs/@local/internal-api-client-generator/package.json
  libs/@local/internal-api-client-generator/typescript/api.ts
  yarn.lock
Labels: area: dependencies, app: site, area: infra, lib: @local/*, area: apps, area: libs

#919 Better 'Object' type. Rename codegen script in templates
  libs/@blockprotocol/graph/src/codegen/entity-type-to-typescript.ts
  libs/@blockprotocol/graph/src/codegen/entity-type-to-typescript/type-definition-generators.ts
  libs/@blockprotocol/graph/src/types/entity.ts
  libs/block-template-custom-element/package.json
  libs/block-template-react/package.json
Labels: lib: @Þ/graph, lib: block-template-react, lib: block-template-custom-element, area: libs

#920 Set git author in canary release workflow
  .github/workflows/canary-release.yml
Labels: area: infra

#916 Update footer
  apps/site/src/components/footer.tsx
  apps/site/src/components/icons/arrow-up-right-icon.tsx
  apps/site/src/components/icons/block-protocol-logo-icon.tsx
  apps/site/src/components/icons/discord-icon.tsx
  apps/site/src/components/pages/dashboard/api-key-renderer.tsx
  apps/site/src/components/pages/dashboard/generate-api-modal.tsx
  apps/site/src/components/pages/home/registry-section.tsx
  apps/site/src/components/pages/hub/block-data-container.tsx
  apps/site/src/components/pages/hub/block-modal-button.tsx
  apps/site/src/components/screens/signup-screen.tsx
  apps/site/src/components/table-cells.tsx
  apps/site/src/components/table.tsx
  apps/site/src/theme/palette.ts
  apps/site/tests/integration/page-footer.test.ts
  apps/site/theme-override.d.ts
Labels: app: site, area: apps

#912 Update navbar
  apps/site/src/components/hooks/use-crumbs.ts
  apps/site/src/components/icons/open-book-icon.tsx
  apps/site/src/components/navbar.tsx
  apps/site/src/components/navbar/util.tsx
  apps/site/src/components/page-layout.tsx
  apps/site/src/components/search-nav-button.tsx
  apps/site/src/components/user-avatar.tsx
  apps/site/src/lib/sitemap.ts
  apps/site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  apps/site/src/pages/_app.page.tsx
  apps/site/src/pages/docs/[[...docs-slug]].page.tsx
  apps/site/tests/integration/login-flow.test.ts
  apps/site/tests/integration/sign-up-flow.test.ts
  apps/site/tests/universal/page-header.test.ts
Labels: app: site, area: apps

#922 Make Þ services available before element is available
  .changeset/rude-queens-dance.md
  libs/@blockprotocol/core/src/service-handler.ts
  libs/@blockprotocol/core/src/types.ts
  libs/@blockprotocol/graph/src/graph-block-handler.ts
  libs/@blockprotocol/graph/src/graph-embedder-handler.ts
  libs/@blockprotocol/graph/src/react.ts
  libs/@blockprotocol/hook/src/hook-block-handler.ts
  libs/@blockprotocol/hook/src/hook-embedder-handler.ts
  libs/@blockprotocol/hook/src/react.ts
  libs/mock-block-dock/dev/test-react-block.tsx
Labels: lib: mock-block-dock, lib: @Þ/core, lib: @Þ/graph, lib: @Þ/hook, area: libs
