Repository blockprotocol/blockprotocol, pull requests merged in 2023-03, with the labels that each got.

#1044 Version Packages
  .changeset/blockprotocol-version-bump.md
  .changeset/eight-cups-shave.md
  .changeset/introduce-services-package.md
  .changeset/popular-onions-ring.md
  .changeset/rich-sheep-pay.md
  .changeset/small-dingos-grin.md
  .changeset/weak-books-boil.md
  apps/site/package.json
  libs/@blockprotocol/core/CHANGELOG.md
  libs/@blockprotocol/core/package.json
  libs/@blockprotocol/graph/CHANGELOG.md
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/hook/CHANGELOG.md
  libs/@blockprotocol/hook/package.json
  libs/@blockprotocol/service/CHANGELOG.md
  libs/@blockprotocol/service/package.json
  libs/@blockprotocol/type-system/CHANGELOG.md
  libs/@blockprotocol/type-system/package.json
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/blockprotocol/CHANGELOG.md
  libs/blockprotocol/package.json
  libs/create-block-app/CHANGELOG.md
  libs/create-block-app/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: app: site, lib: blockprotocol, lib: create-block-app, lib: mock-block-dock, lib: @Þ/core, lib: @Þ/graph, lib: block-template-react, lib: block-template-html, lib: block-template-custom-element, lib: @Þ/hook, lib: block-scripts, area: apps, area: libs

#1077 Add routing to legal pages
  apps/site/src/_pages/legal/0_index.mdx
  apps/site/src/_pages/legal/acceptable-use/00_index.mdx
  apps/site/src/_pages/legal/acceptable-use/10_reports.mdx
  apps/site/src/_pages/legal/acceptable-use/11_appeals.mdx
  apps/site/src/_pages/legal/acceptable-use/1_malware.mdx
  apps/site/src/_pages/legal/acceptable-use/2_bullying.mdx
  apps/site/src/_pages/legal/acceptable-use/3_disruption.mdx
  apps/site/src/_pages/legal/acceptable-use/4_doxxing.mdx
  apps/site/src/_pages/legal/acceptable-use/5_discrimination.mdx
  apps/site/src/_pages/legal/acceptable-use/6_impersonation.mdx
  apps/site/src/_pages/legal/acceptable-use/7_veracity.mdx
  apps/site/src/_pages/legal/acceptable-use/8_obscenity.mdx
  apps/site/src/_pages/legal/acceptable-use/9_violence.mdx
  apps/site/src/_pages/legal/community/00_index.mdx
  apps/site/src/_pages/legal/privacy/00_index.mdx
  apps/site/src/_pages/legal/privacy/1_private-information-removal.mdx
  apps/site/src/_pages/legal/privacy/2_user-data-legal-requests.mdx
  apps/site/src/_pages/legal/privacy/3_cookies.mdx
  apps/site/src/_pages/legal/terms-corporate/00_index.mdx
  apps/site/src/_pages/legal/terms/00_index.mdx
  apps/site/src/_pages/legal/terms/1_product.mdx
  apps/site/src/_pages/legal/terms/dpa/00_index.mdx
  apps/site/src/components/mdx/mdx-page-content.tsx
  apps/site/src/components/pages/legal/legal-content.tsx
  apps/site/src/lib/sitemap.ts
  apps/site/src/pages/legal/[[...legal-slug]].page.tsx
  apps/site/src/util/mdx-utils.tsx
Labels: app: site, area: apps

#1051 Update `blockTarballUrls` to production R2
  apps/site/scripts/mirror-blocks-from-production-deployment.ts
  apps/site/src/lib/blocks.ts
Labels: app: site, area: apps

#1071 Update type editor
  apps/site/package.json
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#1080 Catch errors in revalidating pages. Update `block-metadata.json` types
  apps/site/src/middleware.page/return-types-as-json.ts
  apps/site/src/pages/api/blocks/shared/revalidate.ts
  libs/@blockprotocol/core/src/types.ts
Labels: app: site, lib: @Þ/core, area: apps, area: libs

#1075 Allow newlines in Description fields in types
  apps/site/src/components/modal/create-schema-modal.tsx
  apps/site/src/components/pages/user/tab-panel-contents-with-schemas.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/site/tests/integration/schema-creation.test.ts
Labels: app: site, area: apps

#1082 Correct hub page featured blocks
  apps/site/src/lib/api/blocks/get.ts
  libs/mock-block-dock/src/version.ts
Labels: app: site, lib: mock-block-dock, area: apps, area: libs

#1083 Remove upcoming invoice from payment history section
  apps/site/src/pages/settings/billing-settings-panel/payment-history-section.tsx
Labels: app: site, area: apps

#1078 Add Upgrade banner in account dropdown
  apps/site/src/components/icons/mapbox-icon.tsx
  apps/site/src/components/icons/open-ai-icon.tsx
  apps/site/src/components/navbar/account-dropdown.tsx
Labels: app: site, area: apps

#1072 Update WordPress plugin page for launch
  apps/site/src/components/pages/wordpress/availability.tsx
  apps/site/src/components/pages/wordpress/early-access-cta.tsx
  apps/site/src/components/pages/wordpress/header.tsx
  apps/site/src/components/pages/wordpress/why-install.tsx
  apps/site/src/pages/wordpress.page.tsx
Labels: app: site, area: apps

#1050 Display tax information when creating a subscription + other styling fixes
  apps/site/src/pages/settings/billing-settings-panel/payment-history-section.tsx
  apps/site/src/pages/settings/billing/upgrade/create-subscription-form.tsx
  apps/site/src/pages/settings/billing/upgrade/index.page.tsx
  apps/site/src/pages/settings/billing/upgrade/upgrade-existing-paid-subscription-intro.tsx
  apps/site/tests/integration/hubpage.test.ts
  apps/site/tests/universal/blockpage.test.ts
  libs/@local/internal-api-client-generator/typescript/api.ts
Labels: app: site, lib: @local/*, area: apps, area: libs

#1084 Display stripe error message when upgrading an existing paid subscription
  apps/site/src/pages/settings/billing/upgrade/index.page.tsx
  apps/site/src/pages/settings/billing/upgrade/upgrade-existing-paid-subscription-intro.tsx
Labels: app: site, area: apps

#1081 Fix broken links in `legal` pages, add repo READMEs
  apps/README.md
  apps/site/src/_pages/legal/privacy/00_index.mdx
  apps/site/src/_pages/legal/terms/1_products.mdx
  libs/README.md
Labels: app: site, area: apps, area: libs

#1092 Explicitly set 'verified' status on blocks when created
  apps/site/src/lib/blocks.ts
Labels: app: site, area: apps

#1094 Handle service module blocks in the hub (part 1)
  apps/site/src/components/pages/hub/sandboxed-block-demo.tsx
  apps/site/src/components/pages/hub/sandboxed-block-demo/service-module-modal.tsx
  apps/site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
Labels: app: site, area: apps

#1086 Improve documentation around block creation
  apps/site/src/_pages/docs/1_developing-blocks.mdx
Labels: app: site, area: apps, area: docs

#1088 Fix blockpage tests
  apps/site/blocks-data.json
  apps/site/tests/integration/blockpage.test.ts
Labels: app: site, area: apps

#1000 Update dashboard copy, add docs link to WP plugin directory
  apps/site/src/_pages/docs/3_using-blocks.mdx
  apps/site/src/_pages/docs/5_faq.mdx
  apps/site/src/components/pages/dashboard/utils.ts
  apps/site/src/pages/dashboard/[[...slugs]].page.tsx
  apps/site/tests/integration/dashboard.test.ts
Labels: app: site, area: apps, area: docs

#1095 Add Inter font to block demos
  apps/site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
Labels: app: site, area: apps

#1091 blockprotocol CLI: skip user prompts if running in CI
  .changeset/early-files-burn.md
  libs/blockprotocol/cli/commands/publish.js
  libs/blockprotocol/cli/commands/publish/find-api-key.js
  libs/blockprotocol/package.json
  yarn.lock
Labels: area: dependencies, area: infra, lib: blockprotocol, area: libs

#1085 Sort items in user profile and add icons for link entity types
  apps/site/src/components/pages/user/overview-card.tsx
  apps/site/src/components/pages/user/tab-panel-contents-with-overview.tsx
  apps/site/src/pages/[shortname]/[[...profile-tabs]].page.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/site/src/util/type-system-util.ts
Labels: app: site, area: apps

#1099 Create GH cache after merging a Pull Request
  .github/workflows/ci.yml
Labels: area: infra

#1100 Run CI on any Pull Request (or merge queue event)
  .github/workflows/ci.yml
Labels: area: infra

#1105 Use shared cache for Rust jobs
  .github/actions/warm-up-repo/action.yml
Labels: area: infra

#1104 Use `wasm-opt` from `wasm-pack`
  libs/@blockprotocol/type-system/crate/Cargo.toml
  libs/@blockprotocol/type-system/crate/Makefile.toml
  libs/@blockprotocol/type-system/package.json
Labels: area: libs

#1106 Fix block page revalidation
  apps/site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  apps/site/src/pages/api/blocks/shared/revalidate.ts
Labels: app: site, area: apps

#1117 Disable yarn caching
  .github/actions/warm-up-repo/action.yml
Labels: area: infra

#1116 Update dependencies in `block-scripts`
  .changeset/quiet-suns-eat.md
  libs/block-scripts/package.json
  libs/mock-block-dock/package.json
  yarn.lock
Labels: area: dependencies, area: infra, lib: mock-block-dock, lib: block-scripts, area: libs

#1115 Cancel previous jobs when newer commits were added
  .github/workflows/ci.yml
  .github/workflows/site-deployment.yml
Labels: area: infra

#1119 Disable codecov reporting status requirement
  .github/workflows/ci.yml
Labels: area: infra

#1110 Avoid compiling the `type-system` twice
  libs/@blockprotocol/type-system/crate/Makefile.toml
  libs/@blockprotocol/type-system/package.json
Labels: area: libs

#1101 Download `wasm-pack` instead of compiling it
  libs/@blockprotocol/type-system/crate/Makefile.toml
  libs/@blockprotocol/type-system/package.json
  yarn.lock
Labels: area: dependencies, area: infra, area: libs

#1120 Enable auto-job-cancelation for Vercel
  vercel.json
Labels: area: infra

#1113 Remove `regex` crate and use `rsplit("v/")` instead
  apps/site/public/types/modules/graph/0.3/schema/versioned-url.json
  libs/@blockprotocol/type-system/crate/Cargo.toml
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/url/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/url/mod.rs
  libs/@blockprotocol/type-system/src/native/url.ts
  libs/@blockprotocol/type-system/test/data-type.test.ts
  libs/@blockprotocol/type-system/test/entity-type.test.ts
  libs/@blockprotocol/type-system/test/property-type.test.ts
  libs/@blockprotocol/type-system/test/url.test.ts
Labels: app: site, area: apps, area: libs

#1114 Add OpenAI `completeChat` method definition to `@blockprotocol/service`
  libs/@blockprotocol/service/package.json
  libs/@blockprotocol/service/src/openai-types.ts
  libs/@blockprotocol/service/src/scripts/generate-service-module-json.ts
  libs/@blockprotocol/service/src/service-block-handler.ts
  libs/@blockprotocol/service/src/service-module.json
  libs/@blockprotocol/service/src/types.ts
  libs/mock-block-dock/src/service-module-callbacks.ts
  yarn.lock
Labels: area: dependencies, area: infra, lib: mock-block-dock, area: libs

#1098 Add basic validation to the `/external-service-method` endpoint
  apps/site/src/pages/api/external-service-method.api.ts
Labels: app: site, area: apps

#1123 Add Block Protocol WordPress plugin
  .gitignore
  .markdownlintignore
  .prettierignore
  libs/wordpress-plugin/.eslintrc.cjs
  libs/wordpress-plugin/LICENSE.md
  libs/wordpress-plugin/README.md
  libs/wordpress-plugin/package.json
  libs/wordpress-plugin/patches/@apidevtools+json-schema-ref-parser+9.1.2.patch
  libs/wordpress-plugin/patches/@jsdevtools+ono+7.1.3.patch
  libs/wordpress-plugin/plugin/README.md
  libs/wordpress-plugin/plugin/assets/banner-1544x500.png
  libs/wordpress-plugin/plugin/assets/banner-772x250.png
  libs/wordpress-plugin/plugin/assets/icon-128x128.png
  libs/wordpress-plugin/plugin/assets/icon-256x256.png
  libs/wordpress-plugin/plugin/trunk/block-protocol.php
  libs/wordpress-plugin/plugin/trunk/block/block.json
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview.tsx
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit.tsx
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/block-controls.tsx
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/block-controls/bootstrap.scss
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/block-controls/entity-editor.tsx
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/block-controls/fetch-schema.ts
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/loading-image.tsx
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/service-callbacks.ts
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/preview.tsx
  libs/wordpress-plugin/plugin/trunk/block/index.tsx
  libs/wordpress-plugin/plugin/trunk/block/register-variations.tsx
  libs/wordpress-plugin/plugin/trunk/block/render.tsx
  libs/wordpress-plugin/plugin/trunk/block/shared/api.ts
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader.tsx
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/block-renderer.tsx
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/block-renderer/custom-element.tsx
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/block-renderer/html.tsx
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/hook-portals.tsx
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/hook-portals/image.tsx
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/load-remote-block.tsx
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/use-remote-block.ts
  libs/wordpress-plugin/plugin/trunk/block/shared/util.ts
  libs/wordpress-plugin/plugin/trunk/block/window.d.ts
  libs/wordpress-plugin/plugin/trunk/changelog.txt
  libs/wordpress-plugin/plugin/trunk/composer.json
  libs/wordpress-plugin/plugin/trunk/composer.lock
  libs/wordpress-plugin/plugin/trunk/images/blocks-loading.gif
  libs/wordpress-plugin/plugin/trunk/readme.txt
  libs/wordpress-plugin/plugin/trunk/server/block-api-endpoints.php
  libs/wordpress-plugin/plugin/trunk/server/block-db-table.php
  libs/wordpress-plugin/plugin/trunk/server/data.php
  libs/wordpress-plugin/plugin/trunk/server/query.php
  libs/wordpress-plugin/plugin/trunk/server/settings.php
  libs/wordpress-plugin/plugin/trunk/server/util.php
  libs/wordpress-plugin/tsconfig.json
  libs/wordpress-plugin/webpack.config.js
  libs/wordpress-plugin/wordpress/docker-compose.yml
  libs/wordpress-plugin/yarn.lock
  package.json
Labels: area: dependencies, area: infra, area: libs

#1109 Allow creating new entity types with properties/links
  apps/site/package.json
  apps/site/src/components/modal/create-schema-modal.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-edit-bar.tsx
  apps/site/tests/integration/schema-creation.test.ts
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#1124 Better error reporting for the WordPress plugin
  libs/wordpress-plugin/plugin/trunk/block-protocol.php
  libs/wordpress-plugin/plugin/trunk/server/block-db-table.php
  libs/wordpress-plugin/plugin/trunk/server/data.php
Labels: area: libs

#1112 Update copy regarding Mapbox Autofill free allowance
  apps/site/src/components/pages/pricing/paid-tiers-section.tsx
  apps/site/src/pages/settings/billing-settings-panel/external-service-free-allowance.ts
  apps/site/src/pages/settings/billing-settings-panel/free-or-hobby-subscription-tier-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/pro-subscription-tier-overview.tsx
Labels: app: site, area: apps

#1126 Add unsupported database version notice to WordPress plugin
  libs/wordpress-plugin/plugin/trunk/block-protocol.php
  libs/wordpress-plugin/plugin/trunk/server/block-db-table.php
Labels: area: libs

#1128 Move `docker-compose.yml` for the WordPress plugin to `infra/docker/wordpress`
  infra/docker/wordpress/docker-compose.yml
  libs/wordpress-plugin/README.md
  libs/wordpress-plugin/package.json
Labels: area: infra, area: libs

#1049 Add `Service` module specification
  .changeset/three-moles-move.md
  apps/site/package.json
  apps/site/src/_pages/docs/4_spec/04_service-module.mdx
  apps/site/src/components/mdx/mdx-components.tsx
  apps/site/src/components/mdx/modules/service/service-module-message-list.tsx
  libs/@blockprotocol/graph/src/graph-module.json
  libs/@blockprotocol/graph/src/shared/types/block-graph.ts
  libs/@blockprotocol/hook/src/types.ts
  libs/@blockprotocol/service/src/scripts/generate-service-module-json.ts
  libs/@blockprotocol/service/src/service-module.json
  libs/@blockprotocol/service/src/types.ts
  libs/mock-block-dock/src/service-module-callbacks.ts
Labels: app: site, lib: mock-block-dock, lib: @Þ/graph, lib: @Þ/hook, area: apps, area: docs, area: libs

#1130 Add initial `query` and `get` operations for `DataType` and `PropertyType` in the graph package
  libs/@blockprotocol/graph/src/non-temporal/graph-block-handler.ts
  libs/@blockprotocol/graph/src/non-temporal/main.ts
  libs/@blockprotocol/graph/src/shared/types/block-graph.ts
  libs/@blockprotocol/graph/src/shared/types/ontology/data-type.ts
  libs/@blockprotocol/graph/src/shared/types/ontology/property-type.ts
  libs/@blockprotocol/graph/src/temporal/graph-block-handler.ts
  libs/@blockprotocol/graph/src/temporal/main.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/non-temporal.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/temporal.ts
Labels: lib: mock-block-dock, lib: @Þ/graph, area: libs

#1096 Version Packages
  .changeset/early-files-burn.md
  .changeset/lazy-terms-chew.md
  .changeset/quiet-suns-eat.md
  .changeset/sharp-hotels-deliver.md
  .changeset/three-moles-move.md
  apps/site/package.json
  libs/@blockprotocol/service/CHANGELOG.md
  libs/@blockprotocol/service/package.json
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/blockprotocol/CHANGELOG.md
  libs/blockprotocol/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: app: site, lib: blockprotocol, lib: mock-block-dock, lib: block-template-react, lib: block-template-html, lib: block-template-custom-element, lib: block-scripts, area: apps, area: libs

#1139 Disable Sentry Replay sticky session
  apps/site/sentry.client.config.ts
Labels: app: site, area: apps

#1136 Make usage limit input label more specific
  apps/site/src/pages/settings/billing-settings-panel/usage-limit-section.tsx
Labels: app: site, area: apps

#1141 Catch errors on session storage access
  apps/site/src/components/mdx/mdx-page-content.tsx
  apps/site/src/pages/_app.page.tsx
Labels: app: site, area: apps

#1137 Return full HASH error when error is thrown in internal API
  apps/site/src/pages/api/blocks/index.api.ts
  apps/site/src/pages/api/external-service-method.api.ts
  apps/site/src/util/api.ts
  apps/site/tests/integration/api-keys.test.ts
Labels: app: site, area: apps

#1138 Handle service module blocks in the hub (part 2)
  apps/site/src/components/pages/hub/block-data-container.tsx
  apps/site/src/components/pages/hub/block-data-container/block-data-tab-panels.tsx
  apps/site/src/components/pages/hub/block-data-container/block-data-tab-panels/json-editor.tsx
  apps/site/src/components/pages/hub/block-data-container/block-data-tab-panels/tab-panel.tsx
  apps/site/src/components/pages/hub/block-data-container/block-data-tabs.tsx
  apps/site/src/components/pages/hub/block-data-container/block-modal-button.tsx
  apps/site/src/components/pages/hub/block-data-container/block-tabs-modal.tsx
  apps/site/src/components/pages/hub/block-data-container/block-variants-tabs.tsx
  apps/site/src/components/pages/hub/block-data-container/sandboxed-block-demo.tsx
  apps/site/src/components/pages/hub/block-data-container/sandboxed-block-demo/service-module-modal.tsx
  apps/site/src/components/pages/hub/sandboxed-block-demo.tsx
  apps/site/src/components/pages/hub/sandboxed-block-demo/service-module-modal.tsx
  apps/site/src/lib/api-client.ts
  apps/site/src/lib/api/handler/api-key-required-handler.ts
  apps/site/src/lib/api/middleware/has-valid-api-key.middleware.ts
  apps/site/src/pages/api/external-service-method.api.ts
  apps/site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
Labels: app: site, area: apps

#1144 Update external service allowance
  apps/site/src/pages/settings/billing-settings-panel/external-service-free-allowance.ts
Labels: app: site, area: apps

#1146 WordPress ChatGPT support, tweak usage exceeded error message
  apps/site/src/components/pages/hub/block-data-container/sandboxed-block-demo/service-module-modal.tsx
  libs/wordpress-plugin/package.json
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/service-callbacks.ts
  libs/wordpress-plugin/plugin/trunk/changelog.txt
  libs/wordpress-plugin/plugin/trunk/readme.txt
  libs/wordpress-plugin/yarn.lock
Labels: area: dependencies, app: site, area: apps, area: libs, lib: wordpress-plugin

#1129 Add "GPT-3.5 Turbo" copy to the BP site
  apps/site/src/_pages/legal/terms/1_products.mdx
  apps/site/src/components/pages/pricing/free-tier-section.tsx
  apps/site/src/components/pages/pricing/paid-addons-section.tsx
  apps/site/src/components/pages/pricing/paid-tiers-section.tsx
  apps/site/src/pages/settings/billing-settings-panel/external-service-free-allowance.ts
  apps/site/src/pages/settings/billing-settings-panel/free-or-hobby-subscription-tier-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/pro-subscription-tier-overview.tsx
Labels: app: site, area: apps

#1148 Open "Terms of Service" and "Privacy Statement" links in new tab in checkout page + styling tweaks
  apps/site/src/pages/settings/billing-settings-panel/free-or-hobby-subscription-tier-overview.tsx
  apps/site/src/pages/settings/billing/upgrade/index.page.tsx
Labels: app: site, area: apps

#1151 Add verified badge to blocks on block hub
  apps/site/src/components/pages/hub/hub.tsx
  apps/site/src/pages/hub.page.tsx
Labels: app: site, area: apps

#1153 Add Graph stdlib helper functions for Ontology Type references
  libs/@blockprotocol/graph/src/non-temporal/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/edge/entity-type.ts
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/edge/property-type.ts
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/edge/shared.ts
  libs/@blockprotocol/graph/src/shared/types/subgraph/edges/variants/ontology.ts
  libs/@blockprotocol/graph/src/temporal/stdlib.ts
Labels: lib: @Þ/graph, area: libs

#1159 Improved animations & loading on `/hub` page
  apps/site/package.json
  apps/site/src/components/pages/hub/hub-list-browse.tsx
  apps/site/src/components/pages/hub/hub-utils.tsx
  apps/site/src/components/pages/hub/hub.tsx
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#1164 Create `design-system` placeholder dir
  libs/@blockprotocol/design-system/README.md
Labels: area: libs

#1161 Add latency simulation to `mock-block-dock`
  .changeset/seven-comics-beam.md
  libs/block-template-custom-element/src/dev.tsx
  libs/block-template-html/dev/index.html
  libs/block-template-react/src/dev.tsx
  libs/mock-block-dock/dev/dev-app.tsx
  libs/mock-block-dock/src/datastore/use-mock-datastore/non-temporal.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/shared.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/temporal.ts
  libs/mock-block-dock/src/mock-block-dock.tsx
  libs/mock-block-dock/src/use-mock-block-props.ts
  libs/mock-block-dock/src/util.ts
Labels: lib: mock-block-dock, lib: block-template-react, lib: block-template-html, lib: block-template-custom-element, area: libs

#1157 Fix block message init retry and custom element rendering
  .changeset/plenty-camels-crash.md
  .changeset/sharp-stingrays-scream.md
  .changeset/sharp-tools-bow.md
  .changeset/swift-countries-arrive.md
  libs/@blockprotocol/core/src/core-block-handler.ts
  libs/block-template-custom-element/package.json
  libs/block-template-react/package.json
  libs/mock-block-dock/package.json
  libs/mock-block-dock/src/block-renderer/custom-element.tsx
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/block-renderer/custom-element.tsx
  yarn.lock
Labels: area: dependencies, area: infra, lib: mock-block-dock, lib: @Þ/core, lib: block-template-react, lib: block-template-custom-element, area: libs, lib: wordpress-plugin

#1152 Add custom upgrade subscription page layout
  apps/site/src/components/pages/auth-wall.tsx
  apps/site/src/pages/_app.page.tsx
  apps/site/src/pages/settings/billing-settings-panel/subscription-feature-list-item.tsx
  apps/site/src/pages/settings/billing/upgrade/index.page.tsx
  apps/site/src/pages/settings/billing/upgrade/upgrade-page-layout.tsx
  apps/site/src/pages/shared/next-types.ts
Labels: app: site, area: apps

#1160 Make the inclusion of mock data optional in MockBlockDock
  .changeset/twelve-spies-whisper.md
  libs/block-template-custom-element/src/dev.tsx
  libs/block-template-html/dev/index.html
  libs/block-template-react/src/dev.tsx
  libs/mock-block-dock/dev/dev-app.tsx
  libs/mock-block-dock/src/mock-block-dock.tsx
  libs/mock-block-dock/src/use-mock-block-props.ts
Labels: lib: mock-block-dock, lib: block-template-react, lib: block-template-html, lib: block-template-custom-element, area: libs

#1150 Hide entity editor for certain blocks in the WordPress plugin
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/block-controls.tsx
Labels: area: libs, lib: wordpress-plugin

#1147 Add example of Hook Module usage in custom element block
  .changeset/funny-buttons-beam.md
  libs/@blockprotocol/hook/README.md
  libs/mock-block-dock/.eslintrc.cjs
  libs/mock-block-dock/dev/test-custom-element-block.ts
Labels: lib: mock-block-dock, lib: @Þ/hook, area: libs

#1171 Revert "Disable Sentry Replay sticky session"
  apps/site/sentry.client.config.ts
Labels: app: site, area: apps

#1176 Add GitHub workflow to attach Pull Request to Asana task
  .github/workflows/attach-pr-to-asana-task.yml
Labels: area: infra

#1168 Fix data reporting to work with unmigrated DB
  libs/wordpress-plugin/plugin/trunk/block-protocol.php
  libs/wordpress-plugin/plugin/trunk/server/block-db-table.php
  libs/wordpress-plugin/plugin/trunk/server/data.php
Labels: area: libs, lib: wordpress-plugin

#1156 Add helper function for fully recomputing edges in Subgraph
  libs/@blockprotocol/graph/src/non-temporal/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/builder.ts
  libs/@blockprotocol/graph/src/temporal/stdlib.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/non-temporal.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/temporal.ts
Labels: lib: mock-block-dock, lib: @Þ/graph, area: libs

#1175 Remove Changeset linting for the existence of a changeset file
  .github/workflows/ci.yml
  package.json
Labels: area: infra

#1169 Move 'can block call services' decision from session storage to component state
  apps/site/src/components/pages/hub/block-data-container.tsx
  apps/site/src/components/pages/hub/block-data-container/sandboxed-block-demo.tsx
Labels: app: site, area: apps

#1179 Conditionally enable Sentry error reporting in the WordPress plugin
  libs/wordpress-plugin/plugin/trunk/server/data.php
Labels: area: libs, lib: wordpress-plugin

#1097 Prevent layout shift with docs sidebar + other UX improvements
  apps/site/src/components/hooks/use-crumbs.ts
  apps/site/src/components/navbar.tsx
  apps/site/src/components/navbar/mobile-breadcrumbs.tsx
  apps/site/src/components/page-layout.tsx
  apps/site/src/components/page-sidebar.tsx
  apps/site/src/components/pages/docs/docs-content.tsx
  apps/site/src/pages/settings/[[...slugs]].page.tsx
Labels: app: site, area: apps

#1170 Add support for .env files in block templates
  .changeset/plenty-files-sneeze.md
  libs/block-scripts/package.json
  libs/block-scripts/shared/webpack-config.js
  libs/block-template-custom-element/.gitignore.dist
  libs/block-template-custom-element/README.md
  libs/block-template-react/.gitignore.dist
  libs/block-template-react/README.md
Labels: lib: block-template-react, lib: block-template-custom-element, lib: block-scripts, area: libs

#1182 Fix nested folder creation for codegen output
  .changeset/sixty-eels-thank.md
  .changeset/tall-roses-give.md
  libs/@blockprotocol/graph/src/codegen/initialize/ensure-output-dir-exists.ts
  libs/mock-block-dock/src/version.ts
Labels: lib: mock-block-dock, lib: @Þ/graph, area: libs

#1187 Version Packages
  .changeset/sixty-eels-thank.md
  .changeset/tall-roses-give.md
  apps/site/package.json
  libs/@blockprotocol/graph/CHANGELOG.md
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/hook/CHANGELOG.md
  libs/@blockprotocol/hook/package.json
  libs/@blockprotocol/type-system/CHANGELOG.md
  libs/@blockprotocol/type-system/package.json
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: app: site, lib: mock-block-dock, lib: @Þ/graph, lib: block-template-react, lib: block-template-html, lib: block-template-custom-element, lib: @Þ/hook, lib: block-scripts, area: apps, area: libs

#1188 Add client-side Sentry React instrumentation to Wordpress Plugin
  libs/wordpress-plugin/package.json
  libs/wordpress-plugin/plugin/trunk/block-protocol.php
  libs/wordpress-plugin/plugin/trunk/block/sentry.ts
  libs/wordpress-plugin/plugin/trunk/block/window.d.ts
  libs/wordpress-plugin/plugin/trunk/server/data.php
  libs/wordpress-plugin/webpack.config.js
  libs/wordpress-plugin/yarn.lock
Labels: area: dependencies, area: libs, lib: wordpress-plugin

#1190 Fix import path for mock block dock in sandbox
  apps/site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  libs/mock-block-dock/src/version.ts
Labels: app: site, lib: mock-block-dock, area: apps, area: libs

#1184 Test that codegen runs successfully in block templates in CI
  libs/@local/package-chores/scripts/smoke-test-create-block-app.ts
Labels: lib: @local/*, area: libs

#1087 Add copyable URL to `Entity Type` editor header
  apps/site/package.json
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#1181 Improve WordPress plugin error handling and messages, set version to 0.0.4
  apps/site/src/lib/api/mongodb.ts
  libs/wordpress-plugin/README.md
  libs/wordpress-plugin/package.json
  libs/wordpress-plugin/plugin/trunk/block-protocol.php
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit.tsx
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/block-controls.tsx
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/service-callbacks.ts
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/service-callbacks.tsx
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/toast.tsx
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/toast/close-button.tsx
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/toast/cross-icon.tsx
  libs/wordpress-plugin/plugin/trunk/block/render.tsx
  libs/wordpress-plugin/plugin/trunk/block/shared/api.ts
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/hook-portals.tsx
  libs/wordpress-plugin/plugin/trunk/changelog.txt
  libs/wordpress-plugin/plugin/trunk/readme.txt
  libs/wordpress-plugin/plugin/trunk/server/block-api-endpoints.php
  libs/wordpress-plugin/plugin/trunk/server/util.php
  libs/wordpress-plugin/yarn.lock
Labels: area: dependencies, app: site, area: apps, area: libs, lib: wordpress-plugin

#1194 Remove stray `$`
  libs/wordpress-plugin/plugin/trunk/server/block-api-endpoints.php
Labels: area: libs, lib: wordpress-plugin

#1193 Version Packages
  .changeset/thick-kiwis-joke.md
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
Labels: lib: block-template-react, lib: block-template-html, lib: block-template-custom-element, lib: block-scripts, area: libs

#1196 Allow special characters in titles and descriptions of types
  apps/site/src/components/modal/create-schema-modal.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
Labels: app: site, area: apps

#1197 Bump type editor version
  apps/site/package.json
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#1199 Use `just` over `cargo-make`
  .github/actions/warm-up-repo/action.yml
  libs/@blockprotocol/type-system/crate/.justfile
  libs/@blockprotocol/type-system/crate/Makefile.toml
  libs/@blockprotocol/type-system/crate/README.md
  libs/@blockprotocol/type-system/package.json
  package.json
  yarn.lock
Labels: area: dependencies, area: infra, area: libs

#1195 Handle empty properties object in create / update api endpoints
  libs/wordpress-plugin/plugin/trunk/server/block-api-endpoints.php
Labels: area: libs, lib: wordpress-plugin

#1177 Update copy in various places
  LICENSE.md
  apps/site/src/_pages/docs/5_faq.mdx
  apps/site/src/_pages/legal/terms/1_products.mdx
  apps/site/src/components/pages/home/supported-applications.tsx
  apps/site/src/components/pages/wordpress/why-install.tsx
  libs/wordpress-plugin/README.md
Labels: app: site, area: infra, area: apps, area: docs, area: libs, lib: wordpress-plugin

#1206 Manually install `wasm-pack`
  .github/actions/warm-up-repo/action.yml
  libs/@blockprotocol/type-system/crate/.justfile
  libs/@blockprotocol/type-system/package.json
  libs/@blockprotocol/type-system/scripts/build-wasm.ts
  yarn.lock
Labels: area: dependencies, area: infra, area: libs

#1183 Update `Roadmap`, add `About` pages
  apps/site/next.config.js
  apps/site/src/_pages/about/0_index.mdx
  apps/site/src/_pages/docs/4_spec/02_graph.mdx
  apps/site/src/_pages/docs/4_spec/03_hook.mdx
  apps/site/src/_pages/docs/4_spec/04_service.mdx
  apps/site/src/_pages/docs/4_spec/99_rfcs_and_roadmap.mdx
  apps/site/src/_pages/docs/6_roadmap.mdx
  apps/site/src/components/mdx/mdx-components.tsx
  apps/site/src/components/mdx/mdx-page-content.tsx
  apps/site/src/components/pages/legal/legal-content.tsx
  apps/site/src/lib/sitemap.ts
  apps/site/src/pages/about.page.tsx
  apps/site/src/theme/components/data-display/mui-typography-theme-options.ts
  apps/site/src/theme/typography.ts
  apps/site/theme-override.d.ts
  rfcs/0000-template.md
  rfcs/README.md
Labels: app: site, area: rfcs, area: apps, area: docs

#1189 Fix Hub menu responsiveness
  apps/site/src/components/pages/hub/hub-list-browse.tsx
  apps/site/src/components/pages/hub/hub.tsx
Labels: app: site, area: apps

#1192 Allow "free" users to update payment method
  apps/site/src/pages/settings/billing-settings-panel/billing-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/payment-history-section.tsx
Labels: app: site, area: apps

#1208 Add missing padding to BP icon
  apps/site/src/components/pages/wordpress/why-install.tsx
Labels: app: site, area: apps

#1205 [BP-1] Fix user type list display on mobile
  apps/site/src/components/pages/user/tab-panel-contents-with-schemas.tsx
Labels: app: site, area: apps

#1207 Edit bar improvements in entity type editor
  apps/site/src/components/navbar.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-edit-bar.tsx
Labels: app: site, area: apps

#1203 Implement fade-in on viewport at `/wordpress`, `/hub` & `/homepage`
  apps/site/.eslintrc.cjs
  apps/site/src/components/fade-in-on-viewport.tsx
  apps/site/src/components/footer-banner.tsx
  apps/site/src/components/pages/home/any-framework.tsx
  apps/site/src/components/pages/home/confined-blocks.tsx
  apps/site/src/components/pages/home/header.tsx
  apps/site/src/components/pages/home/interoperable-blocks.tsx
  apps/site/src/components/pages/home/registry-section.tsx
  apps/site/src/components/pages/home/supported-applications.tsx
  apps/site/src/components/pages/home/what-are-blocks.tsx
  apps/site/src/components/pages/home/zero-application-developers.tsx
  apps/site/src/components/pages/hub/hub.tsx
  apps/site/src/components/pages/wordpress/icon-section.tsx
  apps/site/src/components/pages/wordpress/why-develop.tsx
  apps/site/src/components/pages/wordpress/why-install.tsx
  apps/site/src/pages/_app.page.tsx
  apps/site/src/util/framer-features.ts
Labels: app: site, area: apps

#1202 [BP-2] Set up Þ Storybook scaffolding
  .gitignore
  libs/@blockprotocol/design-system/.eslintrc.cjs
  libs/@blockprotocol/design-system/.storybook/main.js
  libs/@blockprotocol/design-system/.storybook/preview.js
  libs/@blockprotocol/design-system/babel.config.js
  libs/@blockprotocol/design-system/package.json
  libs/@blockprotocol/design-system/src/stories/Introduction.mdx
  libs/@blockprotocol/design-system/src/stories/assets/code-brackets.svg
  libs/@blockprotocol/design-system/src/stories/assets/colors.svg
  libs/@blockprotocol/design-system/src/stories/assets/comments.svg
  libs/@blockprotocol/design-system/src/stories/assets/direction.svg
  libs/@blockprotocol/design-system/src/stories/assets/flow.svg
  libs/@blockprotocol/design-system/src/stories/assets/plugin.svg
  libs/@blockprotocol/design-system/src/stories/assets/repo.svg
  libs/@blockprotocol/design-system/src/stories/assets/stackalt.svg
  libs/@blockprotocol/design-system/tsconfig.json
  yarn.lock
Labels: area: dependencies, area: infra, area: libs

#1108 Add `Services` to docs, and restructure
  .changeset/polite-maps-attend.md
  README.md
  apps/site/next.config.js
  apps/site/src/_pages/docs/0_index.mdx
  apps/site/src/_pages/docs/1_blocks/00_index.mdx
  apps/site/src/_pages/docs/1_blocks/01_environments.mdx
  apps/site/src/_pages/docs/1_blocks/02_develop.mdx
  apps/site/src/_pages/docs/2_types.mdx
  apps/site/src/_pages/docs/3_services.mdx
  apps/site/src/_pages/docs/4_faq.mdx
  apps/site/src/_pages/docs/5_spec/00_index.mdx
  apps/site/src/_pages/docs/5_spec/01_core.mdx
  apps/site/src/_pages/docs/5_spec/02_graph.mdx
  apps/site/src/_pages/docs/5_spec/03_hook.mdx
  apps/site/src/_pages/docs/5_spec/04_service.mdx
  apps/site/src/components/footer-banner.tsx
  apps/site/src/components/footer.tsx
  apps/site/src/components/pages/blocks/publish-block-info.tsx
  apps/site/src/components/pages/dashboard/utils.ts
  apps/site/src/components/pages/docs/search/search-suggested-links.tsx
  apps/site/src/components/pages/home/registry-section.tsx
  apps/site/src/components/pages/home/supported-applications.tsx
  apps/site/src/components/pages/home/zero-application-developers.tsx
  apps/site/src/components/pages/pricing/free-tier-section.tsx
  apps/site/src/components/pages/user/placeholder-buttons.tsx
  apps/site/src/pages/settings/api-keys.page.tsx
  apps/site/tests/integration/accountpage.test.ts
  apps/site/tests/integration/api-keys.test.ts
  apps/site/tests/integration/blockpage.test.ts
  apps/site/tests/integration/dashboard.test.ts
  apps/site/tests/integration/docs.test.ts
  apps/site/tests/integration/homepage.test.ts
  apps/site/tests/integration/hubpage.test.ts
  apps/site/tests/integration/page-footer.test.ts
  libs/block-scripts/README.md
  libs/block-scripts/scripts/help.js
  libs/block-template-custom-element/README.md
  libs/block-template-html/README.md
  libs/block-template-react/README.md
  libs/create-block-app/README.md
Labels: app: site, area: infra, lib: create-block-app, lib: block-template-react, lib: block-template-html, lib: block-template-custom-element, lib: block-scripts, area: apps, area: docs, area: libs

#1214 Make @blockprotocol/design-system private temporarily
  libs/@blockprotocol/design-system/package.json
Labels: area: libs

#1215 Fix schema path in `entity.json`
  apps/site/public/types/modules/graph/0.3/schema/entity.json
Labels: app: site, area: apps

#1212 Make instanceof check safe across iframes
  .changeset/new-eggs-scream.md
  libs/@blockprotocol/core/src/core-embedder-handler.ts
Labels: lib: @Þ/core, area: libs

#1213 Version Packages
  .changeset/new-eggs-scream.md
  .changeset/polite-maps-attend.md
  apps/site/package.json
  libs/@blockprotocol/core/CHANGELOG.md
  libs/@blockprotocol/core/package.json
  libs/@blockprotocol/graph/CHANGELOG.md
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/hook/CHANGELOG.md
  libs/@blockprotocol/hook/package.json
  libs/@blockprotocol/service/CHANGELOG.md
  libs/@blockprotocol/service/package.json
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/create-block-app/CHANGELOG.md
  libs/create-block-app/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: app: site, lib: create-block-app, lib: mock-block-dock, lib: @Þ/core, lib: @Þ/graph, lib: block-template-react, lib: block-template-html, lib: block-template-custom-element, lib: @Þ/hook, lib: block-scripts, area: apps, area: libs

#1211 Handle WordPress editor being iFramed by Gutenberg plugin
  libs/wordpress-plugin/README.md
  libs/wordpress-plugin/package.json
  libs/wordpress-plugin/plugin/trunk/block-protocol.php
  libs/wordpress-plugin/plugin/trunk/block/block.json
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/block-renderer/custom-element.tsx
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/get-containing-iframe.ts
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/load-remote-block.tsx
  libs/wordpress-plugin/plugin/trunk/changelog.txt
  libs/wordpress-plugin/plugin/trunk/readme.txt
  libs/wordpress-plugin/plugin/trunk/server/data.php
  libs/wordpress-plugin/yarn.lock
Labels: area: dependencies, area: libs, lib: wordpress-plugin

#1217 Update GitHub labeler
  .github/labeler.yml
Labels: area: infra

#1210 [BP-3] Fix entity type table display on mobile
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/site/src/pages/_app.page.tsx
  apps/site/src/styles/table-component.css
Labels: area: apps > site, area: apps

#1222 Add better compatibility for older MySQL versions
  libs/wordpress-plugin/README.md
  libs/wordpress-plugin/plugin/trunk/changelog.txt
  libs/wordpress-plugin/plugin/trunk/readme.txt
  libs/wordpress-plugin/plugin/trunk/server/block-api-endpoints.php
  libs/wordpress-plugin/plugin/trunk/server/block-db-table.php
Labels: area: apps, area: libs, area: libs > wordpress-plugin

#1226 Bump WordPress plugin version to 0.0.6
  libs/mock-block-dock/src/version.ts
  libs/wordpress-plugin/package.json
  libs/wordpress-plugin/plugin/trunk/block-protocol.php
  libs/wordpress-plugin/plugin/trunk/changelog.txt
  libs/wordpress-plugin/plugin/trunk/readme.txt
Labels: area: libs > mock-block-dock, area: apps, area: libs, area: libs > wordpress-plugin

#1234 Add `openaiCompleteChat` method to sandbox callbacks
  apps/site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
Labels: area: apps > site, area: apps

#1209 Bump type editor dependency
  apps/site/next.config.js
  apps/site/package.json
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-edit-bar.tsx
  apps/site/src/theme/components/utils/mui-css-baseline-theme-options.ts
  yarn.lock
Labels: area: dependencies, area: apps > site, area: infra, area: apps

#1225 Consolidate API key pages, update routes and add missing font-family
  apps/site/next.config.js
  apps/site/src/_pages/docs/1_blocks/02_develop.mdx
  apps/site/src/_pages/legal/terms/00_index.mdx
  apps/site/src/components/navbar/account-dropdown.tsx
  apps/site/src/components/page-sidebar.tsx
  apps/site/src/components/pages/dashboard/utils.ts
  apps/site/src/components/pages/pricing/faq-section.tsx
  apps/site/src/components/pages/pricing/paid-tiers-section.tsx
  apps/site/src/pages/account/[[...slugs]].page.tsx
  apps/site/src/pages/account/api-keys-panel.tsx
  apps/site/src/pages/account/billing-panel/add-payment-method-form.tsx
  apps/site/src/pages/account/billing-panel/billing-overview.tsx
  apps/site/src/pages/account/billing-panel/billing-page-context.tsx
  apps/site/src/pages/account/billing-panel/billing-panel.tsx
  apps/site/src/pages/account/billing-panel/card-details-panel-page.tsx
  apps/site/src/pages/account/billing-panel/card-logo-icon.tsx
  apps/site/src/pages/account/billing-panel/external-service-free-allowance.ts
  apps/site/src/pages/account/billing-panel/free-or-hobby-subscription-tier-overview.tsx
  apps/site/src/pages/account/billing-panel/payment-history-section.tsx
  apps/site/src/pages/account/billing-panel/payment-method.tsx
  apps/site/src/pages/account/billing-panel/payment-methods.tsx
  apps/site/src/pages/account/billing-panel/pro-subscription-tier-overview.tsx
  apps/site/src/pages/account/billing-panel/subscription-feature-list-item.tsx
  apps/site/src/pages/account/billing-panel/subscription-feature-list.tsx
  apps/site/src/pages/account/billing-panel/tax-id-section.tsx
  apps/site/src/pages/account/billing-panel/tax-id-types.ts
  apps/site/src/pages/account/billing-panel/usage-limit-section.tsx
  apps/site/src/pages/account/billing/upgrade/change-payment-method-modal.tsx
  apps/site/src/pages/account/billing/upgrade/create-subscription-form.tsx
  apps/site/src/pages/account/billing/upgrade/index.page.tsx
  apps/site/src/pages/account/billing/upgrade/upgrade-existing-paid-subscription-intro.tsx
  apps/site/src/pages/account/billing/upgrade/upgrade-page-layout.tsx
  apps/site/src/pages/settings/api-keys.page.tsx
  apps/site/src/pages/workshop/workshop.md
  apps/site/tests/integration/api-keys.test.ts
  apps/site/tests/integration/dashboard.test.ts
  apps/site/tests/integration/login-flow.test.ts
  apps/site/tests/integration/page-footer.test.ts
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/service-callbacks.tsx
  libs/wordpress-plugin/plugin/trunk/readme.txt
  libs/wordpress-plugin/plugin/trunk/server/settings.php
Labels: area: apps > site, area: apps, area: user success > docs, area: libs, area: libs > wordpress-plugin, area: user success, type: writing, area: tests

#1232 Fix `queryEntities` for MariaDB in WordPress plugin
  libs/wordpress-plugin/README.md
  libs/wordpress-plugin/plugin/trunk/block-protocol.php
  libs/wordpress-plugin/plugin/trunk/changelog.txt
  libs/wordpress-plugin/plugin/trunk/readme.txt
  libs/wordpress-plugin/plugin/trunk/server/block-api-endpoints.php
  libs/wordpress-plugin/plugin/trunk/server/block-db-table.php
  libs/wordpress-plugin/plugin/trunk/server/query.php
  libs/wordpress-plugin/plugin/trunk/server/settings.php
Labels: area: apps, area: libs, area: libs > wordpress-plugin

#1229 Improve error message
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/edge/link-entity.ts
Labels: area: libs > @Þ/graph, area: apps, area: libs

#1198 Add description editing to the entity type editor
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-edit-bar.tsx
Labels: area: apps > site, area: apps

#1237 Add `Þ Hub` page `API` sub-page to docs
  apps/site/src/_pages/docs/0_index.mdx
  apps/site/src/_pages/docs/7_hub/00_index.mdx
  apps/site/src/_pages/docs/7_hub/1_api.mdx
  apps/site/src/pages/account/api-keys-panel.tsx
  apps/site/tests/integration/api-keys.test.ts
Labels: area: apps > site, area: apps, area: user success > docs, area: user success, type: writing, area: tests

#1241 Check if browser before accessing navigator
  apps/site/src/components/modal/create-schema-modal.tsx
Labels: area: apps > site, area: apps

#1240 Move supported GitHub files out of root
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/SECURITY.md
  README.md
  libs/@blockprotocol/type-system/crate/LICENSE.md
  libs/wordpress-plugin/plugin/README.md
Labels: area: infra, area: apps, area: libs, area: libs > wordpress-plugin

#1235 Fix "type" not being required on the entity type metaschema
  apps/site/public/types/modules/graph/0.3/schema/entity-type.json
Labels: area: apps > site, area: apps

#1244 Fix Property Type metaschema
  apps/site/public/types/modules/graph/0.3/schema/property-type.json
Labels: area: apps > site, area: apps
