Repository blockprotocol/blockprotocol, pull requests merged in 2023-05, with the labels that each got.

#1285 Version Packages
  .changeset/neat-camels-smell.md
  .changeset/quiet-poets-think.md
  .changeset/twelve-countries-fix.md
  .changeset/violet-carrots-taste.md
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
Labels: area: libs > block-template-react, area: libs > block-template-html, area: libs > block-template-custom-element, area: apps, area: libs

#1282 Add GPT-4 monthly free tokens
  apps/site/src/_pages/docs/1_blocks/01_environments.mdx
  apps/site/src/components/pages/pricing/free-tier-section.tsx
  apps/site/src/components/pages/pricing/paid-addons-section.tsx
  apps/site/src/components/pages/pricing/paid-tiers-section.tsx
  apps/site/src/pages/account/billing-panel/external-service-free-allowance.ts
  apps/site/src/pages/account/billing-panel/free-or-hobby-subscription-tier-overview.tsx
  apps/site/src/pages/account/billing-panel/pro-subscription-tier-overview.tsx
  libs/@local/internal-api-client-generator/typescript/api.ts
Labels: status: DO NOT MERGE, area: apps > site, area: libs > @local/*, area: apps, area: user success > docs, area: libs, area: user success, type: writing

#1287 Remove `const` field in `allOf` in entity type meta schema
  apps/site/public/types/modules/graph/0.3/schema/entity-type.json
Labels: area: apps > site, area: apps

#1288 Provide a vercel-install script
  .github/vercel.install.sh
Labels: area: apps > site, area: infra, area: libs > @Þ/design-system

#1286 Manually install `just` instead of using `just-install`
  .github/actions/warm-up-repo/action.yml
  package.json
  yarn.lock
Labels: area: dependencies, area: infra, area: apps

#1289 Provide a `vercel.json` per project
  apps/site/vercel-build.sh
  apps/site/vercel-install.sh
  apps/site/vercel.json
  libs/@blockprotocol/design-system/vercel-build.sh
  libs/@blockprotocol/design-system/vercel-install.sh
  libs/@blockprotocol/design-system/vercel.json
  vercel.json
Labels: area: apps > site, area: infra, area: apps, area: libs, area: libs > @Þ/design-system, type: frontend

#1291 Provide a `repr::EntityType::merge_parent` method
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/repr.rs
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/building.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/church.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/mod.rs
Labels: area: apps, area: libs, area: tests

#1293 Add missing Babel plugin dependencies
  .changeset/tasty-kids-enjoy.md
  libs/block-scripts/package.json
  libs/mock-block-dock/package.json
  libs/mock-block-dock/src/version.ts
  yarn.lock
Labels: area: dependencies, area: infra, area: libs > mock-block-dock, area: libs > block-scripts, area: apps, area: libs

#1294 Version Packages
  .changeset/tasty-kids-enjoy.md
  apps/site/package.json
  blocks/feature-showcase/CHANGELOG.md
  blocks/feature-showcase/package.json
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: area: apps > site, area: blocks, area: libs > mock-block-dock, area: libs > block-template-react, area: libs > block-template-html, area: libs > block-template-custom-element, area: libs > block-scripts, area: apps, area: libs

#1255 [BP-8] Display RFCs on the Þ site alongside `spec` and `docs`
  apps/site/src/_pages/roadmap/00_index.mdx
  apps/site/src/lib/sitemap.ts
  apps/site/src/pages/roadmap.page.tsx
  apps/site/src/pages/roadmap/[[...roadmap-slug]].page.tsx
  apps/site/src/util/mdx-utils.tsx
  package.json
  rfcs/.markdownlint.json
  rfcs/text/0352-graph-type-system.md
  yarn.lock
Labels: area: dependencies, area: apps > site, area: infra, area: user success > rfcs, area: apps, area: user success, type: writing
