Repository blockprotocol/blockprotocol, pull requests merged in 2023-02, with the labels that each got.

#899 Rename various elements of the Graph Service
  libs/@blockprotocol/graph/src/custom-element.ts
  libs/@blockprotocol/graph/src/graph-block-handler.ts
  libs/@blockprotocol/graph/src/graph-embedder-handler.ts
  libs/@blockprotocol/graph/src/internal/mutate-subgraph.ts
  libs/@blockprotocol/graph/src/react.ts
  libs/@blockprotocol/graph/src/stdlib.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/builder.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/edge/entity-type.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/edge/link-entity.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/data-type.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/entity-type.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/entity.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/property-type.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/roots.ts
  libs/@blockprotocol/graph/src/types/block-graph.ts
  libs/@blockprotocol/graph/src/types/entity.ts
  libs/@blockprotocol/graph/src/types/linked-aggregation.ts
  libs/@blockprotocol/graph/src/types/ontology.ts
  libs/@blockprotocol/graph/src/types/ontology/entity-type.ts
  libs/@blockprotocol/graph/src/types/ontology/metadata.ts
  libs/@blockprotocol/graph/src/types/subgraph.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges/outward-edge-alias.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges/outward-edge.ts
  libs/@blockprotocol/graph/src/types/subgraph/vertices.ts
  libs/block-template-custom-element/src/app.ts
  libs/block-template-custom-element/src/dev.tsx
  libs/block-template-react/src/app.tsx
  libs/block-template-react/src/dev.tsx
  libs/mock-block-dock/dev/dev-app.tsx
  libs/mock-block-dock/dev/test-custom-element-block.ts
  libs/mock-block-dock/dev/test-react-block.tsx
  libs/mock-block-dock/src/data/entities.ts
  libs/mock-block-dock/src/datastore/hook-implementations/entity/aggregate-entities.ts
  libs/mock-block-dock/src/datastore/hook-implementations/entity/get-entity.ts
  libs/mock-block-dock/src/datastore/traverse.ts
  libs/mock-block-dock/src/datastore/traverse/resolve-map.ts
  libs/mock-block-dock/src/datastore/traverse/traversal-context.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore.ts
  libs/mock-block-dock/src/debug-view/dev-tools/datastore-graph-visualization.tsx
  libs/mock-block-dock/src/debug-view/dev-tools/entity-switcher.tsx
  libs/mock-block-dock/src/debug-view/dev-tools/properties.tsx
  libs/mock-block-dock/src/mock-block-dock-context.tsx
  libs/mock-block-dock/src/mock-block-dock.tsx
  libs/mock-block-dock/src/use-mock-block-props.ts
  libs/mock-block-dock/src/util.ts
Labels: lib: mock-block-dock, lib: @Þ/graph, lib: block-template-react, lib: block-template-custom-element, area: libs

#924 Introduce primitives for bi-temporal versioning
  libs/@blockprotocol/graph/src/codegen/entity-type-to-typescript.ts
  libs/@blockprotocol/graph/src/codegen/shared.ts
  libs/@blockprotocol/graph/src/shared.ts
  libs/@blockprotocol/graph/src/stdlib/bound.ts
  libs/@blockprotocol/graph/src/stdlib/interval.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/entity.ts
  libs/@blockprotocol/graph/src/types.ts
  libs/@blockprotocol/graph/src/types/subgraph.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges/outward-edge.ts
  libs/@blockprotocol/graph/src/types/subgraph/time.ts
  libs/@blockprotocol/graph/src/types/temporal-versioning.ts
Labels: lib: @Þ/graph, area: libs

#927 Ignore @infra/ packages in changesets
  .changeset/config.json
Labels: area: infra

#926 Ensure callbacks to Þ services are always up-to-date when using React
  .changeset/lovely-ducks-relax.md
  libs/@blockprotocol/core/package.json
  libs/@blockprotocol/core/src/core-handler.ts
  libs/@blockprotocol/core/src/react.ts
  libs/@blockprotocol/core/src/service-handler.ts
  libs/@blockprotocol/graph/src/graph-block-handler.ts
  libs/@blockprotocol/graph/src/graph-embedder-handler.ts
  libs/@blockprotocol/graph/src/react.ts
  libs/@blockprotocol/hook/src/react.ts
  libs/@local/eslint-config/index.js
  libs/block-scripts/.eslintrc.cjs
  libs/blockprotocol/.eslintrc.cjs
Labels: lib: blockprotocol, lib: @local/*, lib: @Þ/core, lib: @Þ/graph, lib: @Þ/hook, lib: block-scripts, area: libs

#901 Add `/settings/billing/upgrade` page
  apps/site/README.md
  apps/site/package.json
  apps/site/src/components/icons/circle-info-regular.tsx
  apps/site/src/components/pages/auth-wall.tsx
  apps/site/src/components/user-avatar.tsx
  apps/site/src/context/user-context.ts
  apps/site/src/lib/internal-api-client.ts
  apps/site/src/pages/settings/billing-settings-panel/billing-settings-panel.tsx
  apps/site/src/pages/settings/billing-settings-panel/free-or-hobby-subscription-tier-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/pro-subscription-tier-overview.tsx
  apps/site/src/pages/settings/billing/upgrade/create-subscription-form.tsx
  apps/site/src/pages/settings/billing/upgrade/index.page.tsx
  apps/site/src/pages/shared/subscription-utils.tsx
  libs/@local/internal-api-client-generator/typescript/api.ts
  yarn.lock
Labels: area: dependencies, app: site, area: infra, lib: @local/*, area: apps, area: libs

#929 Serve data types and link entity type as JSON
  apps/site/next.config.js
  apps/site/package.json
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/return-types-as-json.ts
  apps/site/src/middleware.page/return-types-as-json/hardcoded-types.ts
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#938 Re-order tooling and rust cache in CI
  .github/actions/warm-up-repo/action.yml
Labels: area: infra

#928 Introduce support for bi-temporal versioning in the Graph Service
  libs/@blockprotocol/core/src/index.ts
  libs/@blockprotocol/core/src/types.ts
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/graph/src/codegen/entity-type-to-typescript.ts
  libs/@blockprotocol/graph/src/codegen/entity-type-to-typescript/type-definition-generators.ts
  libs/@blockprotocol/graph/src/custom-element.ts
  libs/@blockprotocol/graph/src/graph-block-handler.ts
  libs/@blockprotocol/graph/src/graph-embedder-handler.ts
  libs/@blockprotocol/graph/src/internal/mutate-subgraph.ts
  libs/@blockprotocol/graph/src/react.ts
  libs/@blockprotocol/graph/src/stdlib-temporal.ts
  libs/@blockprotocol/graph/src/stdlib.ts
  libs/@blockprotocol/graph/src/stdlib/bound.ts
  libs/@blockprotocol/graph/src/stdlib/interval.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/builder.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/edge/entity-type.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/edge/link-entity.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/data-type.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/entity-type.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/entity.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/map-revisions.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/property-type.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/roots.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/temporal-axes.ts
  libs/@blockprotocol/graph/src/types/block-graph.ts
  libs/@blockprotocol/graph/src/types/entity.ts
  libs/@blockprotocol/graph/src/types/linked-aggregation.ts
  libs/@blockprotocol/graph/src/types/ontology/entity-type.ts
  libs/@blockprotocol/graph/src/types/subgraph.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges/generic-outward-edge.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges/outward-edge-alias.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges/outward-edge.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges/variants.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges/variants/knowledge.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges/variants/ontology.ts
  libs/@blockprotocol/graph/src/types/subgraph/element-mappings.ts
  libs/@blockprotocol/graph/src/types/subgraph/temporal-axes.ts
  libs/@blockprotocol/graph/src/types/subgraph/vertices.ts
  libs/@blockprotocol/graph/src/types/temporal-versioning.ts
  libs/@blockprotocol/hook/src/types.ts
Labels: lib: @Þ/core, lib: @Þ/graph, lib: @Þ/hook, area: libs

#937 Add `"additionalProperties": false` to Entity Types and fix broken links definition
  .changeset/loud-chicken-count.md
  .changeset/silver-dogs-march.md
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/wasm.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/repr.rs
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/address.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/block.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/book.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/building.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/organization.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/page.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/person.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/playlist.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/song.json
  libs/@blockprotocol/type-system/test/entity-type.test.ts
Labels: area: libs

#932 Improve reliability of core service connection between block/embedder
  .changeset/sour-cobras-lay.md
  libs/@blockprotocol/core/src/core-block-handler.ts
  libs/@blockprotocol/core/src/core-embedder-handler.ts
  libs/@blockprotocol/core/src/core-handler.ts
  libs/@blockprotocol/core/src/react.ts
  libs/mock-block-dock/src/use-send-graph-value.ts
Labels: lib: mock-block-dock, lib: @Þ/core, area: libs

#931 Add support for bi-temporal versioning in MBD
  libs/block-template-custom-element/src/types.gen.ts
  libs/block-template-react/src/types.gen.ts
  libs/mock-block-dock/dev/dev-app.tsx
  libs/mock-block-dock/dev/test-custom-element-block.ts
  libs/mock-block-dock/dev/test-react-block.tsx
  libs/mock-block-dock/src/data/entities.ts
  libs/mock-block-dock/src/data/entity-types.ts
  libs/mock-block-dock/src/data/index.ts
  libs/mock-block-dock/src/data/temporal-axes.ts
  libs/mock-block-dock/src/datastore/get-default-entity-version-interval.ts
  libs/mock-block-dock/src/datastore/get-default-temporal-axes.ts
  libs/mock-block-dock/src/datastore/hook-implementations/entity/aggregate-entities.ts
  libs/mock-block-dock/src/datastore/hook-implementations/entity/get-entity.ts
  libs/mock-block-dock/src/datastore/mock-data.ts
  libs/mock-block-dock/src/datastore/resolve-temporal-axes.ts
  libs/mock-block-dock/src/datastore/traverse.ts
  libs/mock-block-dock/src/datastore/traverse/resolve-map.ts
  libs/mock-block-dock/src/datastore/traverse/traversal-context.ts
  libs/mock-block-dock/src/datastore/use-mock-data-to-subgraph.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore.ts
  libs/mock-block-dock/src/debug-view/dev-tools/datastore-graph-visualization.tsx
  libs/mock-block-dock/src/debug-view/dev-tools/entity-switcher.tsx
  libs/mock-block-dock/src/debug-view/dev-tools/properties.tsx
  libs/mock-block-dock/src/hook-portals.tsx
  libs/mock-block-dock/src/mock-block-dock-context.tsx
  libs/mock-block-dock/src/mock-block-dock.tsx
  libs/mock-block-dock/src/use-mock-block-props.ts
  libs/mock-block-dock/src/use-send-graph-value.ts
  libs/mock-block-dock/src/util.ts
Labels: lib: mock-block-dock, lib: block-template-react, lib: block-template-custom-element, area: libs

#939 Fix problematic typings in `Subgraph`
  libs/@blockprotocol/graph/src/internal/mutate-subgraph.ts
  libs/@blockprotocol/graph/src/shared.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/edge/entity-type.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/edge/link-entity.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/data-type.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/entity-type.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/entity.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/property-type.ts
  libs/@blockprotocol/graph/src/types/ontology.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges/outward-edge.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges/variants/knowledge.ts
  libs/@blockprotocol/graph/src/types/subgraph/edges/variants/ontology.ts
  libs/@blockprotocol/graph/src/types/subgraph/element-mappings.ts
  libs/@blockprotocol/graph/src/types/subgraph/vertices.ts
  libs/mock-block-dock/src/datastore/traverse.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore.ts
  libs/mock-block-dock/src/debug-view/dev-tools/datastore-graph-visualization.tsx
  libs/mock-block-dock/src/util.ts
Labels: lib: mock-block-dock, lib: @Þ/graph, area: libs

#941 Update the aggregation query syntax to take the field in a filter as an array of components
  libs/@blockprotocol/graph/src/types/entity.ts
  libs/mock-block-dock/src/util.ts
Labels: lib: mock-block-dock, lib: @Þ/graph, area: libs

#943 Hotfix `no space left on device` by cleaning Yarn cache
  apps/site/scripts/prepare-blocks.ts
Labels: app: site, area: apps

#942 Remove old type editor, prep for new. Partial Hub updates for 0.3
  apps/site/package.json
  apps/site/src/components/entity-types/schema-editor/inputs.tsx
  apps/site/src/components/entity-types/schema-editor/schema-editor-reducer.ts
  apps/site/src/components/entity-types/schema-editor/schema-editor.tsx
  apps/site/src/components/entity-types/schema-editor/schema-properties-table.tsx
  apps/site/src/components/entity-types/schema-editor/schema-property-row.tsx
  apps/site/src/components/entity-types/schema-editor/schema-property-type-list.tsx
  apps/site/src/components/entity-types/schema-editor/sub-schema-item.tsx
  apps/site/src/components/pages/hub/block-data-container.tsx
  apps/site/src/lib/api/model/entity-type.model.ts
  apps/site/src/lib/blocks.ts
  apps/site/src/lib/json-schema.ts
  apps/site/src/pages/[shortname]/types/[title].page.tsx
  apps/site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  apps/site/src/pages/api/types/[id]/update.api.ts
  libs/@blockprotocol/core/package.json
  libs/@blockprotocol/core/src/types.ts
  libs/@blockprotocol/graph/src/graph-block-handler.ts
  libs/@blockprotocol/graph/src/types/block-graph.ts
  libs/@blockprotocol/graph/src/types/ontology/entity-type.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore.ts
  patches/ajv+8.11.2.patch
Labels: area: dependencies, app: site, lib: mock-block-dock, lib: @Þ/core, lib: @Þ/graph, area: apps, area: libs

#933 Implement "change payment method" settings panel
  apps/site/package.json
  apps/site/src/components/icons/cc-amex-icon.tsx
  apps/site/src/components/icons/cc-discover-icon.tsx
  apps/site/src/components/icons/cc-jcb-icon.tsx
  apps/site/src/components/icons/cc-mastercard-icon.tsx
  apps/site/src/components/icons/cc-visa-icon.tsx
  apps/site/src/components/icons/circle-exclamation-regular-icon.tsx
  apps/site/src/components/icons/credit-card-solid.tsx
  apps/site/src/components/page-sidebar.tsx
  apps/site/src/components/pages/blocks/block-form-styles.tsx
  apps/site/src/components/pages/blocks/publish-block-card.tsx
  apps/site/src/components/pages/hub/block-data-tab-panels.tsx
  apps/site/src/lib/internal-api-client.ts
  apps/site/src/pages/settings/[[...slugs]].page.tsx
  apps/site/src/pages/settings/billing-settings-panel/add-payment-method-form.tsx
  apps/site/src/pages/settings/billing-settings-panel/billing-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/billing-page-context.tsx
  apps/site/src/pages/settings/billing-settings-panel/billing-settings-panel.tsx
  apps/site/src/pages/settings/billing-settings-panel/card-details-panel-page.tsx
  apps/site/src/pages/settings/billing-settings-panel/card-logo-icon.tsx
  apps/site/src/pages/settings/billing-settings-panel/payment-method.tsx
  apps/site/src/pages/settings/billing-settings-panel/payment-methods.tsx
  apps/site/src/pages/settings/billing/upgrade/create-subscription-form.tsx
  apps/site/src/pages/settings/billing/upgrade/index.page.tsx
  apps/site/src/pages/shared/subscription-utils.tsx
  apps/site/src/theme/components/data-display/mui-list-item-button-theme-options.ts
  apps/site/src/theme/components/index.ts
  apps/site/src/theme/components/navigation/mui-menu-item-theme-options.ts
  apps/site/src/theme/components/navigation/mui-menu-theme-options.ts
  apps/site/src/theme/palette.ts
  apps/site/theme-override.d.ts
  libs/@local/internal-api-client-generator/typescript/api.ts
  yarn.lock
Labels: area: dependencies, app: site, area: infra, lib: @local/*, area: apps, area: libs

#935 Update FAQs
  .github/licenses/LICENSE-AGPL.md
  .github/licenses/LICENSE-ELASTIC.md
  LICENSE.md
  README.md
  apps/site/src/_pages/docs/5_faq.mdx
Labels: app: site, area: infra, area: apps, area: docs

#948 Fix bugs in the Graph service stdlib
  libs/@blockprotocol/graph/src/stdlib/subgraph/edge/link-entity.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/element/entity.ts
  libs/@blockprotocol/graph/src/types/entity.ts
  libs/@blockprotocol/graph/src/types/subgraph.ts
  libs/@blockprotocol/graph/src/types/temporal-versioning.ts
  libs/mock-block-dock/src/datastore/traverse.ts
Labels: lib: mock-block-dock, lib: @Þ/graph, area: libs

#949 Temporarily remove pagination from `aggregate*` methods
  libs/@blockprotocol/graph/src/types/entity.ts
  libs/@blockprotocol/graph/src/types/ontology/entity-type.ts
  libs/mock-block-dock/src/util.ts
Labels: lib: mock-block-dock, lib: @Þ/graph, area: libs

#950 Fix signup page icon size in Firefox
  apps/site/src/components/screens/signup-screen.tsx
Labels: app: site, area: apps

#951 Replace GitHub with Drupal in WP voting widget
  apps/site/src/components/icons/drupal-icon.tsx
  apps/site/src/components/pages/wordpress/voting/applications.tsx
  apps/site/src/pages/api/vote-application.api.ts
Labels: app: site, area: apps

#947 Update block hash
  hub/@alfie/github-pr-overview.json
  hub/@hash/callout.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/shuffle.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@thehabbos007/calculation.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
  hub/@tldraw/drawing.json
Labels: area: hub

#955 Fix create and update entity type messages
  libs/@blockprotocol/graph/src/types/ontology/entity-type.ts
Labels: lib: @Þ/graph, area: libs

#956 Remove type-system dependency from core
  libs/@blockprotocol/core/package.json
  libs/@blockprotocol/core/src/types.ts
Labels: lib: @Þ/core, area: libs

#957 Add default to 'exports' paths in @blockprotocol/core
  libs/@blockprotocol/core/package.json
Labels: area: dependencies, app: site, area: hub, area: infra, lib: blockprotocol, lib: create-block-app, lib: mock-block-dock, lib: @local/*, lib: @Þ/core, lib: @Þ/graph, lib: block-template-react, lib: block-template-custom-element, lib: @Þ/hook, lib: block-scripts, area: apps, area: docs, area: libs

#945 Add "Change payment method" modal to upgrade subscription page
  apps/site/src/components/icons/cc-diners-icon.tsx
  apps/site/src/pages/settings/billing-settings-panel/add-payment-method-form.tsx
  apps/site/src/pages/settings/billing-settings-panel/billing-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/card-logo-icon.tsx
  apps/site/src/pages/settings/billing-settings-panel/payment-method.tsx
  apps/site/src/pages/settings/billing-settings-panel/payment-methods.tsx
  apps/site/src/pages/settings/billing/upgrade/change-payment-method-modal.tsx
  apps/site/src/pages/settings/billing/upgrade/index.page.tsx
Labels: app: site, area: apps

#958 Update 'main' config in package
  libs/@blockprotocol/core/package.json
Labels: lib: @Þ/core, area: libs

#959 Remove export paths from core
  libs/@blockprotocol/core/package.json
  libs/@blockprotocol/graph/src/react.ts
  libs/@blockprotocol/hook/src/react.ts
  libs/@local/eslint-config/index.js
Labels: lib: @local/*, lib: @Þ/core, lib: @Þ/graph, lib: @Þ/hook, area: libs

#953 Support namespaced block names when publishing
  .changeset/nice-paws-end.md
  .changeset/rude-carpets-deliver.md
  apps/site/src/_pages/docs/1_developing-blocks.mdx
  apps/site/src/pages/api/blocks/create.api.ts
  apps/site/src/pages/api/blocks/publish.api.ts
  apps/site/src/pages/api/blocks/update.api.ts
  libs/block-template-custom-element/README.md
  libs/block-template-react/README.md
  libs/blockprotocol/cli/commands/publish.js
  libs/blockprotocol/cli/commands/publish/find-api-key.js
Labels: app: site, lib: blockprotocol, lib: block-template-react, lib: block-template-custom-element, area: apps, area: docs, area: libs

#925 Version Packages
  .changeset/loud-chicken-count.md
  .changeset/lovely-ducks-relax.md
  .changeset/nice-paws-end.md
  .changeset/rude-carpets-deliver.md
  .changeset/rude-queens-dance.md
  .changeset/silver-dogs-march.md
  .changeset/sour-cobras-lay.md
  apps/site/package.json
  libs/@blockprotocol/core/CHANGELOG.md
  libs/@blockprotocol/core/package.json
  libs/@blockprotocol/graph/CHANGELOG.md
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/hook/CHANGELOG.md
  libs/@blockprotocol/hook/package.json
  libs/@blockprotocol/type-system/CHANGELOG.md
  libs/@blockprotocol/type-system/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/blockprotocol/CHANGELOG.md
  libs/blockprotocol/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: app: site, lib: blockprotocol, lib: mock-block-dock, lib: @Þ/core, lib: @Þ/graph, lib: block-template-react, lib: block-template-custom-element, lib: @Þ/hook, area: apps, area: libs

#964 Fix graph traversal
  libs/mock-block-dock/src/datastore/traverse.ts
Labels: lib: mock-block-dock, area: libs

#967 Fix `compareBounds`
  libs/@blockprotocol/graph/src/stdlib/bound.ts
  libs/mock-block-dock/src/mock-block-dock.tsx
Labels: lib: mock-block-dock, lib: @Þ/graph, area: libs

#973 Miscellaneous updates to the Graph service
  libs/@blockprotocol/graph/src/stdlib.ts
  libs/@blockprotocol/graph/src/stdlib/interval.ts
  libs/@blockprotocol/graph/src/stdlib/subgraph/edge/link-entity.ts
  libs/@blockprotocol/graph/src/types/ontology/metadata.ts
Labels: lib: @Þ/graph, area: libs

#975 Produce cjs bundle for the Graph
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/graph/rollup.config.js
  libs/@blockprotocol/graph/src/codegen.ts
  libs/mock-block-dock/src/mock-block-dock.tsx
  yarn.lock
Labels: area: dependencies, area: infra, lib: mock-block-dock, lib: @Þ/graph, area: libs

#976 Increase build heap size for Graph
  libs/@blockprotocol/graph/package.json
Labels: lib: @Þ/graph, area: libs

#971 Add statistics reporting to R2 block downloading
  infra/cloudflare-r2-wrangler/blockprotocol-preview/wrangler.toml
  infra/cloudflare-r2-wrangler/blockprotocol/wrangler.toml
  infra/cloudflare-r2-wrangler/index.js
Labels: area: infra

#977 Remove defaults for CF worker variables
  infra/cloudflare-r2-wrangler/blockprotocol-preview/wrangler.toml
  infra/cloudflare-r2-wrangler/blockprotocol/wrangler.toml
Labels: area: infra

#972 Remove drawing block from `/hub`
  hub/@tldraw/drawing.json
Labels: area: hub

#978 CF worker ensure identifier is set
  infra/cloudflare-r2-wrangler/index.js
Labels: area: infra

#979 Update aggregations syntax
  apps/site/public/types/services/graph/aggregation-operation.json
  libs/@blockprotocol/graph/src/shared.ts
  libs/@blockprotocol/graph/src/types/entity.ts
  libs/@blockprotocol/hook/README.md
  libs/@blockprotocol/hook/src/react.ts
  libs/@blockprotocol/hook/src/types.ts
  libs/mock-block-dock/dev/dev-app.tsx
  libs/mock-block-dock/dev/test-react-block.tsx
  libs/mock-block-dock/src/data/property-types.ts
  libs/mock-block-dock/src/hook-portals.tsx
  libs/mock-block-dock/src/util.ts
Labels: app: site, lib: mock-block-dock, lib: @Þ/graph, lib: @Þ/hook, area: apps, area: libs

#980 Remove GitHub PR overview block from `/hub`
  hub/@alfie/github-pr-overview.json
Labels: area: hub

#984 Add last used origin to API key usage
  apps/site/src/lib/api/middleware/has-valid-api-key.middleware.ts
  apps/site/src/lib/api/model/api-key.model.ts
  apps/site/src/pages/settings/api-keys.page.tsx
  apps/site/src/util/usage.ts
Labels: app: site, area: apps

#968 Add stability notice for self-hosted HASH env
  apps/site/src/_pages/docs/3_using-blocks.mdx
Labels: app: site, area: apps, area: docs

#987 Make fields in `VersionedUri` public
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/uri/mod.rs
Labels: area: libs

#986 Update package READMEs
  libs/@blockprotocol/graph/README.md
  libs/@blockprotocol/graph/src/types/block-graph.ts
  libs/block-template-custom-element/README.md
  libs/block-template-html/README.md
  libs/block-template-react/README.md
  libs/mock-block-dock/README.md
Labels: lib: mock-block-dock, lib: @Þ/graph, lib: block-template-react, lib: block-template-html, lib: block-template-custom-element, area: libs

#970 Add verification badges to `Hub`
  apps/site/scripts/prepare-blocks.ts
  apps/site/src/components/block-card.tsx
  apps/site/src/components/icons/verified-checkmark-icon.tsx
  apps/site/src/components/verified-badge.tsx
  apps/site/src/lib/blocks.ts
  apps/site/src/pages/[shortname]/blocks/[block-slug].page.tsx
  hub/@hash/callout.json
  hub/@hash/code.json
  hub/@hash/divider.json
  hub/@hash/embed.json
  hub/@hash/header.json
  hub/@hash/image.json
  hub/@hash/paragraph.json
  hub/@hash/person.json
  hub/@hash/shuffle.json
  hub/@hash/table.json
  hub/@hash/video.json
  hub/@jmackie/quote.json
  hub/@kickstartds/button.json
  hub/@shinypb/emoji-trading-cards.json
  hub/@thehabbos007/calculation.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
Labels: app: site, area: hub, area: apps

#981 Replace entity type editor + API endpoints for new type system
  apps/site/next.config.js
  apps/site/package.json
  apps/site/scripts/create-db-indexes.ts
  apps/site/scripts/seed-db.ts
  apps/site/src/components/icons/pencil-simple-line.tsx
  apps/site/src/components/modal/create-schema-modal.tsx
  apps/site/src/components/module-message-list.tsx
  apps/site/src/components/pages/blocks/block-form-styles.tsx
  apps/site/src/components/pages/user/tab-panel-contents-with-overview.tsx
  apps/site/src/components/pages/user/tab-panel-contents-with-schemas.tsx
  apps/site/src/components/pages/user/user-page-component.tsx
  apps/site/src/lib/api-client.ts
  apps/site/src/lib/api/middleware/session.middleware.ts
  apps/site/src/lib/api/model/entity-type.model.ts
  apps/site/src/lib/api/model/user.model.ts
  apps/site/src/lib/config.ts
  apps/site/src/lib/json-schema.ts
  apps/site/src/middleware.page.ts
  apps/site/src/middleware.page/return-types-as-json.ts
  apps/site/src/pages/[shortname]/types/[title].page.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-edit-bar.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-form.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/fetch-entity-type.ts
  apps/site/src/pages/api/types/[id]/index.api.ts
  apps/site/src/pages/api/types/[id]/update.api.ts
  apps/site/src/pages/api/types/create.api.ts
  apps/site/src/pages/api/types/entity-type/aggregate.api.ts
  apps/site/src/pages/api/types/entity-type/create.api.ts
  apps/site/src/pages/api/types/entity-type/get.api.ts
  apps/site/src/pages/api/types/entity-type/shared/db.ts
  apps/site/src/pages/api/types/entity-type/shared/schema.ts
  apps/site/src/pages/api/types/entity-type/update.api.ts
  apps/site/src/pages/api/types/property-type/aggregate.api.ts
  apps/site/src/pages/api/types/property-type/create.api.ts
  apps/site/src/pages/api/types/property-type/get.api.ts
  apps/site/src/pages/api/types/property-type/shared/db.ts
  apps/site/src/pages/api/types/property-type/shared/schema.ts
  apps/site/src/pages/api/types/property-type/update.api.ts
  apps/site/src/pages/api/types/shared/constants.ts
  apps/site/src/pages/api/users/[shortname]/types/[title].api.ts
  apps/site/src/pages/api/users/[shortname]/types/entity-type/index.api.ts
  apps/site/src/pages/shared/schema.ts
  apps/site/src/pages/types/[entity-type-id].page.tsx
  libs/@blockprotocol/core/src/types.ts
  libs/@blockprotocol/graph/src/types/ontology/entity-type.ts
  libs/@blockprotocol/graph/src/types/ontology/property-type.ts
  libs/mock-block-dock/package.json
  yarn.lock
Labels: area: dependencies, app: site, area: infra, lib: mock-block-dock, lib: @Þ/core, lib: @Þ/graph, area: apps, area: libs

#988 Upload original tarballs alongside individual block files
  apps/site/src/lib/api/blocks/from-tarball.ts
  apps/site/src/lib/api/blocks/s3.ts
  apps/site/src/lib/s3.ts
Labels: app: site, area: apps

#992 Type System improvements
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/links/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/array/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/uri/wasm.rs
  libs/@blockprotocol/type-system/crate/src/utils.rs
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/book.json
  libs/@blockprotocol/type-system/test/entity-type.test.ts
Labels: area: libs

#994 Implement delete entity in MBD for non-temporally-versioned datastores
  libs/mock-block-dock/src/datastore/use-mock-datastore/non-temporal.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/temporal.ts
Labels: lib: mock-block-dock, area: libs

#997 Re-export central "type-system" elements from the Graph Module package
  apps/site/src/pages/api/types/entity-type/shared/db.ts
  apps/site/src/pages/api/types/property-type/shared/schema.ts
  libs/@blockprotocol/graph/src/non-temporal/main.ts
  libs/@blockprotocol/graph/src/shared/types/ontology/data-type.ts
  libs/@blockprotocol/graph/src/shared/types/ontology/entity-type.ts
  libs/@blockprotocol/graph/src/shared/types/ontology/property-type.ts
  libs/@blockprotocol/graph/src/temporal/main.ts
  libs/block-template-custom-element/package.json
  libs/block-template-custom-element/src/dev.tsx
  libs/block-template-react/package.json
  libs/block-template-react/src/dev.tsx
  libs/mock-block-dock/dev/dev-app.tsx
  libs/mock-block-dock/dev/test-custom-element-block.ts
  libs/mock-block-dock/dev/test-react-block.tsx
  libs/mock-block-dock/package.json
  libs/mock-block-dock/src/data/entities.ts
  libs/mock-block-dock/src/data/entity-types.ts
  libs/mock-block-dock/src/debug-view/dev-tools/entity-switcher.tsx
Labels: app: site, lib: mock-block-dock, lib: @Þ/graph, lib: block-template-react, lib: block-template-custom-element, area: apps, area: libs

#998 Update + fix block templates, schema -> TS codegen
  apps/site/src/pages/api/types/entity-type/shared/schema.ts
  libs/@blockprotocol/graph/src/non-temporal/custom-element.ts
  libs/@blockprotocol/graph/src/shared/codegen/entity-type-to-typescript.ts
  libs/@blockprotocol/graph/src/temporal/custom-element.ts
  libs/block-template-custom-element/package.json
  libs/block-template-custom-element/src/app.ts
  libs/block-template-custom-element/src/dev.tsx
  libs/block-template-custom-element/src/types.gen.ts
  libs/block-template-react/package.json
  libs/block-template-react/src/app.tsx
  libs/block-template-react/src/dev.tsx
  libs/block-template-react/src/types.gen.ts
Labels: app: site, lib: @Þ/graph, lib: block-template-react, lib: block-template-custom-element, area: apps, area: libs

#991 Make 0.3 blocks load in Block Hub
  apps/site/public/assets/type-editor.png
  apps/site/src/_pages/docs/0_index.mdx
  apps/site/src/_pages/docs/2_working-with-types.mdx
  apps/site/src/_pages/docs/3_using-blocks.mdx
  apps/site/src/components/pages/hub/block-data-container.tsx
  apps/site/src/components/pages/hub/sandboxed-block-demo.tsx
  apps/site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  libs/@blockprotocol/graph/package.json
Labels: app: site, lib: @Þ/graph, area: apps, area: docs, area: libs

#993 Fix access to block assets in a local S3 instance
  .github/workflows/ci.yml
  apps/site/README.md
  apps/site/scripts/reset-s3-bucket.ts
Labels: app: site, area: infra, area: apps

#1002 Better hub JSON editing. Bump code block. Docs fixes
  apps/site/src/_pages/docs/1_developing-blocks.mdx
  apps/site/src/components/pages/hub/json-editor.tsx
  apps/site/src/styles/prism.css
  hub/@hash/code.json
Labels: app: site, area: hub, area: apps, area: docs

#1004 Fix mock-block-dock datastore visualization
  libs/mock-block-dock/src/debug-view/dev-tools/datastore-graph-visualization.tsx
Labels: lib: mock-block-dock, area: libs

#1007 Fix type links
  apps/site/src/components/pages/dashboard/utils.ts
  apps/site/src/components/pages/user/tab-panel-contents-with-overview.tsx
  apps/site/tests/integration/accountpage.test.ts
  apps/site/tests/integration/dashboard.test.ts
Labels: app: site, area: apps

#1005 Improve ergonomics of buildSubgraph
  libs/@blockprotocol/graph/src/non-temporal/main.ts
  libs/@blockprotocol/graph/src/non-temporal/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/builder.ts
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/vertex-id-for-element.ts
  libs/@blockprotocol/graph/src/temporal/stdlib.ts
  libs/mock-block-dock/src/debug-view/dev-tools/datastore-graph-visualization.tsx
Labels: lib: mock-block-dock, lib: @Þ/graph, area: libs

#1008 Fix entity default schema
  apps/site/src/pages/api/types/entity-type/shared/schema.ts
Labels: app: site, area: apps

#1009 Small fixes
  libs/@blockprotocol/graph/package.json
  libs/block-template-custom-element/src/app.ts
  libs/block-template-react/src/app.tsx
Labels: lib: @Þ/graph, lib: block-template-react, lib: block-template-custom-element, area: libs

#1001 Prepare several blocks for republishing
  hub/@hash/callout.json
  hub/@hash/divider.json
  hub/@hash/header.json
  hub/@hash/paragraph.json
  hub/@hash/table.json
  hub/@timdiekmann/countdown.json
  hub/@timdiekmann/timer.json
Labels: area: hub

#974 Add Mapbox Static Maps API calls to subscription info
  apps/site/src/pages/settings/billing-settings-panel/free-or-hobby-subscription-tier-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/pro-subscription-tier-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/subscription-feature-list-item.tsx
Labels: app: site, area: apps

#1011 Add `additionalProperties: false` to property type objects
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/repr.rs
  libs/@blockprotocol/type-system/crate/tests/data/property_type/contact_information.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/interests.json
  libs/@blockprotocol/type-system/test/entity-type.test.ts
  libs/@blockprotocol/type-system/test/property-type.test.ts
Labels: area: libs

#954 `@blockprotocol/service` package with mapbox method definitions
  apps/site/package.json
  apps/site/src/components/pages/hub/sandboxed-block-demo.tsx
  libs/@blockprotocol/service/.eslintrc.cjs
  libs/@blockprotocol/service/LICENSE.md
  libs/@blockprotocol/service/README.md
  libs/@blockprotocol/service/package.json
  libs/@blockprotocol/service/src/index.ts
  libs/@blockprotocol/service/src/mapbox-types.ts
  libs/@blockprotocol/service/src/react.ts
  libs/@blockprotocol/service/src/scripts/generate-service-module-json.ts
  libs/@blockprotocol/service/src/service-block-handler.ts
  libs/@blockprotocol/service/src/service-embedder-handler.ts
  libs/@blockprotocol/service/src/service-module-json.ts
  libs/@blockprotocol/service/src/service-module.json
  libs/@blockprotocol/service/src/types.ts
  libs/@blockprotocol/service/tsconfig.json
  libs/@local/package-chores/package.json
  libs/block-scripts/package.json
  yarn.lock
Labels: area: dependencies, app: site, area: infra, lib: @local/*, lib: block-scripts, area: apps, area: libs

#1013 Fix missing generic in export
  libs/@blockprotocol/graph/src/temporal/main.ts
Labels: lib: @Þ/graph, area: libs

#966 Add `@blockprotocol/service` to `mock-block-dock`
  apps/site/package.json
  apps/site/src/pages/api/external-service-method.api.ts
  libs/@blockprotocol/graph/src/non-temporal/main.ts
  libs/@local/internal-api-client-generator/typescript/api.ts
  libs/@local/internal-api-client-generator/typescript/package.json
  libs/mock-block-dock/dev/dev-app.tsx
  libs/mock-block-dock/dev/test-react-block.tsx
  libs/mock-block-dock/dev/webpack.config.js
  libs/mock-block-dock/package.json
  libs/mock-block-dock/src/mock-block-dock.tsx
  libs/mock-block-dock/src/service-module-callbacks.ts
  yarn.lock
Labels: area: dependencies, app: site, area: infra, lib: mock-block-dock, lib: @local/*, lib: @Þ/graph, area: apps, area: libs

#1012 Fix entity type updates
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
Labels: app: site, area: apps

#1014 Implement block metadata API endpoint
  apps/site/next.config.js
  apps/site/src/pages/api/rewrites/block-metadata.api.ts
Labels: app: site, area: apps

#1016 Set CORS when serving `block-metadata.json`
  apps/site/src/pages/api/rewrites/block-metadata.api.ts
Labels: app: site, area: apps

#1006 Register callbacks before initializing core handler
  libs/@blockprotocol/core/src/module-handler.ts
Labels: lib: @Þ/core, area: libs

#1018 Fix HTML block in mock-block-dock
  libs/mock-block-dock/dev/test-html-block/block.js
  libs/mock-block-dock/src/mock-block-dock.tsx
Labels: lib: mock-block-dock, area: libs

#1022 Set a max-length on URL
  libs/@blockprotocol/type-system/crate/src/ontology/url/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/url/mod.rs
  libs/@blockprotocol/type-system/src/native/url.ts
  rfcs/text/0408-versioning-types.md
Labels: area: rfcs, area: libs

#1023 Fix formatting
  libs/@blockprotocol/type-system/crate/src/ontology/url/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/url/mod.rs
Labels: area: libs

#1017 Add OpenAI `createImage` and `completeText` methods to service module
  libs/@blockprotocol/service/package.json
  libs/@blockprotocol/service/src/openai-types.ts
  libs/@blockprotocol/service/src/scripts/generate-service-module-json.ts
  libs/@blockprotocol/service/src/service-block-handler.ts
  libs/@blockprotocol/service/src/service-module.json
  libs/@blockprotocol/service/src/types.ts
  libs/@local/internal-api-client-generator/typescript/api.ts
  yarn.lock
Labels: area: dependencies, area: infra, lib: @local/*, area: libs

#1024 Fix TypeScript and linting errors in 0.3
  .github/workflows/ci.yml
  apps/site/package.json
  apps/site/src/components/mdx/hook-module-message-list.tsx
  apps/site/src/components/pages/hub/block-data-container.tsx
  apps/site/src/components/pages/hub/hub-utils.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-form.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/fetch-entity-type.ts
  apps/site/tests/integration/schemapage.test.ts
  apps/site/tests/shared/schemas.ts
  libs/@blockprotocol/service/src/types.ts
  libs/block-scripts/tsconfig.json
  libs/mock-block-dock/dev/test-react-block.tsx
  libs/mock-block-dock/package.json
  libs/mock-block-dock/src/debug-view/dev-tools/datastore-graph-visualization.tsx
  libs/mock-block-dock/src/mock-block-dock.tsx
  libs/mock-block-dock/src/service-module-callbacks.ts
  patches/echarts+5.3.3.patch
  yarn.lock
Labels: area: dependencies, app: site, area: infra, lib: mock-block-dock, lib: block-scripts, area: apps, area: libs

#1026 Add OpenAI methods to MBD
  libs/mock-block-dock/dev/test-react-block.tsx
  libs/mock-block-dock/src/service-module-callbacks.ts
Labels: lib: mock-block-dock, area: libs

#1027 Don't wipe R2 folders when uploading new block files
  apps/site/src/lib/api/blocks/s3.ts
Labels: app: site, area: apps

#1028 Make blockEntitySubgraph required in graph properties sent to block
  libs/@blockprotocol/core/src/react.ts
  libs/@blockprotocol/graph/src/non-temporal/custom-element.ts
  libs/@blockprotocol/graph/src/non-temporal/graph-embedder-handler.ts
  libs/@blockprotocol/graph/src/non-temporal/main.ts
  libs/@blockprotocol/graph/src/non-temporal/react.ts
  libs/@blockprotocol/graph/src/temporal/custom-element.ts
  libs/@blockprotocol/graph/src/temporal/graph-embedder-handler.ts
  libs/@blockprotocol/graph/src/temporal/main.ts
  libs/@blockprotocol/graph/src/temporal/react.ts
  libs/block-template-react/src/app.tsx
  libs/mock-block-dock/dev/test-react-block.tsx
Labels: lib: mock-block-dock, lib: @Þ/core, lib: @Þ/graph, lib: block-template-react, area: libs

#1025 Fix turbo pipeline
  apps/site/src/middleware.page/return-types-as-json.ts
  libs/@blockprotocol/service/package.json
  libs/@blockprotocol/service/src/mapbox-types.ts
  libs/mock-block-dock/package.json
  package.json
  turbo.json
  yarn.lock
Labels: area: dependencies, app: site, area: infra, lib: mock-block-dock, area: apps, area: libs

#1032 Save exact versions when adding dependencies. Pin react
  .npmrc
  apps/site/package.json
  apps/site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  libs/block-template-custom-element/package.json
  libs/block-template-react/package.json
  libs/mock-block-dock/package.json
  yarn.lock
Labels: area: dependencies, app: site, area: infra, lib: mock-block-dock, lib: block-template-react, lib: block-template-custom-element, area: apps, area: libs

#1033 Forward internal API errors for the `/external-service-method` route
  apps/site/src/pages/api/external-service-method.api.ts
  libs/@local/internal-api-client-generator/typescript/api.ts
Labels: app: site, lib: @local/*, area: apps, area: libs

#1029 Add API keys page navigation sidebar
  apps/site/src/components/page-sidebar.tsx
  apps/site/src/pages/settings/[[...slugs]].page.tsx
  apps/site/src/pages/settings/api-keys-settings-panel.tsx
Labels: app: site, area: apps

#1031 Update Graph Module specification
  apps/site/public/types/core/0.2/schema/service-meta.json
  apps/site/public/types/core/0.3/schema/module-meta.json
  apps/site/public/types/modules/graph/0.2/schema/aggregation-operation.json
  apps/site/public/types/modules/graph/0.2/schema/entity-type.json
  apps/site/public/types/modules/graph/0.2/schema/entity.json
  apps/site/public/types/modules/graph/0.2/schema/link-group.json
  apps/site/public/types/modules/graph/0.2/schema/link.json
  apps/site/public/types/modules/graph/0.2/schema/linked-aggregation-definition.json
  apps/site/public/types/modules/graph/0.3/schema/aggregation-operation.json
  apps/site/public/types/modules/graph/0.3/schema/base-url.json
  apps/site/public/types/modules/graph/0.3/schema/data-type-reference.json
  apps/site/public/types/modules/graph/0.3/schema/data-type.json
  apps/site/public/types/modules/graph/0.3/schema/entity-type-reference.json
  apps/site/public/types/modules/graph/0.3/schema/entity-type.json
  apps/site/public/types/modules/graph/0.3/schema/entity.json
  apps/site/public/types/modules/graph/0.3/schema/graph-resolve-depths.json
  apps/site/public/types/modules/graph/0.3/schema/partial-graph-resolve-depths.json
  apps/site/public/types/modules/graph/0.3/schema/property-type-object.json
  apps/site/public/types/modules/graph/0.3/schema/property-type-reference.json
  apps/site/public/types/modules/graph/0.3/schema/property-type.json
  apps/site/public/types/modules/graph/0.3/schema/versioned-url.json
  apps/site/src/_pages/docs/1_developing-blocks.mdx
  apps/site/src/_pages/docs/2_working-with-types.mdx
  apps/site/src/_pages/docs/4_spec/01_core.mdx
  apps/site/src/_pages/docs/4_spec/02_graph-module.mdx
  apps/site/src/components/mdx/mdx-components.tsx
  apps/site/src/components/mdx/modules/graph/graph-module-message-list.tsx
  apps/site/src/components/mdx/modules/graph/schemas/data-type.tsx
  apps/site/src/components/mdx/modules/graph/schemas/entity-type.tsx
  apps/site/src/components/mdx/modules/graph/schemas/entity.tsx
  apps/site/src/components/mdx/modules/graph/schemas/property-type.tsx
  apps/site/src/components/mdx/modules/hook/hook-module-message-list.tsx
  libs/@blockprotocol/graph/src/shared/codegen/entity-type-meta-schema.json
  rfcs/text/0352-graph-type-system.md
Labels: app: site, lib: @Þ/graph, area: rfcs, area: apps, area: docs, area: libs

#1034 Update Graph module schema specs
  apps/site/public/types/modules/graph/0.3/schema/aggregation-operation.json
  apps/site/public/types/modules/graph/0.3/schema/entity-id.json
  apps/site/public/types/modules/graph/0.3/schema/entity-metadata.json
  apps/site/public/types/modules/graph/0.3/schema/entity.json
  apps/site/public/types/modules/graph/0.3/schema/graph-resolve-depths.json
  apps/site/public/types/modules/graph/0.3/schema/link-data.json
  apps/site/public/types/modules/graph/0.3/schema/link-orders.json
  apps/site/public/types/modules/graph/0.3/schema/partial-graph-resolve-depths.json
  apps/site/public/types/modules/graph/0.3/schema/subgraph.json
  libs/@blockprotocol/graph/src/graph-module.json
Labels: app: site, lib: @Þ/graph, area: apps, area: libs

#1035 Type editor: indicate link entity types, bump version
  apps/site/package.json
  apps/site/src/components/icons/index.ts
  apps/site/src/components/icons/link-icon.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-form.tsx
  patches/react-hook-form+7.37.0.patch
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#1030 Add "Tax ID" field to billing page
  apps/site/src/lib/internal-api-client.ts
  apps/site/src/pages/settings/billing-settings-panel/billing-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/tax-id-section.tsx
  apps/site/src/pages/settings/billing-settings-panel/tax-id-types.ts
Labels: app: site, area: apps

#1037 Docs/spec: update hook service, cover block verification, update metadata type
  apps/site/public/types/modules/graph/0.3/schema/aggregation-operation.json
  apps/site/public/types/modules/graph/0.3/schema/entity-metadata.json
  apps/site/public/types/modules/graph/0.3/schema/graph-resolve-depths.json
  apps/site/public/types/modules/graph/0.3/schema/link-data.json
  apps/site/public/types/modules/graph/0.3/schema/partial-graph-resolve-depths.json
  apps/site/public/types/modules/graph/0.3/schema/subgraph.json
  apps/site/src/_pages/docs/1_developing-blocks.mdx
  apps/site/src/_pages/docs/4_spec/03_hook-module.mdx
  apps/site/src/_pages/docs/5_faq.mdx
  apps/site/src/components/module-message-list.tsx
  libs/@blockprotocol/core/src/types.ts
  libs/@blockprotocol/graph/src/graph-module.json
Labels: app: site, lib: @Þ/core, lib: @Þ/graph, area: apps, area: docs, area: libs

#1038 Fix type caching, metaschema fetching, error code. Change dashboard link
  apps/site/next.config.js
  apps/site/src/components/pages/dashboard/utils.ts
  apps/site/src/components/pages/user/tab-panel-contents-with-overview.tsx
  apps/site/src/pages/[shortname]/[[...profile-tabs]].page.tsx
  apps/site/src/pages/dashboard/[[...slugs]].page.tsx
  apps/site/tests/integration/dashboard.test.ts
  apps/site/tests/integration/schema-creation.test.ts
  libs/@blockprotocol/core/src/types.ts
  libs/@blockprotocol/type-system/src/native/url.ts
Labels: app: site, lib: @Þ/core, area: apps, area: libs

#1039 Rename 'aggregate' and 'aggregation' to 'query'
  apps/site/public/types/modules/graph/0.3/schema/query-operation.json
  apps/site/src/_pages/docs/1_developing-blocks.mdx
  apps/site/src/_pages/docs/4_spec/99_rfcs_and_roadmap.mdx
  apps/site/src/lib/api-client.ts
  apps/site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  apps/site/src/pages/api/types/entity-type/query.api.ts
  apps/site/src/pages/api/types/property-type/query.api.ts
  libs/@blockprotocol/graph/src/graph-module.json
  libs/@blockprotocol/graph/src/non-temporal/graph-block-handler.ts
  libs/@blockprotocol/graph/src/non-temporal/graph-embedder-handler.ts
  libs/@blockprotocol/graph/src/non-temporal/main.ts
  libs/@blockprotocol/graph/src/shared/types.ts
  libs/@blockprotocol/graph/src/shared/types/block-graph.ts
  libs/@blockprotocol/graph/src/shared/types/entity.ts
  libs/@blockprotocol/graph/src/shared/types/linked-aggregation.ts
  libs/@blockprotocol/graph/src/shared/types/ontology/entity-type.ts
  libs/@blockprotocol/graph/src/shared/types/ontology/property-type.ts
  libs/@blockprotocol/graph/src/temporal/graph-block-handler.ts
  libs/@blockprotocol/graph/src/temporal/graph-embedder-handler.ts
  libs/@blockprotocol/graph/src/temporal/main.ts
  libs/block-template-custom-element/src/dev.tsx
  libs/block-template-html/dev/index.html
  libs/block-template-react/src/dev.tsx
  libs/mock-block-dock/README.md
  libs/mock-block-dock/src/data/index.ts
  libs/mock-block-dock/src/data/linked-aggregation-definitions.ts
  libs/mock-block-dock/src/datastore/hook-implementations/entity/query-entities.ts
  libs/mock-block-dock/src/datastore/mock-data.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/non-temporal.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/temporal.ts
  libs/mock-block-dock/src/mock-block-dock.tsx
  libs/mock-block-dock/src/use-mock-block-props.ts
  libs/mock-block-dock/src/util.ts
Labels: app: site, lib: mock-block-dock, lib: @Þ/graph, lib: block-template-react, lib: block-template-html, lib: block-template-custom-element, area: apps, area: docs, area: libs

#1041 Remove `additionalProperties` from Entity Type and Property Type schemas
  apps/site/public/types/modules/graph/0.3/schema/entity-type.json
  apps/site/public/types/modules/graph/0.3/schema/property-type.json
  apps/site/src/middleware.page/return-types-as-json/hardcoded-types.ts
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-form.tsx
  apps/site/src/pages/api/types/entity-type/shared/db.ts
  apps/site/src/pages/api/types/entity-type/shared/schema.ts
  apps/site/src/pages/api/types/property-type/shared/db.ts
  apps/site/src/pages/api/types/shared/constants.ts
  apps/site/src/pages/api/types/shared/temp-patch.ts
  libs/@blockprotocol/graph/src/shared/codegen/entity-type-meta-schema.json
  libs/@blockprotocol/graph/src/shared/codegen/entity-type-to-typescript.ts
  libs/@blockprotocol/graph/src/shared/codegen/hardcoded-bp-types.ts
  libs/@blockprotocol/graph/src/shared/types/ontology/entity-type.ts
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/shared/object/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/url/mod.rs
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/address.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/block.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/book.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/building.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/organization.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/page.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/person.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/playlist.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/song.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/contact_information.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/interests.json
  libs/@blockprotocol/type-system/test/entity-type.test.ts
  libs/@blockprotocol/type-system/test/property-type.test.ts
  libs/mock-block-dock/src/data/entity-types.ts
Labels: app: site, lib: mock-block-dock, lib: @Þ/graph, area: apps, area: libs

#1042 Patch link type
  apps/site/src/middleware.page/return-types-as-json.ts
  apps/site/src/middleware.page/return-types-as-json/hardcoded-types.ts
Labels: app: site, area: apps

#1040 Improve developing blocks guide
  apps/site/src/_pages/docs/1_developing-blocks.mdx
Labels: app: site, area: apps, area: docs

#1036 Fix integration tests
  apps/site/src/components/module-message-list.tsx
  apps/site/tests/integration/api-keys.test.ts
  apps/site/tests/integration/blockpage.test.ts
  apps/site/tests/integration/docs.test.ts
  apps/site/tests/integration/homepage.test.ts
  apps/site/tests/integration/schema-creation.test.ts
  apps/site/tests/integration/schemapage.test.ts
  apps/site/tests/shared/schemas.ts
  apps/site/tests/universal/blockpage.test.ts
Labels: app: site, area: apps

#1043 Bump Type Editor version
  apps/site/package.json
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page.tsx
  apps/site/src/pages/[shortname]/types/entity-type/[...slug-maybe-version].page/entity-type-form.tsx
  apps/site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  apps/site/src/pages/api/types/entity-type/shared/db.ts
  apps/site/src/pages/api/types/property-type/shared/db.ts
  apps/site/src/pages/api/types/shared/temp-patch.ts
  yarn.lock
Labels: area: dependencies, app: site, area: infra, area: apps

#1046 Correct 'schema' to 'entity type' in copy, fix schema creation test
  apps/site/src/components/pages/user/placeholder-buttons.tsx
  apps/site/src/components/pages/user/placeholder.tsx
  apps/site/src/components/pages/user/tab-panel-contents-with-overview.tsx
  apps/site/src/components/pages/user/tab-panel-contents-with-schemas.tsx
  apps/site/tests/integration/accountpage.test.ts
  apps/site/tests/integration/schema-creation.test.ts
Labels: app: site, area: apps

#1045 Add "Payment History" section to the billing page
  apps/site/src/lib/internal-api-client.ts
  apps/site/src/pages/settings/billing-settings-panel/billing-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/payment-history-section.tsx
  apps/site/src/pages/settings/billing-settings-panel/tax-id-section.tsx
  apps/site/src/pages/shared/subscription-utils.tsx
  libs/@local/internal-api-client-generator/typescript/api.ts
Labels: app: site, lib: @local/*, area: apps, area: libs

#936 Remove hub directory (switch to publishing blocks via API)
  .gitignore
  .markdownlintignore
  .prettierignore
  apps/site/.nycrc.json
  apps/site/README.md
  apps/site/scripts/build.ts
  apps/site/scripts/codegen.ts
  apps/site/scripts/copy-blocks-from-ci-cache.ts
  apps/site/scripts/copy-blocks-to-ci-cache.ts
  apps/site/scripts/generate-blocks-data.ts
  apps/site/scripts/make-block-assets-compatible-with-vercel-lambdas.ts
  apps/site/scripts/mirror-blocks-from-production-deployment.ts
  apps/site/scripts/prepare-blocks.ts
  apps/site/scripts/seed-db.ts
  apps/site/src/lib/api/blocks/get.ts
  apps/site/src/lib/blocks.ts
  apps/site/tests/integration/accountpage.test.ts
  apps/site/tests/integration/blockpage.test.ts
  apps/site/tests/integration/homepage.test.ts
  apps/site/tests/integration/hubpage.test.ts
  apps/site/tests/shared/fixtures.ts
  apps/site/tests/shared/wrapped-playwright.ts
  hub/@hash/code.json
  hub/@hash/embed.json
  hub/@hash/image.json
  hub/@hash/person.json
  hub/@hash/shuffle.json
  hub/@hash/video.json
  hub/@jmackie/quote.json
  hub/@kickstartds/button.json
  hub/@shinypb/emoji-trading-cards.json
  hub/@thehabbos007/calculation.json
  hub/README.md
  turbo.json
Labels: app: site, area: hub, area: infra, area: apps

#1047 Add support for user-defined overage limiting
  apps/site/src/lib/api-client.ts
  apps/site/src/lib/api/model/user.model.ts
  apps/site/src/pages/api/set-usage-limit.api.ts
  apps/site/src/pages/settings/billing-settings-panel/billing-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/tax-id-section.tsx
  apps/site/src/pages/settings/billing-settings-panel/usage-limit-section.tsx
  apps/site/src/pages/shared/subscription-utils.tsx
Labels: app: site, area: apps

#1048 Bug fixes: Dock environment variables and default entity. Schema code generator. Use production Thing type
  apps/site/src/_pages/docs/2_working-with-types.mdx
  libs/@blockprotocol/graph/src/shared/codegen/entity-type-meta-schema.json
  libs/block-template-custom-element/package.json
  libs/block-template-custom-element/src/app.ts
  libs/block-template-custom-element/src/dev.tsx
  libs/block-template-custom-element/src/types.gen.ts
  libs/block-template-react/package.json
  libs/block-template-react/src/app.tsx
  libs/block-template-react/src/dev.tsx
  libs/block-template-react/src/types.gen.ts
  libs/mock-block-dock/dev/dev-app.tsx
  libs/mock-block-dock/src/mock-block-dock.tsx
  libs/mock-block-dock/src/service-module-callbacks.ts
  libs/mock-block-dock/src/use-mock-block-props.ts
Labels: app: site, lib: mock-block-dock, lib: @Þ/graph, lib: block-template-react, lib: block-template-custom-element, area: apps, area: docs, area: libs

#1053 Require `$schema` in ontology types
  apps/site/public/types/modules/graph/0.2/schema/entity-type.json
  apps/site/public/types/modules/graph/0.3/schema/data-type.json
  apps/site/public/types/modules/graph/0.3/schema/entity-type.json
  apps/site/src/middleware.page/return-types-as-json/hardcoded-types.ts
  apps/site/src/pages/api/types/entity-type/shared/schema.ts
  apps/site/src/pages/api/types/property-type/shared/schema.ts
  apps/site/src/pages/api/types/shared/constants.ts
  libs/@blockprotocol/graph/src/non-temporal/main.ts
  libs/@blockprotocol/graph/src/shared/codegen/hardcoded-bp-types.ts
  libs/@blockprotocol/graph/src/shared/types/ontology/entity-type.ts
  libs/@blockprotocol/graph/src/shared/types/ontology/property-type.ts
  libs/@blockprotocol/graph/src/temporal/main.ts
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/data_type/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/entity_type/repr.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/error.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/mod.rs
  libs/@blockprotocol/type-system/crate/src/ontology/property_type/repr.rs
  libs/@blockprotocol/type-system/crate/tests/data/data_type/boolean.json
  libs/@blockprotocol/type-system/crate/tests/data/data_type/empty_list.json
  libs/@blockprotocol/type-system/crate/tests/data/data_type/null.json
  libs/@blockprotocol/type-system/crate/tests/data/data_type/number.json
  libs/@blockprotocol/type-system/crate/tests/data/data_type/object_v1.json
  libs/@blockprotocol/type-system/crate/tests/data/data_type/text.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/address.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/block.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/book.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/building.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/organization.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/page.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/person.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/playlist.json
  libs/@blockprotocol/type-system/crate/tests/data/entity_type/song.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/age.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/contact_information.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/contrived_property.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/favorite_quote.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/interests.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/name.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/numbers.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/text.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/user_id_v1.json
  libs/@blockprotocol/type-system/crate/tests/data/property_type/user_id_v2.json
  libs/@blockprotocol/type-system/src/native.ts
  libs/@blockprotocol/type-system/src/native/data-type.ts
  libs/@blockprotocol/type-system/src/native/entity-type.ts
  libs/@blockprotocol/type-system/src/native/property-type.ts
  libs/@blockprotocol/type-system/test/data-type.test.ts
  libs/@blockprotocol/type-system/test/entity-type.test.ts
  libs/@blockprotocol/type-system/test/property-type.test.ts
  libs/mock-block-dock/src/data/entity-types.ts
  libs/mock-block-dock/src/data/property-types.ts
Labels: app: site, lib: mock-block-dock, lib: @Þ/graph, area: apps, area: libs

#1054 External service error handling
  apps/site/src/components/pages/dashboard/utils.ts
  apps/site/src/pages/api/external-service-method.api.ts
  libs/@blockprotocol/service/src/service-block-handler.ts
  libs/@blockprotocol/service/src/types.ts
  libs/blockprotocol/cli/commands/publish.js
  libs/mock-block-dock/src/service-module-callbacks.ts
Labels: app: site, lib: blockprotocol, lib: mock-block-dock, area: apps, area: libs

#962 Add legal pages (1 of 2)
  apps/site/src/_pages/legal/0_index.mdx
  apps/site/src/_pages/legal/acceptable-use/0_index.mdx
  apps/site/src/_pages/legal/acceptable-use/10_reports.mdx
  apps/site/src/_pages/legal/acceptable-use/11_appeals.mdx
  apps/site/src/_pages/legal/acceptable-use/1_malware.mdx
  apps/site/src/_pages/legal/acceptable-use/2_bullying.mdx
  apps/site/src/_pages/legal/acceptable-use/3_disruption.mdx
  apps/site/src/_pages/legal/acceptable-use/4_doxxing.mdx
  apps/site/src/_pages/legal/acceptable-use/5_discrimination.mdx
  apps/site/src/_pages/legal/acceptable-use/6_impersonation.mdx
  apps/site/src/_pages/legal/acceptable-use/7_veracity.mdx
  apps/site/src/_pages/legal/acceptable-use/8_obscenity.mdx
  apps/site/src/_pages/legal/acceptable-use/9_violence.mdx
  apps/site/src/_pages/legal/community/0_index.mdx
  apps/site/src/_pages/legal/privacy/0_index.mdx
  apps/site/src/_pages/legal/privacy/1_private-information-removal.mdx
  apps/site/src/_pages/legal/privacy/2_user-data-legal-requests.mdx
  apps/site/src/_pages/legal/privacy/3_cookies.mdx
  apps/site/src/_pages/legal/privacy/4_subprocessors.mdx
  apps/site/src/_pages/legal/terms-corporate/0_index.mdx
  apps/site/src/_pages/legal/terms/0_index.mdx
  apps/site/src/_pages/legal/terms/1_product.mdx
  apps/site/src/_pages/legal/terms/dpa/0_index.mdx
Labels: app: site, area: apps

#1056 Fix broken codegen meta-schema
  libs/@blockprotocol/graph/src/shared/codegen/entity-type-meta-schema.json
Labels: lib: @Þ/graph, area: libs

#1052 Forward `x-vercel-ip-country` on internal API requests
  apps/site/src/pages/api/external-service-method.api.ts
Labels: app: site, area: apps

#1064 Fix `data-type` meta schema definition
  apps/site/public/types/modules/graph/0.3/schema/data-type.json
Labels: app: site, area: apps

#1065 Fix misspelled `schema` in property type meta schema
  apps/site/public/types/modules/graph/0.3/schema/property-type.json
Labels: app: site, area: apps

#1067 Further external service error tweaks
  apps/site/src/pages/api/external-service-method.api.ts
Labels: app: site, area: apps

#1003 Update `Þ Hub` homepage
  apps/site/next.config.js
  apps/site/public/assets/background-corner-blocks.png
  apps/site/public/assets/hub-gradient.svg
  apps/site/src/components/block-card.tsx
  apps/site/src/components/footer-banner.tsx
  apps/site/src/components/icons/binary-sharp-icon.tsx
  apps/site/src/components/icons/fa/binary.ts
  apps/site/src/components/icons/fa/boxes-stacked.ts
  apps/site/src/components/icons/index.ts
  apps/site/src/components/pages/hub/hub-utils.tsx
  apps/site/src/components/pages/hub/hub.tsx
  apps/site/src/components/pages/wordpress/why-install.tsx
  apps/site/src/lib/api/blocks/get.ts
  apps/site/src/pages/hub.page.tsx
  apps/site/src/theme/components/inputs/mui-button-theme-options.ts
  apps/site/src/theme/typography.ts
  apps/site/tests/integration/block-publish-npm.test.ts
  apps/site/tests/integration/hubpage.test.ts
  apps/site/tests/universal/page-header.test.ts
Labels: app: site, area: apps

#1066 Improve codegen and expose entity label utility
  libs/@blockprotocol/graph/src/non-temporal/stdlib.ts
  libs/@blockprotocol/graph/src/shared/codegen/entity-type-to-typescript.ts
  libs/@blockprotocol/graph/src/shared/codegen/hardcoded-bp-types.ts
  libs/@blockprotocol/graph/src/shared/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib/entity.ts
  libs/@blockprotocol/graph/src/temporal/stdlib.ts
  libs/block-template-react/src/types.gen.ts
  libs/mock-block-dock/src/debug-view/dev-tools/datastore-graph-visualization.tsx
Labels: lib: mock-block-dock, lib: @Þ/graph, lib: block-template-react, area: libs

#1069 Introduce hosted _Remote File_ entity type
  libs/@blockprotocol/graph/src/graph-module.json
  libs/@blockprotocol/graph/src/non-temporal/main.ts
  libs/@blockprotocol/graph/src/shared/types/block-graph.ts
  libs/@blockprotocol/graph/src/shared/types/file.ts
  libs/@blockprotocol/graph/src/temporal/main.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/non-temporal.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/temporal.ts
Labels: lib: mock-block-dock, lib: @Þ/graph, area: libs

#1063 Improve type naming consistency
  libs/@blockprotocol/graph/src/non-temporal/graph-block-handler.ts
  libs/@blockprotocol/graph/src/non-temporal/main.ts
  libs/@blockprotocol/graph/src/shared/types/block-graph.ts
  libs/@blockprotocol/graph/src/temporal/graph-block-handler.ts
  libs/@blockprotocol/graph/src/temporal/main.ts
  libs/@blockprotocol/service/src/service-block-handler.ts
  libs/@blockprotocol/service/src/service-embedder-handler.ts
  libs/@blockprotocol/service/src/types.ts
  libs/mock-block-dock/src/mock-block-dock.tsx
  libs/mock-block-dock/src/service-module-callbacks.ts
  libs/mock-block-dock/src/use-send-graph-value.ts
Labels: app: site, lib: mock-block-dock, lib: @Þ/graph, area: apps, area: libs

#1070 Allow a few more special characters in createSchemaModal
  apps/site/src/components/modal/create-schema-modal.tsx
Labels: app: site, area: apps

#1073 Update `MapboxRetrieveStaticMapResponseData` in `@blockprotocol/service`
  libs/@blockprotocol/service/src/types.ts
Labels: area: libs

#1068 Delist invoices for users with incomplete Stripe subscriptions
  apps/site/README.md
  apps/site/src/pages/settings/billing-settings-panel/billing-overview.tsx
  apps/site/src/pages/settings/billing-settings-panel/payment-history-section.tsx
  apps/site/src/pages/settings/billing-settings-panel/usage-limit-section.tsx
Labels: app: site, area: apps

#1021 Update HTML block template
  libs/block-template-html/block-metadata.json
  libs/block-template-html/block-schema.json
  libs/block-template-html/dev/index.html
  libs/block-template-html/package.json
  libs/block-template-html/src/app.html
  libs/block-template-html/src/app.js
Labels: lib: block-template-html, area: libs

#1076 Remove canary versions from `esm.sh` links
  libs/@blockprotocol/graph/src/non-temporal/main.ts
  libs/block-template-html/dev/index.html
  libs/block-template-html/src/app.js
  libs/mock-block-dock/dev/test-html-block/block.js
Labels: app: site, lib: mock-block-dock, lib: @Þ/graph, lib: block-template-html, area: apps, area: libs
