Repository blockprotocol/blockprotocol, pull requests merged in 2024-01, with the labels that each got.

#1353 H-1811: Add `requestLinkedQuery` to graph module
  .changeset/silent-bottles-float.md
  libs/@blockprotocol/graph/src/codegen/context/shared.ts
  libs/@blockprotocol/graph/src/non-temporal/graph-block-handler.ts
  libs/@blockprotocol/graph/src/shared/types/block-graph.ts
  libs/@blockprotocol/graph/src/temporal/graph-block-handler.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/non-temporal.ts
  libs/mock-block-dock/src/datastore/use-mock-datastore/temporal.ts
Labels: area: libs > mock-block-dock, area: libs > @Þ/graph, area: apps, area: libs

#1357 H-1864: Remove `completeText` from related BP packages
  .changeset/hot-boxes-occur.md
  .changeset/sixty-cars-share.md
  apps/site/src/pages/api/rewrites/sandboxed-block-demo.api.ts
  libs/@blockprotocol/service/src/scripts/generate-service-module-json.ts
  libs/@blockprotocol/service/src/service-block-handler.ts
  libs/@blockprotocol/service/src/service-module.json
  libs/@blockprotocol/service/src/types.ts
  libs/@local/internal-api-client-generator/typescript/api.ts
  libs/mock-block-dock/dev/test-react-block.tsx
  libs/mock-block-dock/src/service-module-callbacks.ts
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/service-callbacks.tsx
Labels: area: apps > site, area: libs > mock-block-dock, area: libs > @local/*, area: apps, area: libs, area: libs > wordpress-plugin

#1312 Version Packages
  .changeset/hot-boxes-occur.md
  .changeset/hungry-pears-cough.md
  .changeset/silent-bottles-float.md
  .changeset/sixty-cars-share.md
  .changeset/soft-years-help.md
  apps/site/package.json
  blocks/feature-showcase/CHANGELOG.md
  blocks/feature-showcase/package.json
  libs/@blockprotocol/graph/CHANGELOG.md
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/hook/CHANGELOG.md
  libs/@blockprotocol/hook/package.json
  libs/@blockprotocol/service/CHANGELOG.md
  libs/@blockprotocol/service/package.json
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: area: apps > site, area: blocks, area: libs > mock-block-dock, area: libs > @Þ/graph, area: libs > block-template-react, area: libs > block-template-html, area: libs > block-template-custom-element, area: libs > @Þ/hook, area: libs > block-scripts, area: apps, area: libs

#1358 H-1868: Remove `completeText` from the wordpress plugin
  libs/wordpress-plugin/package.json
  libs/wordpress-plugin/plugin/trunk/block/edit-or-preview/edit/service-callbacks.tsx
  libs/wordpress-plugin/yarn.lock
Labels: area: dependencies, area: apps, area: libs, area: libs > wordpress-plugin

#1359 H-1981: Simplification of docs
  apps/site/src/_pages/roadmap/00_index.mdx
  apps/site/src/_pages/spec/00_index.mdx
  apps/site/src/pages/roadmap/[[...roadmap-slug]].page.tsx
  apps/site/src/util/mdx-utils.tsx
Labels: area: user success > spec, area: apps > site, area: apps, area: user success, type: writing

#1360 BP-79: Add 'icon' and 'labelProperty' to entity type metadata
  .changeset/tall-otters-push.md
  libs/@blockprotocol/graph/src/shared/types/ontology/entity-type.ts
Labels: area: libs > @Þ/graph, area: apps, area: libs
