Repository blockprotocol/blockprotocol, pull requests merged in 2024-03, with the labels that each got.

#1369 H-2305: Remove `GitHub Blocks` from planned environments
  apps/site/src/_pages/docs/1_blocks/01_environments.mdx
  apps/site/src/_pages/docs/3_services.mdx
  apps/site/src/components/pages/home/supported-applications.tsx
Labels: area: apps > site, area: apps, area: user success > docs, area: user success, type: writing

#1374 H-2387: Fix `@blockprotocol/graph` to account for draftIds
  .changeset/gorgeous-horses-pull.md
  libs/@blockprotocol/graph/src/shared/stdlib/subgraph/element/entity.ts
  libs/mock-block-dock/src/version.ts
Labels: area: libs > mock-block-dock, area: libs > @Þ/graph, area: apps, area: libs

#1375 H-2389: Export `@blockprotocol/core` HTML-related functions from dedicated path
  .changeset/proud-penguins-travel.md
  libs/@blockprotocol/core/package.json
  libs/@blockprotocol/core/src/html.ts
  libs/@blockprotocol/core/src/index.ts
  libs/@blockprotocol/core/src/types.ts
  libs/mock-block-dock/src/block-renderer.tsx
  libs/mock-block-dock/src/block-renderer/html.tsx
  libs/mock-block-dock/src/mock-block-dock.tsx
  libs/wordpress-plugin/plugin/trunk/block/shared/block-loader/block-renderer/html.tsx
Labels: area: libs > mock-block-dock, area: libs > @Þ/core, area: apps, area: libs, area: libs > wordpress-plugin

#1373 H-1971: Convert `@blockprotocol/core` to ESM only
  .changeset/silent-cars-visit.md
  apps/site/package.json
  libs/@blockprotocol/core/package.json
  libs/@blockprotocol/core/src/core-block-handler.ts
  libs/@blockprotocol/core/src/core-embedder-handler.ts
  libs/@blockprotocol/core/src/core-handler.ts
  libs/@blockprotocol/core/src/index.ts
  libs/@blockprotocol/core/src/module-handler.ts
  libs/@blockprotocol/core/src/react.ts
  libs/@blockprotocol/core/src/types.ts
  libs/@blockprotocol/core/tsconfig.build.cjs.json
  libs/@blockprotocol/core/tsconfig.build.esm.json
  libs/@blockprotocol/core/tsconfig.json
  libs/@blockprotocol/graph/src/internal/mutate-subgraph/edge.ts
  libs/@blockprotocol/graph/src/shared/stdlib.ts
  libs/@blockprotocol/graph/src/shared/stdlib/interval.ts
  libs/@blockprotocol/graph/src/shared/stdlib/union-of-intervals.ts
  libs/@blockprotocol/graph/src/shared/types/block-graph.ts
  turbo.json
Labels: area: apps > site, area: infra, area: libs > @Þ/core, area: libs > @Þ/graph, area: apps, area: libs

#1376 Version Packages
  .changeset/gorgeous-horses-pull.md
  .changeset/proud-penguins-travel.md
  .changeset/silent-cars-visit.md
  apps/site/package.json
  blocks/feature-showcase/CHANGELOG.md
  blocks/feature-showcase/package.json
  libs/@blockprotocol/core/CHANGELOG.md
  libs/@blockprotocol/core/package.json
  libs/@blockprotocol/graph/CHANGELOG.md
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/hook/CHANGELOG.md
  libs/@blockprotocol/hook/package.json
  libs/@blockprotocol/service/CHANGELOG.md
  libs/@blockprotocol/service/package.json
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: area: apps > site, area: blocks, area: libs > mock-block-dock, area: libs > @Þ/core, area: libs > @Þ/graph, area: libs > block-template-react, area: libs > block-template-html, area: libs > block-template-custom-element, area: libs > @Þ/hook, area: libs > block-scripts, area: apps, area: libs

#1381 BP-93: Fix broken links
  apps/site/src/_pages/docs/5_faq.mdx
  apps/site/src/_pages/legal/00_index.mdx
  apps/site/src/_pages/legal/acceptable-use/11_appeals.mdx
  apps/site/src/_pages/legal/acceptable-use/4_doxxing.mdx
  apps/site/src/_pages/legal/acceptable-use/6_impersonation.mdx
  apps/site/src/_pages/legal/privacy/1_private-information-removal.mdx
  apps/site/src/_pages/legal/terms/00_index.mdx
  apps/site/src/_pages/legal/terms/01_products.mdx
  apps/site/src/_pages/legal/terms/dpa/00_index.mdx
  apps/site/src/_pages/spec/03_hook.mdx
Labels: area: user success > spec, area: apps > site, area: apps, area: user success > docs, area: user success, type: writing
