Repository blockprotocol/blockprotocol, pull requests merged in 2024-02, with the labels that each got.

#1310 BP-49: Remove `node-fetch`
  .changeset/gold-bananas-check.md
  .github/actions/warm-up-repo/action.yml
  apps/site/package.json
  apps/site/src/lib/api/blocks/s3.ts
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/graph/src/codegen/initialize/traverse/fetch.ts
  libs/@local/package-chores/scripts/smoke-test-create-block-app.ts
  libs/blockprotocol/cli/commands/publish/post-form.js
  libs/blockprotocol/package.json
Labels: area: apps > site, area: infra, area: libs > blockprotocol, area: libs > @local/*, area: libs > @Þ/graph, area: apps, area: libs

#1364 Version Packages
  .changeset/gold-bananas-check.md
  apps/site/package.json
  blocks/feature-showcase/CHANGELOG.md
  blocks/feature-showcase/package.json
  libs/@blockprotocol/graph/CHANGELOG.md
  libs/@blockprotocol/graph/package.json
  libs/@blockprotocol/hook/CHANGELOG.md
  libs/@blockprotocol/hook/package.json
  libs/block-scripts/CHANGELOG.md
  libs/block-scripts/package.json
  libs/block-template-custom-element/CHANGELOG.md
  libs/block-template-custom-element/package.json
  libs/block-template-html/CHANGELOG.md
  libs/block-template-html/package.json
  libs/block-template-react/CHANGELOG.md
  libs/block-template-react/package.json
  libs/blockprotocol/CHANGELOG.md
  libs/blockprotocol/package.json
  libs/mock-block-dock/CHANGELOG.md
  libs/mock-block-dock/package.json
Labels: area: apps > site, area: blocks, area: libs > blockprotocol, area: libs > mock-block-dock, area: libs > @Þ/graph, area: libs > block-template-react, area: libs > block-template-html, area: libs > block-template-custom-element, area: libs > @Þ/hook, area: libs > block-scripts, area: apps, area: libs

#1366 H-2263: Fix typo in `01_environments.mdx`
  apps/site/src/_pages/docs/1_blocks/01_environments.mdx
Labels: area: apps > site, area: apps, area: user success > docs, area: user success, type: writing
